.actionButtons_complianceList {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff !important;
  background: #6172d6 !important;
  padding: 8px 20px !important;
  border-radius: 4px !important;
  border: none !important;
}
.EmptyComplianceState_heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #5a5a5a;
}
.EmptyComplianceState_subHeading {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #5a5a5a;
}
