.changePasswordTitle {
  color      : #6172d6;
  font-weight: 700;
  margin     : 10px 0 10px 20px;
}

.IconStyle.valid-feedback {
  display  : block !important;
  width    : 1% !important;
  font-size: 20px !important;
  color    : #939393 !important;
  position : absolute !important;
  right    : 39px !important;
  top      : 20px !important;
}

.Revert {
  background-color: #fff;
  border          : 1px solid #ccc;
  color           : #000;
  border-radius   : 2px;
  width           : 120px;
  font-size       : 12px;
}

.changePasswordButtons {
  margin-top: 80px;
}

.Revert:hover {
  background-color: #fff;
  border          : 1px solid #ccc;
  color           : #000;
  border-radius   : 2px;
  width           : 120px;
}

.Revert:active,
.Revert:focus,
.Revert:target,
.Revert:visited,
.Revert:focus-visible,
.Revert:focus-within {
  background-color: #fff !important;
  border          : 1px solid #ccc !important;
  color           : #000 !important;
  border-radius   : 2px;
  width           : 120px;
}

.Update {
  background-color: #6172d6 !important;
  border          : 1px solid #ccc;
  color           : #fff;
  border-radius   : 2px;
  width           : 120px;
  font-size       : 12px;
}

.Update:active,
.Update:focus,
.Update:target,
.Update:visited,
.Update:focus-visible,
.Update:focus-within {
  background-color: #6172d6 !important;
  border          : 1px solid #ccc !important;
  color           : #fff !important;
  border-radius   : 2px;
  width           : 120px;
}

.passwordTextHandler {
  background-color: #e6eaf7;
  padding         : 5px;
  color           : #fff;
  border          : #707070;
  border-radius   : 2px;
}

.passwordCheckBox {
  background-color: #e6eaf7;
  padding         : 10px 20px;
}

.password-must {
  color: #5A5A5A !important;
}