.leftHeadingStyle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #5a5a5a;
}
.dropdownHeading {
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  color: #5a5a5a;
  padding-bottom: 4px;
}

.endYearText {
  font-weight: 600;
  font-size: 20px;
  color: #5a5a5a;
}
