p.SelectAll {
  margin: 0 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #5a5a5a;
  margin: 0;
}

.addReviewersCheckbox {
  display: flex;
  gap: 15px;
  justify-content: end;
  align-items: center;
  vertical-align: middle;
}

.Cancel-Button,
.Cancel-Button:is(:hover, :active, :focus, :focus-visible, :target) {
  width: 103px !important;
  height: 39px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
}

.Add-Button,
.Add-Button:is(:hover, :active, :focus, :focus-visible, :target) {
  width: 153px !important;
  height: 39px !important;
  border: 1px solid #5f78d6 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #fff !important;
  background: #5f78d6 !important;
}

.agendaTitleCheckbox {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  vertical-align: middle;
}

.agenda-title {
  font-weight: 600;
  font-size: 16px;
  color: #5f78d6;
  margin: 0;
}

.minuteWrapper {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 4px;
}

.minuteParentLabel {
  flex: auto;
  margin-right: 50px !important;
  margin-bottom: 0 !important;
  display: block;
  overflow: hidden;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5a5a5a;
}

span.view-details {
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: underline;
  color: #6172d6;
  cursor: pointer;
  display: flex;
  align-items: end;
}
