@font-face {
  font-family: "MontserratRegular";
  src: url("./../../../assets/fonts-new/montserrat-regular-webfont.woff"),
    url("./../../../assets/fonts-new/montserrat-regular-webfont.woff2");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("./../../../assets/fonts-new/montserrat-600-webfont.woff"),
    url("./../../../assets/fonts-new/montserrat-600-webfont.woff2");
}

@font-face {
  font-family: "MontserratMedium-500";
  src: url("./../../../assets/fonts-new/montserrat-500-webfont.woff"),
    url("./../../../assets/fonts-new/montserrat-500-webfont.woff2");
}

.Committee {
  background: #fff !important;
  width: 100% !important;
  height: 315px !important;
  border: 1px solid#81DB86 !important;
  border-radius: 4px !important;
  position: relative;
}

.Committee_InActive {
  background: #fff !important;
  width: 100% !important;
  height: 315px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative;
}

.Dropdown-container-Committee {
  background: #fff !important;
  height: 34.8vh !important;
  /* border: 1px solid #707070 !important; */
  width: 80% !important;
  z-index: 99999 !important;
  position: absolute;
  top: 60px !important;
  right: 12px !important;
  padding: 10px !important;
  border-radius: 4px !important;
  box-shadow: 0px 0px 5px #ccc;
}

.HR-line-Committee-group {
  color: #5a5a5a !important;
  margin: 1px !important;
}

.Dropdown-container-editIcon-Committee-Group {
  background: #fff !important;
  height: auto !important;
  width: 40% !important;
  z-index: 99999 !important;
  position: absolute;
  top: 60px !important;
  right: 35px !important;
  padding: 10px !important;
  border-radius: 4px !important;
  box-shadow: 0px 0px 5px #ccc;
}

.Active-status-Committee-Group {
  background-color: #ebf8ef !important;
  color: #81db86 !important;
  width: 100% !important;
  padding: 4px !important;
  font-size: 15px !important;
  border-radius: 2px !important;
}

.In-Active-status-Committee-Group {
  background-color: #e1e1e1 !important;
  color: #5A5A5A !important;
  padding: 4px !important;
  width: 100% !important;
  font-size: 15px !important;
  border-radius: 2px !important;
}

/* .Status-Committee-Group {
} */

.group-icon-Committee-Group {
  height: 55px;
  width: 55px;
  background: linear-gradient(to bottom, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 30px;
  font-size: 20px !important;
  padding: 10px !important;
}
.group-icon-Committee-Group_InActive {
  height: 55px;
  width: 55px;
  background: linear-gradient(to bottom, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 30px;
  font-size: 20px !important;
  padding: 10px !important;
  opacity: 50%;
}
body[dir="rtl"] .group-icon-Committee-Group {
  margin-left: 18px !important;
}

.Tagline-Committee-Group {
  line-height: 1.3rem !important;
}

.card-heading-Committee-Group {
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.card-heading-Committee-Group_InActive {
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 50%;
} 
.namesCards-Committee-Group {
  width: 35px !important;
  font-size: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize !important;
  height: 14px !important;
  /* margin: 0;
  padding: 0; */
}

.roundnumber {
  background-color: #6172d6;
  height: 30px !important;
  width: 30px !important;
  border-radius: 20px !important;
  color: #ffffff;
  font-size: 12px !important;
  padding: 6px !important;
}

.Two-Icons-style-Committee-Group {
  position: absolute;
  top: 35px;
  right: 0;
  cursor: pointer;
}
.Two-Icons-style-Committee-Group_InActive {
  position: absolute;
  top: 35px;
  right: 0;
  pointer-events: none ;
}
body[dir="rtl"] .Two-Icons-style-Committee-Group {
  position: absolute;
  top: 35px;
  left: 15px;
}

.update-Committee-btn {
  padding: 12px 45px !important;
  font-size: calc(14px - 20%);
  background: #6172d6;
  color: #fff;
  font-weight: 600;
  border-radius: 4px !important;
  border: none !important;
}

.update-Committee-btn:hover {
  background-color: #6172d6 !important;
}

.update-Group-btn:hover {
  background-color: #6172d6 !important;
}

body[dir="rtl"] .Dropdown-container-Committee {
  left: auto !important;
  right: 43px !important;
}

body[dir="rtl"] .Dropdown-container-editIcon-Committee-Group {
  left: auto !important;
  right: 120px !important;
}

.Dropdown-container-Committee:hover {
  border-color: #6172d6 !important;
  border-radius: 4px !important;
}

.ContainerForcards {
  max-width: 345px !important;
  height: 315px !important;
  border: 1px solid#81DB86 !important;
  border-radius: 4px !important;
  width: 100% !important;
  position: relative;
}

.profile_cards {
  /* display: flex;
  justify-content: center;
  margin: 15px auto; */
  margin: 0 auto;
  width: 260px;
  display: inline-block;
  text-align: center !important;
}

.card_profile_box {
  text-align: center !important;
  justify-content: center;
  display: grid;
  margin: 10px 0 !important;
}
.card_profile_box_InActive {
  text-align: center !important;
  justify-content: center;
  display: grid;
  margin: 10px 0 !important;
  opacity: 50%;
}

.namecards_morethan-3 {
  display: block;
  width: 37px !important;
  height: 37px !important;
  border-radius: 50%;
  background-color: #6172D6 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "MontserratSemiBold";
}
.namecards_morethan-3_InActive {
  display: block;
  width: 37px !important;
  height: 37px !important;
  border-radius: 50%;
  background-color: #6172D6 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "MontserratSemiBold";
  opacity: 50%;
}