.allMeeting-cloumn-row {
  position: relative !important;
  /* transition: opacity 0.3s; */
  overflow: auto !important;
  padding: 10px !important;
  background: #fff !important;
}

.btnAllmeeting-Reset {
  width: 120px !important;
  height: 29px !important;
  border: none;
  border-radius: 2px;
  background-color: #076db7;
}

.searchbar-Meeting-textfield {
  padding: 0 0px 0px 0px;
  position: relative !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}

.MeetingfilterModal {
  position: absolute;
  top: -1px;
  right: 30px;
  font-size: 21px;
}

body[dir="rtl"] .MeetingfilterModal {
  top: -1px;
  right: auto;
  left: 30px;
}

.btnMeetingReset {
  width: 120px !important;
  margin-right: -10px !important;
  height: 35px !important;
  border: none;
  border-radius: 1px;
  background-color: rgb(117, 117, 117);
  margin-bottom: 30px !important;
}

.btnMeetingReset:hover {
  background-color: rgb(232, 232, 232) !important;
  color: rgb(8, 8, 8) !important;
  border: none !important;
}

.Meeting-Main-Heading {
  margin-top: -5px;
  font-weight: 600;
  font-size: 30px !important;
}

.Meeting-modal-container {
  padding: 10px !important;
}

.Meeting-label-heading {
  font-weight: 600;
  font-size: 35px !important;
}

.Meeting-Name-label {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
}

.formcontrol-names-fields-Meeting {
  margin-top: 20px;
  width: 100% !important;
  height: 33px !important;
  border-radius: 2px !important;
}

.selectbox-Meeting-organizationrole {
  margin-top: 15px !important;
  width: 100% !important;
}

.Meeting-Update-Btn {
  margin: 20px 0;
  width: 140px !important;
  height: 33px !important;
  border: none;
  border-radius: 0px;
  background-color: rgb(117, 117, 117);
}

.Meeting-Update-Btn:hover {
  background-color: rgb(232, 232, 232) !important;
  color: rgb(8, 8, 8) !important;
  border: none !important;
}

.formcontrol-fieldfor-filtermodalmeeting {
  margin-top: 20px;
  width: 100% !important;
  height: 35px !important;
  border-radius: 2px !important;
}

.formcontrol-fieldselectfor-filtermodalmeeting {
  border-radius: 3px !important;
  margin-top: 20px !important;
  width: 100% !important;
  height: 33px !important;
}

.icon-modalmeeting-ResetBtn {
  width: 100px !important;
  height: 33px !important;
  border: none;
  border-radius: 0px;
  background-color: rgb(117, 117, 117);
}

.icon-modalmeeting-ResetBtn:hover {
  background-color: rgb(232, 232, 232) !important;
  color: rgb(8, 8, 8) !important;
  border: none !important;
}

.delete-modal-title {
  padding: 20px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.meeting-title {
  width: 120px !important;
  text-overflow: ellipsis !important; 
  white-space: nowrap !important;
  overflow: hidden;
}
.agenda-title {
  width: 60px !important;
  text-overflow: ellipsis !important; 
  white-space: nowrap !important;
  overflow: hidden;
}