.Resolution_create_heading {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Details_New_resolution {
  font-size: 20px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Create_new_resolution_paper {
  width: 1429px !important;
  height: 708px !important;
  padding: 58px 58px !important;
}

.Circulation_heading {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Voting_deadline_Create_resolution {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.decision_annoucement_Createresoulution {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}
.Reminder {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Voters_Btn_Createresolution {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}
.Voters_Btn_Createresolution:focus,
.Voters_Btn_Createresolution:focus-visible,
.Voters_Btn_Createresolution:hover {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}
.Voters_Btn_Createresolution_Active {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: linear-gradient(to bottom, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  font-family: "MontserratSemiBold" !important;
  border-radius: 4px !important;
  border: none !important;
}

.Non_Voters_Btn_Createresolution_Active {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: linear-gradient(to bottom, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  font-family: "MontserratSemiBold" !important;
  border-radius: 4px !important;
  border: none !important;
}
.Non_Voters_Btn_Createresolution {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold" !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}
.ADD_Button_Createresolution {
  padding: 12px 30px !important;
  height: 39px !important;
  background: #6172d6 !important;
  color: #fff;
  font-size: 12px !important;
  border: none !important;
  margin-top: 13px !important;
}
.ADD_Button_Createresolution:focus,
.ADD_Button_Createresolution:active,
.ADD_Button_Createresolution:focus-visible,
.ADD_Button_Createresolution:hover {
  padding: 12px 30px !important;
  background: #6172d6 !important;
  height: 39px !important;
  color: #fff !important;
  font-size: 12px !important;
  border: none !important;
  margin-top: 13px !important;
}

.Non_Voters_Btn_Createresolution:hover,
.Non_Voters_Btn_Createresolution:focus,
.Non_Voters_Btn_Createresolution:focus-visible {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold" !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}
.Attachments_resolution {
  font-size: 20px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Leftpolygon {
  background: none;
  border: none;
}

.Leftpolygon:hover,
.Leftpolygon:active,
.Leftpolygon:focus,
.Leftpolygon:focus-visible {
  background: none !important;
  border: none !important;
}
.Name_participant_resolution {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
}

.Email_participant_createresolution {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #6166ff !important;
  text-decoration: underline !important;
}

.Designation_Participant_createresolution {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a !important;
}

.Participant_info_createResolution {
  line-height: 15px !important;
}

.scroll-bar-Create-resolution {
  height: 15vh !important;
  overflow-x: hidden !important;
}

.scroll-bar-Create-resolution::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.scroll-bar-Create-resolution::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Save_button_Createresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: 1px solid #d4d4d4 !important;
}

.Discard_button_Createresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fb9494;
  font-family: "MontserratSemiBold";
  color: #fff;
  border-radius: 4px !important;
  border: 1px solid #d4d4d4 !important;
}

.Discard_button_Createresolution:hover,
.Discard_button_Createresolution:active,
.Discard_button_Createresolution:focus,
.Discard_button_Createresolution:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fb9494 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: 1px solid #d4d4d4 !important;
}
.Update_button_Createresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6;
  font-family: "MontserratSemiBold";
  color: #fff;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: 1px solid #d4d4d4 !important;
}
.Update_button_Createresolution:hover,
.Update_button_Createresolution:active,
.Update_button_Createresolution:focus,
.Update_button_Createresolution:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  font-family: "MontserratSemiBold";
  color: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #d4d4d4 !important;
}

.Save_button_Createresolution:hover,
.Save_button_Createresolution:active,
.Save_button_Createresolution:focus,
.Save_button_Createresolution:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";

  border-radius: 4px !important;
  border: 1px solid #d4d4d4 !important;
}
.circulate_button_Createresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold";
  border: 1px solid #e1e1e1 !important;
}
.circulate_button_Createresolution:hover,
.circulate_button_Createresolution:active,
.circulate_button_Createresolution:focus,
.circulate_button_Createresolution:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  font-family: "MontserratSemiBold";
  color: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}
.Draft_box_Edit {
  width: auto !important;
  height: 25px !important;
  background: #6166ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute !important;
  top: 64px !important;
  left: 8.7% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Class_for_label_Edit_resolution {
  font-size: 12px !important;
  color: #5a5a5a;
  margin-top: 13px !important;
  margin-left: 4px !important;
}

body[dir="rtl"] .Class_for_label_Edit_resolution {
  font-size: 12px !important;
  color: #5a5a5a;
  margin-top: 13px !important;
  margin-right: 5px !important;
}

body[dir="rtl"] .Draft_box_Edit {
  width: auto !important;
  left: 87.5% !important;
}

body[dir="rtl"] .Leftpolygon {
  transform: rotate(180deg);
}
.Circulated_box_Edit {
  width: 67px !important;
  height: 25px !important;
  background: #6de595;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute !important;
  top: 64px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Edit_draft_Tag {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #fff;
}

.CheckBoxalign {
  display: flex !important;
  justify-content: start !important;
  margin-left: -10px !important;
}

body[dir="rtl"] .CheckBoxalign {
  margin-right: -20px !important;
}
