.form-control2 {
    border-radius: 4px !important;
    border-color : #707070 !important;
    font-size    : 13px !important;
}
.form-control2::placeholder {
    font-family: 'MontserratSemiBold-600';
}
.relativePosition {
    position: relative !important;
}

.PasswordIcon {
    display: block !important;
    width: 1% !important;
    /* margin-top: 0.25rem; */
    font-size: 20px !important;
    color: #198754 !important;
    position: absolute !important;
    right: 20px !important;
    top: 23px !important;
}