/* Accordion Container */
.accordion-custom {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 15px 10px;
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;

  /* animation */
  max-height: 50px; /* collapsed height */
  transition: max-height 0.35s ease;
}
/* Expanded state */
.accordion-custom.expanded {
  max-height: 500px; /* must be greater than content */
}
/* Accordion Container */
.accordion-customForChecklist {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 10px 10px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 10px;

  /* animation */
  max-height: 44px; /* collapsed height */
  transition: max-height 0.35s ease;
}
.accordion-customForChecklist.expanded {
  max-height: 500px; /* must be greater than content */
}

.FirstRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-cont {
  width: 33.33%;
  justify-content: flex-start;
  display: flex;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px !important;
  color: #2197d7;
  cursor: pointer !important;
}
.dateTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  gap: 20px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 33.33%;
  gap: 20px;
}
.SecondRow {
  width: 100%;
  height: auto;
  opacity: 0;
  padding: 12px 10px;
}
.SecondRow.show {
  width: 100%;
  height: auto;
  opacity: 1;
  padding: 12px 10px;
}
.SecondRowForChecklist {
  width: 100%;
  height: auto;
  opacity: 0;
  padding-top: 12px;
}
.SecondRowForChecklist.show {
  width: 100%;
  height: auto;
  opacity: 1;
  padding-top: 12px;
}
