.warningIcon {
  fill: #fff;
  font-size: 16px;
  margin-right: 10px;
}

body[dir="rtl"] .warningIcon {
  fill: #fff;
  font-size: 16px;
  margin-right: 0 !important;
  margin-left: 10px !important;
}

.warnignMessage {
  font-size: 18px;
}

.subscription_warning {
  background-color: #f16b6b;
  color: #fff;
  margin: 0;
  border: none;
}
