.warningIcon {
    fill: #fff;
    font-size: 16px;
    margin-right: 10px;
}
.warnignMessage {
    font-size: 16px;
}
.subscription_warning {
    background-color: #f16b6b;
    color: #fff;
    font-weight: 900;
    margin: 0;
    border: none;
}