.upcomingComplianceCard {
  width: 100%;
  height: 211px; /* fixed height */
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
  padding: 16px 20px;
  transition: all 0.3s ease;
}
.upcomingComplianceCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardHeading {
  font-size: 24px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #6172d6;
  margin: 15px 0px 0px 0px;
}

.itemSpacing {
  margin-left: 30px; /* space between the two groups */
}

.checkUpcomingCenter{
  display: flex;
  align-items: center !important;
}

.deadlineRow {
  display: flex;
  flex-direction: row;  /* stack */
  gap: 20px;
}

.boldNumber {
  font-weight: 700;
  font-size: 40px;
  font-family: "Montserrat";
  color: #5a5a5a;
}

.normalText {
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 16px;
  margin-left: 5px;
  color: #5a5a5a;
}


.NoUpcomingDeadlineCard {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
  height: 100%;
  text-align: left;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.NoUpcomingDeadlineCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.NoDataCardHeading {
  font-size: 24px;
  font-weight: 700;
  color: #6172d6;

  max-width: 900px; /* 🔥 SAME WIDTH AS CONTENT */
  width: 100%;
  padding: 0px 20px;
  margin-top: 12px;
  text-align: left;
}
