.No {
  padding: 12px 30px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-weight: 600;
}
.Yes {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  background: #6172d6 !important;
  color: #ffffff !important;
  border-radius: 4px !important;
  font-weight: 600;
}
.information_text {
  font-size: 16px !important;
  color: #5a5a5a;
  font-weight: 600;
}
