@font-face {
  font-family: "MontserratSemiBold";
  src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
}

.EmailVerifyBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 380px !important;
  padding: 0 45px;
}

.signIn_heading {
  font-size: calc(35px - 20%) !important;
  user-select: none;
  color: #6172d6;
  font-family: "MontserratSemiBold";
}

.Next_button_EmailVerify {
  width: 280px;
  border-radius: 1px;
}

.subscribNow_button_EmailVerify {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6;
  border: 1px solid #6172d6;
  font-family: "MontserratSemiBold-600";
  text-transform: uppercase;
}

.subscribNow_button_EmailVerify:hover {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6;
  border: 1px solid #6172d6;
}

.newpasswordField {
  position: relative;
}

.view_password {
  position: absolute;
}

.password_check_icon_X {
  font-size: 18px;
}

.passwordTextHandler li span {
  color: #000 !important;
  margin-top: 0 !important;
}

.passwordTextHandler svg {
  width: 14px;
}

/* Auth Icon and style of heading which we are using in all auth pages */
/* Start */
.Auth_Icon {
  position: absolute;
  right: -105px;
  bottom: -130px;
  transform: rotate(73deg);
  z-index: 99999;
}

.Login_page_text {
  display: flex;
  margin-top: 8%;
  flex-direction: column;
  margin-left: 40px;
}

.Login_page_text h1 {
  font-size: calc(60px - 20%) !important;
  font-family: "MontserratSemiBold";
  margin: 0 !important;
  width: 114%;
}

.createpassword_auth_paper {
  margin-left: 60px;
  padding: 30px 0;
}

.heading-1 {
  color: #6172d6;
}

.heading-2 {
  color: #4adede;
}

.create-password.valid-feedback {
  display: block !important;
  width: 1% !important;
  font-size: 20px !important;
  color: #939393 !important;
  position: absolute !important;
  right: 40px !important;
  top: -3px !important;
}

/* End */
.IconStyle {
  display: block !important;
  width: 1% !important;
  font-size: 20px !important;
  color: #939393 !important;
  position: absolute !important;
  right: 40px !important;
  top: 18px !important;
}
