.videoOutgoing {
  position: relative;
  display: content !important;
  height: 80vh;
  width: 100%;
  background-color: #707070 !important;
  top: 30px !important;
  /* border: 2px solid #ccc; */
  justify-content: center;
  align-items: center;
}

/* .micModal-size .modal-content {
  position: relative;
  left: 100px;
  height: 280px !important;
  width: 400px !important;
  border-radius: 4px !important;
  display: flex !important;
  justify-content: center !important;
  border: 1px solid #e1e1e1 !important;
  padding: 30px 22px;
}

.modal-content:has(.modal-body .row.confirmationDialogue) {
  height: auto !important;
  margin-left: -70px !important;
} */

.multiple-video-It-Title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  position: relative;
  top: 20px;
  color: #fff !important;
}

.multiple-video-waiting-title {
  font-size: 12px;
  position: relative;
  top: 5px;
  color: #fff !important;
}
.multiple-host-title {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: 10px;
  color: #fff !important;
}

.Participants-text {
  font-size: 16px !important;
  color: #fff !important;
  font-weight: 600;
}

.Ringing-text {
  font-size: 15px !important;
  color: #fff !important;
}

.avatar-column {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px !important;
}

.outgoing-title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px !important;
}

.calling-title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px !important;
}

.button-img {
  background-color: transparent !important;
  border: none !important;
}

.bottom-images-width {
  width: 100% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
