.Vote_Heading {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Sub_heading_VoteResolution {
  font-size: 20pt !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.VotingPage_paper {
  height: 708px !important;
  width: 1429px !important;
  padding: 50px 50px !important;
}

.Gray_Border_box {
  width: 775px;
  height: 230px;
  background: #fff !important;
  border: 1px solid #707070;
  border-radius: 4px !important;
  margin-left: 12px !important;
}

.Abstain_btn_vote_resolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #828282 !important;
  color: #828282 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.Abstain_btn_vote_resolution:is(
    :hover,
    :active,
    :focus-visible,
    :focus,
    :visited
  ) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #828282 !important;
  color: #828282 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.Abstain_btn_vote_resolution_Active {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #828282 !important;
  border: 1px solid #828282 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.Abstain_btn_vote_resolution_Active:is(
    :hover,
    :active,
    :focus-visible,
    :focus,
    :visited
  ) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #828282 !important;
  border: 1px solid #828282 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
/* .Abstain_btn_vote_resolution:hover {
  background: #fff;
  color: #828282;
  border: 1px solid #828282;
} */
.Notapproved_btn_voteresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #f16b6b !important;
  color: #f16b6b !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.Notapproved_btn_voteresolution:is(
    :hover,
    :focus,
    :focus-visible,
    :visited,
    :active
  ) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #f16b6b !important;
  color: #f16b6b !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.Notapproved_btn_voteresolution_Active {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #f16b6b !important;
  border: 1px solid #f16b6b !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.Notapproved_btn_voteresolution_Active:is(
    :hover,
    :focus,
    :focus-visible,
    :visited,
    :active
  ) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #f16b6b !important;
  border: 1px solid #f16b6b !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}

.approved_btn_voteresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #6de595 !important;
  color: #6de595 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.approved_btn_voteresolution:is(
    :hover,
    :focus,
    :focus-visible,
    :visited,
    :active
  ) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #6de595 !important;
  color: #6de595 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.approved_btn_voteresolution_Active {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6de595 !important;
  border: 1px solid #6de595 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}
.approved_btn_voteresolution_Active:is(
    :hover,
    :focus,
    :focus-visible,
    :visited,
    :active
  ) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6de595 !important;
  border: 1px solid #6de595 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px !important;
}

.Voters_voteResolution {
  font-size: 16pt !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Scroller_voteresolution {
  height: 16vh !important;
  overflow-x: hidden !important;
}

.Scroller_voteresolution::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_voteresolution::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Total_voters_voteResolution {
  font-size: 16pt !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.No_of_Votes_voteResolution {
  font-size: 16pt !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Pending_status_voteResolutionBox {
  width: 350px !important;
  height: 136px !important;
  background-color: #fff !important;
  border: 1px solid #ddb227;
  border-radius: 4px !important;
}

.Status_voteResolutioin {
  font-size: 30pt !important;
  font-family: "MontserratSemiBold";
  color: #ddb227 !important;
}

.close_btn_VoteResolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  border: 1px solid #e1e1e1;
  color: #5a5a5a;
}
.close_btn_VoteResolution:hover,
.close_btn_VoteResolution:focus,
.close_btn_VoteResolution:focus-visible,
.close_btn_VoteResolution:active {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a !important;
}
.save_btn_VoteResolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  background: #6172d6;
  color: #fff;
}

.save_btn_VoteResolution:hover,
.save_btn_VoteResolution:focus,
.save_btn_VoteResolution:focus-visible,
.save_btn_VoteResolution:active {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  background: #6172d6 !important;
  color: #fff !important;
}
.Your_vote_voteresolution {
  font-size: 30px !important;
  color: #6172d6;
  font-family: "MontserratSemiBold";
}
.VotingMethods_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px !important;
  min-height: 200px;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
}
.VotingMethods_box span {
  font-family: "MontserratSemiBold";
  font-size: 16px !important;
  color: #6172d6 !important;
}
