.ConfirmationHeading {
  font-size: 20px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600" !important;
}

body[dir="rtl"] .ConfirmationHeading {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.CancelButton {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600" !important;
}

.CancelButton:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600" !important;
}

body[dir="rtl"] .CancelButton {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.ProceedButtonStyles {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold-600" !important;
}

.ProceedButtonStyles:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold-600" !important;
}

body[dir="rtl"] .ProceedButtonStyles {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}
