.Heading_For_Updated_successfully {
  font-size: 20pt;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

body[dir="rtl"] .Heading_For_Updated_successfully {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Heading_Success_updateResolution {
  font-size: 20pt;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

body[dir="rtl"] .Heading_Success_updateResolution {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Tik_arrow {
  position: absolute;
  top: 40px;
}
