.MeetinMaterial_Heading {
  color: #5f78d6 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.Bottom_Line {
  width: 98% !important;
  border: 1px solid #e1e1e1 !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 8px !important;
}

.ViewMinutesButton {
  width: 96px !important;
  height: 22.666px;
  background: #5f78d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 8px !important;
  font-weight: 600 !important;
  border: none !important;
}

.ViewMinutesButton:is(:hover, :active, :focus, :focus-visible) {
  width: 96px !important;
  height: 22.666px;
  background: #5f78d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 8px !important;
  font-weight: 600 !important;
  border: none !important;
}

.ViewMinutesButtonSubAgendaViewButton {
  width: 96px !important;
  height: 22.666px;
  background: #5f78d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 8px !important;
  font-weight: 600 !important;
  border: none !important;
  margin-left: -8px !important;
}

.ViewMinutesButtonSubAgendaViewButton:is(
    :hover,
    :active,
    :focus,
    :focus-visible
  ) {
  width: 96px !important;
  height: 22.666px;
  background: #5f78d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 8px !important;
  font-weight: 600 !important;
  border: none !important;
  margin-left: -8px !important;
}

.ButtonsAftersaved {
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  gap: 10px !important;
}

.ButtonsAftersaved:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  gap: 10px !important;
}

.ButtonsAftersavedEdit {
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  gap: 10px !important;
}

.ButtonsAftersavedEdit:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  gap: 10px !important;
}
