.ProposedMeetingHeading {
  font-size: 30px !important;
  font-weight: 600 !important;
  color: #5f78d6;
}

.ProposedNewMeetingPaper {
  width: 100% !important;
  height: auto !important;
  min-height: 78vh !important;
  padding: 40px 50px !important;
  margin-bottom: 20px !important;
}

.Sub_headings {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #5f78d6;
}

.res_steric {
  color: #f16b6b;
  font-size: 12px !important;
}

.Scroller_ProposedMeeting {
  height: 13vh !important;
  overflow-x: hidden !important;
}

.Scroller_ProposedMeeting::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_ProposedMeeting::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Box_for_Assignee {
  width: 246px !important;
  height: 60px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

.VerticalSeperator {
  height: auto !important;
  min-height: 55vh;
  border: 2px solid #e1e1e1;
}

.errorMessage-inLogin {
  margin: 2px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
  font-weight: 600 !important;
}

body[dir="rtl"] .errorMessage-inLogin {
  font-weight: 600 !important;
}

.errorMessage-inLogin_hidden {
  visibility: hidden;
  margin: 0;
  height: 0px;
  color: #f16b6b;
}

.Add_Dates_Btn_Class {
  border: 1px dotted #ccc !important;
  background: #fff !important;
  border-radius: 4px !important;
  height: 39px !important;
  width: 100%;
}

.Add_dates_label {
  font-size: 12px !important;
  color: #5a5a5a !important;
  font-weight: 500 !important;
}

.Scroller_Proposed_Dates {
  height: 22vh !important;
  overflow-x: hidden !important;
}

.Scroller_Proposed_Dates::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_Proposed_Dates::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Cancel_Button_Proposed_Meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #fff;
  color: #5a5a5a;
}

.Cancel_Button_Proposed_Meeting:is(:hover, :focus, :active, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #fff !important;
  color: #5a5a5a !important;
}

.Proposed_Button_Proposed_Meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  color: #fff !important;
}

.Proposed_Button_Proposed_Meeting:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  color: #fff !important;
}

.ParticipantName {
  font-size: 12px !important;
  color: #5a5a5a !important;
  font-weight: 600 !important;
  display: inline-block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 200px !important;
}

.Add_Button_Proposed_Meeting {
  padding: 10px 25px !important;
  font-size: 12px !important;
  border: none !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  color: #fff !important;
}

.Add_Button_Proposed_Meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 10px 25px !important;
  font-size: 12px !important;
  border: none !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  color: #fff !important;
}
.Add_participants {
  padding: 10px 25px !important;
  font-size: 12px !important;
  border: none !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  color: #fff !important;
}

.Cross_icon_class {
  cursor: pointer !important;
}
