.labelHeading-Title {
    color: #076db7 !important;
    font-size: 30px;
    text-align: left !important;
}

.select-timezone {
    width: 200px !important;
    border-radius: none !important;
}

.select-Country {
    width: 100px !important;
    border-radius: none !important;
}

.labelh1 {
    text-align: start !important;
    color: black !important;

}

.paperOrganization {
    margin-top: 30px !important;
    margin-left: 90px;
    color: #fff;
}

.OrganizerlevelSetting {
    max-height: 65vh !important;
    overflow-y: auto;
    margin-top: 10px;
    padding: 20px;

}

.OrganizerlevelSetting::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 20px;
    border: 1px solid #076db7;
    background-color: #fff;
}

.OrganizerlevelSetting::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(to left, #49DBDB 0%, #6172D6 100%);
}

.organization-level-resetBtn {
    width: 160px;
    background: #fff;
    border-radius: 1px;
    border: 1px solid #076db7;
    color: #000;
}
.organization-level-resetBtn:hover {
    background: #fff !important;
    color: #000;
}
.organization-level-updateBtn {
    width: 160px;
    background: linear-gradient(to left, #49DBDB 0%, #6172D6 100%);
    border-radius: 1px;
    color: #fff;
    border: none;
}

