.required_star {
  color: red;
}
.SignInButton-col {
  text-align: center;
}

.signupHeading {
  color: #2197d7 !important;
  font-weight: 500 !important;
}

.paperpadding {
  padding: 7% !important;
}

.labellight {
  color: #2197d7 !important;
  font-weight: 500 !important;
}

.SignUuppadding {
  background: #ffffff;
  padding: 20px;
  width: 900px !important;
}



