
  .EmailVerifyBoxSendEmail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 370px !important;
    padding: 0 20px;
  }
  
  
  .Next_button_EmailVerifySendEmail {
    width: 100%;
    border-radius: 4px;
    margin-left: 23px;
    margin-right: 6px;
    background-color: #6172d6 !important;
    color: #fff !important;
    border: none !important;
    font-family: "MontserratSemiBold";
  }
  
  .Next_button_EmailVerifySendEmail:focus-visible {
    width: 100%;
    border-radius: 4px;
    background-color: #6172d6 !important;
    color: #fff !important;
    border: none !important;
    font-family: "MontserratSemiBold";
  }
 
 
 
  
  .Send_Email_Realme {
    padding: 40px 45px;
    border: 1px solid #E1E1E1;
  }
  
 
  
  .forogt_email_link {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: "MontserratRegular";
  }
  
  .forogt_email_link a {
    color: #171d2d !important;
  }
  
  
  .EmailBoxSendRealme{
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .FAsendEmailRealme{
    margin-left: 0.1rem;
  }

  .SelectLineTwofacSendEmail{
    margin-top: -0.9rem;
    color: #5A5A5A;
    margin-left: 0.4rem;
    font-weight: bold;
    font-family: 'MontserratSemiBold-600';
  }

  .VerifyHeadingTwofacSendEmail{
    font-weight: bold;
    color: #5A5A5A;
    margin-left: 0.4rem;
    margin-top: 5rem;
    font-family: 'MontserratSemiBold-600';
  }



 .Auth_Icon1SendEmailRealme{
  position: absolute;
  left: 24%;
  top: 15%;
  z-index: 9;
 }

 .circle-imageSendEmailRealme{
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
 }

 .SendEmailOnDeiveColor{
  font-weight: bold;
  color: #5A5A5A;
  font-family: 'MontserratSemiBold-600';
 }

 .SendEmailOnDeiveColor_active{
  font-weight: bold;
  color: #ccc;
  font-family: 'MontserratSemiBold-600';
 }