.labelStyle {
  font-weight: 700 !important;
  /* font-style: Bold; */
  font-size: 10px;
  line-height: 100%;
  color: #6172d6;
  margin: 0;
}
.labelStyleActive {
  font-weight: 700 !important;
  /* font-style: Bold; */
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6172d6;
  padding-right: 20px;
}

.datepicker_input {
  margin-top: 2px;
  padding: 0px 10px !important;
  border-radius: 4px !important;
  border: 1px solid #ced4da;
  max-width: 100% !important;
  min-width: 100% !important;

  height: 39px !important;
  font-weight: 500;
  font-size: 12px !important;
  font-weight: 600 !important;
  cursor: pointer;
  outline: none !important;
}
.labelStyle {
  font-weight: 700 !important;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6172d6;
}
.sterick {
  color: #f16b6b;
}
.Select_label {
  margin-top: 8.2px;
}
.Compliance_CloseButton {
  border-radius: 4px;
  color: #5a5a5a;
  font-weight: 600;
  font-size: 12px;
  background: #ffff;
  border: 1px solid #e1e1e1;
  padding: 12px 30px;
}
.Compliance_CloseButton:is(:hover, :active, :focus, :focus-visible) {
  background: #ffff;
  color: #5a5a5a;
  border: 1px solid #e1e1e1;
  padding: 12px 30px;
}
.Compliance_NextButton {
  border-radius: 4px;
  background: #6172d6;
  font-weight: 600;
  border: 1px solid #6172d6;
  font-size: 12px;
  padding: 12px 30px;
}

.Compliance_NextButton:is(:hover, :active, :focus, :focus-visible) {
  border: 1px solid #6172d6;
  background: #6172d6;
  padding: 12px 30px;
}
.ChecklistButtonPosition {
  margin: 15px 0;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  right: 20px;
}

.mainButtonPosition {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  right: 20px;
}

.accordianChecklistTitle {
  font-weight: 600;
  font-size: 16px;
}
.ViewChecklistDetailStyles {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  color: #5a5a5a;
  margin: 0;
}

.AccordionArrowDown {
  transform: rotate(-180deg);
}

.checklistAccordian {
  max-height: 220px !important;
  overflow-y: auto;
  /* padding-right: 10px; */
  margin-top: 4px;
}
.createNewChecklistStyle {
  font-weight: 600;
  font-size: 12px;
  color: #6172d6;
  border: 1px dashed #bfc7d5;
  border-radius: 4px;
  height: 39px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
