.disabled-row {
  background-color: red;
  pointer-events: none;
}

.rowColor {
  background-color: none !important;
}

.ant-table-thead thead tr th {
  background-color: none !important;
}

.ant-table-wrapper.ToDo.ant-table-row {
  margin: 30px 0 0 0 !important;
  background: none !important;
}

.ant-table-tbody {
  margin: 20px 0 20px 0 !important;
}

.ant-table-thead > tr > th {
  background-color: none !important;
  white-space: nowrap !important;
  /* border-bottom   : 2px solid blue !important; */
}

.ant-table-thead tr {
  border-bottom: 3px solid #ccc !important;
}

.ant-table-cell::before {
  height: 0px !important;
}

.ant-table-wrapper.ToDo .ant-table .ant-table-thead > tr > th {
  background: none !important;
  border-bottom: none !important;
}

.ant-table-wrapper.ToDo .ant-table .ant-table-thead > tr > th:nth-child(5) {
  background: none !important;
  border-bottom: none !important;
  text-align: center !important;
}

.ant-table-wrapper.ToDo .ant-table .ant-table-thead > tr > th:nth-child(6) {
  background: none !important;
  border-bottom: none !important;
  text-align: center !important;
}

.ant-table-wrapper.Resolution_table .ant-table .ant-table-thead > tr > th {
  background: none !important;
  border-bottom: none !important;
}

.ant-table-wrapper.Resolution_table .ant-table .ant-table-tbody > tr > td {
  position: initial !important;
}

.ant-table-wrapper.Resolution_table
  .ant-table
  .ant-table-thead
  > tr
  > th:nth-child(6) {
  background: none !important;
  border-bottom: none !important;
  text-align: center !important;
}

.ant-table-wrapper.Resolution_table
  .ant-table
  .ant-table-thead
  > tr
  > th:nth-child(6) {
  background: none !important;
  border-bottom: none !important;
  text-align: center !important;
}

/* .ant-table-wrapper.ToDo
  ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  display: none !important;
} */

/* .ant-table table {
  margin-bottom: 50px;
} */

.ant-table-wrapper.ToDo
  .ant-table
  .ant-table-container
  .ant-table-content
  thead.ant-table-thead {
  background: none !important;
}

.ApprovalSending-wrapper {
  clear: both;
  max-width: 100%;
}
/* .PendingApprovalsTable table  */
.ant-table-wrapper.PendingApprovalsTable .ant-table .ant-table-tbody > tr > td {
  padding: 8px 16px !important;
}

/* .PendingApprovalsTable table  */
.ant-table-wrapper.ApprovalsTable .ant-table .ant-table-tbody > tr > td {
  padding: 12px 16px !important;
}
