@font-face {
  font-family: "MontserratRegular";
  src: url("./../../assets/fonts-new/montserrat-regular-webfont.woff"),
    url("./../../assets/fonts-new/montserrat-regular-webfont.woff2");
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("./../../assets/fonts-new/montserrat-600-webfont.woff"),
    url("./../../assets/fonts-new/montserrat-600-webfont.woff2");
}

@font-face {
  font-family: "MontserratMedium-500";
  src: url("./../../assets/fonts-new/montserrat-500-webfont.woff"),
    url("./../../assets/fonts-new/montserrat-500-webfont.woff2");
}


.UpdateNote-heading {
  color: #6172D6 !important;
  font-size: 23px !important;
  font-weight: 600 !important;
}

.star-updatenote {
  color: #4ADEDE !important;
  border: #707070;
}

.date-updatenote {
  font-size: 10px !important;
  position: relative;
  bottom: 20px !important;
  font-family: "MontserratRegular";
}

.date-updatenote2 {
  font-size: 10px !important;
  position: relative;
  bottom: 20px !important;
  right: 20px !important;
  font-family: "MontserratRegular";
}


.TextFieldUpdated {
  position: relative;
  bottom: 30px !important;
}

.QuillRow {
  position: relative;
  bottom: 25px !important;

}

.cancel-Update-notes {
  background: white !important;
  border: 1px solid #E1E1E1 !important;
  /* width: 99px !important; */
  /* height: 39px !important; */
  padding: 12px 30px;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600";
}

.Update-notes-Button {
  background: #6172D6 !important;
  border: 1px solid #E1E1E1 !important;
  /* width: 99px !important; */
  /* height: 39px !important; */
  padding: 12px 30px;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
  font-family: "MontserratSemiBold-600";
}

.Delete-notes-Button {
  background: white !important;
  border: 1px solid #E1E1E1 !important;
  /* width: 99px !important; */
  /* height: 39px !important; */
  padding: 12px 30px;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600";
}

.save-Update-notes {
  background: #5a5a5a !important;
  border: none !important;
  /* width: 109px !important; */
  /* height: 40px !important; */
  padding: 12px 30px;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-family: "MontserratSemiBold-600";
}

.modaltodolist-attachment-icon {
  position: relative !important;
  left: 9px !important;
}

.delete-note-modal-text {
  padding: 5px 100px;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 600;
  text-align: center !important;
}

.delete-note-modal-size {
  width: 450px !important;
  align-items: center !important;
}

.cancel-note-modal-btn {
  background: white !important;
  border: 1px solid #E1E1E1 !important;
  padding: 12px 30px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600";
}

.delete-note-modal-btn {
  background: #6172D6 !important;
  border: 1px solid #E1E1E1 !important;
  border-radius: 4px !important;
  padding: 12px 30px !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-family: "MontserratSemiBold-600";
}

.modalUpdateNotes {
  display: block !important;
}

.modal-update-attachment-heading {
  font-size: 13px !important;
  font-weight: 600;
  margin-top: 80px !important;
}


.quill-update-height {
  position: relative;
  height: 18vh !important;
  border-top: 1px solid lightgrey;
  border-radius: 2px !important;
}

.rowheight {
  height: 150px !important;
}

.header-UpdateNotesModal-close-btn {
  position: relative;
  left: 15px;
  top: 8px;
  font-size: 11px;
}

.errorNotesMessage {
  position: absolute;
  left: 145px !important;
  top: 60px !important;
  color: #f16b6b;
  border: 1px solid #BABABA;
  width: 50%;
  font-family: "MontserratSemiBold";
  visibility: visible !important;
  background-color: white !important;
  z-index: 9 !important;
  padding: 5px 25px;
  text-align: center;
  border-radius: 4px !important;
  font-size: 18px !important;
}



.attached-title {
  font-family: "MontserratSemiBold";
}

/* .UploadFileButton{ */
/* margin-left: 50px !important; */
/* } */

/* 
body[dir="rtl"] .Notes-upload-input {
position: absolute;
top: 340px !important;
right: 10px !important;
} */

body[dir="rtl"] .star-updatenote {
  position: absolute;
  right: 185px !important;
  top: 23px !important;
}

body[dir="rtl"] .date-updatenote2 {
  margin-left: 20px !important;
}

body[dir="rtl"] .quill-update-height {
  width: 100% !important;

}

.notes-updates-attachment {
  width: 500px !important;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  padding: 0 !important;
  height: 120px !important;
}