.Box_Minutes {
  width: 100% !important;
  height: auto !important;
  min-height: 92px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative !important;
  margin-left: 12px !important;
  margin-top: 15px !important;
}

.Box_Minutes_SubAgenda {
  width: 100% !important;
  height: auto !important;
  min-height: 92px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative !important;
  margin-top: 15px !important;
  padding: 0px 10px !important;
}

.Title_File {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #5a5a5a !important;
}

.Date_Minutes_And_time {
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #5f78d6 !important;
}

.Uploaded_heading {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.RedCrossClass {
  position: absolute !important;
  right: -6px;
  top: -4px;
  cursor: pointer !important;
}

.Show_more_Styles {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
  text-decoration: underline;
  cursor: pointer !important;
}

.Name {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5a5a5a !important;
}

.Profile_minutes {
  border-radius: 50% !important;
}

.Line_heigh {
  margin-top: 7px !important;
  line-height: 15px !important;
}

.Sub_Scroller {
  margin-left: 30px !important ;
}

.Add-note-QuillRow {
  position: relative;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ql-editor-custom {
  height: 140px;
  border-top: 1px solid #ccc !important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100% !important;
}

.ql-editor-custom .ql-toolbar {
  width: 100% !important;
}

.RedCrossForEdit {
  position: absolute !important;
  right: 8px !important;
  top: -7px !important;
}

.CancelButtonOnSaveAgendaImport {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-weight: 600 !important;
}

.CancelButtonOnSaveAgendaImport:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-weight: 600 !important;
}

.SaveButtonOnSaveAgendaImport {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.SaveButtonOnSaveAgendaImport:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.quill-height-addNote {
  border-top: 1px solid lightgrey;
  height: 18vh !important;
  border-radius: 3px !important;
  position: relative;
}

.quill-height-addNote .ql-toolbar.ql-snow {
  color: #a2a2a2 !important;
}

.HeadingMinutesAgenda {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.Main_scroller_Agenda_minutes {
  height: 55vh !important;
  overflow-x: hidden !important;
  padding: 0px 25px !important;
}

.Main_scroller_Agenda_minutes::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Main_scroller_Agenda_minutes::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.SubAgendaCreateScroller {
  height: 40vh !important;
  overflow-x: hidden !important;
}

.SubAgendaCreateScroller_When_NoSubAgenda_Is {
  height: 0vh !important;
}

.SubAgendaCreateScroller::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.SubAgendaCreateScroller::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.CreateAnotherAgendaButtonStyles {
  border: 1px dashed #e1e1e1 !important;
  color: #6172d6;
  background: #fff !important;
  border-radius: 4px !important;
  width: 100% !important;
  font-size: 12px;
  font-weight: 600 !important;
}

.CreateAnotherAgendaButtonStyles:is(:hover, :active, :focus, :focus-visible) {
  border: 1px dashed #e1e1e1 !important;
  width: 100% !important;
  color: #6172d6 !important;
  background: #fff !important;
  border-radius: 4px !important;
  font-size: 12px;
  font-weight: 600 !important;
}
