.upcoming_events {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
}

body[dir="rtl"] .upcoming_events {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.upcoming_events p {
  color: #fff !important;
}

.event-details-block {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.event-details {
  padding: 8px 15px;
  border-radius: 7px;
  margin: 5px 0px;
  color: #fff;
  font-size: 15px;
  border: 1px solid #6172d6;
}
.event-details:hover {
  padding: 8px 15px;
  border-radius: 7px;
  margin: 5px 0px;
  color: #fff;
  font-size: 15px;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%);
  border-color: transparent !important;
  border-right: none;
  border-left: none;
}

body[dir="rtl"] .event-details:hover {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%);
}
.event-details:hover .ViewMeetingButtonStyles {
  font-size: 12px !important;
  width: auto !important;
  background: #fff !important;
  border: none;
  border-radius: 4px !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
}

.event-details:hover p {
  color: #fff !important;
}

.event-details p {
  margin: 0;
}

.todayEvent {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%);
}

.event-details-block {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.events-description {
  font-size: calc(22px - 20%) !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #6172d6;
  font-weight: 600;
  max-width: 90% !important;
}

.events-dateTime {
  font-size: calc(16px - 24%) !important;
  color: #000;
  font-weight: 600;
}

.Start-Meeting-Upcoming,
.Start-Meeting-Upcoming:is(:hover, :active, :focus, :focus-visible, :target) {
  width: 125px;
  height: auto;
  font-size: 11px;
  background: #fff !important;
  border: none;
  border-radius: 4px !important;
  color: #6172d6 !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joining-Meeting-Upcoming,
.joining-Meeting-Upcoming:is(:hover, :active, :focus, :focus-visible, :target) {
  width: 125px;
  font-size: 11px;
  background: #fff !important;
  border: none;
  border-radius: 4px !important;
  color: #81db86 !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodayViewMeetingButtonStyles,
.TodayViewMeetingButtonStyles:is(
    :hover,
    :active,
    :focus,
    :focus-visible,
    :target
  ) {
  width: 125px !important;
  height: auto !important;
  font-size: 11px !important;
  background: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ViewMeetingButtonStyles,
.ViewMeetingButtonStyles:is(:active, :focus, :hover, :focus-visible) {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%);
  border: none !important;
  border-radius: 4px !important;
  color: #fff !important;
  font-size: 12px !important;
  width: auto;
  font-weight: 600 !important;
  white-space: nowrap;
}

.Moreevents_container {
  max-height: 400px;
  overflow-y: auto;
  /* min-height: 120px; */
  padding-right: 8px;
}

.Moreevents_container_title {
  font-weight: 700;
  font-size: 20px;
  color: #5a5a5a;
}
.Moreevents_container_header {
  padding: 10px 1rem 0 1rem !important;
}
