.tablecolumnrow {
  margin-top: 15px !important;
  position: relative !important;
  /* transition: opacity 0.3s; */
  overflow: auto !important;
  padding: 20px !important;
  background: #fff !important;
  border-radius: 4px;
  border: 1px solid #e1e1e1 !important;
}

.btnEditReset {
  width: 115px !important;
  margin-right: -10px !important;
  height: 34px !important;
  border: none;
  border-radius: 4px;
  background-color: rgb(117, 117, 117);
}

.btnEditReset:hover {
  background-color: rgb(232, 232, 232) !important;
  color: rgb(8, 8, 8) !important;
  border: none !important;
}

.selectbox-Edit-organizationrole {
  margin-top: 18px !important;
  width: 100% !important;
}

.Edit-label-heading {
  /* margin-top: -15px; */
  font-weight: 600;
  font-size: 35px !important;
  color: #6172d6 !important;
  font-family: "MontserratSemiBold";
}

.Edit-Name-label {
  margin-top: 25px;
  font-size: 14px !important;
  font-weight: 600;
  color: #5a5a5a;
}

.Edit-Update-Btn {
  margin: 20px 0;
  width: 200px !important;
  height: 44px !important;
  border: none;
  border-radius: 0px;
  background-color: #6172d6;
  border-radius: 4px;
  margin-right: 22px !important;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

body[dir="rtl"] .Edit-Update-Btn {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.Edit-Update-Btn:active,
.Edit-Update-Btn:focus {
  background-color: #6172d6 !important;
}

.Edit-Update-Btn:hover {
  margin: 20px 0;
  width: 200px !important;
  height: 44px !important;
  border: none;
  border-radius: 0px;
  background-color: #6172d6;
  border-radius: 4px;
  margin-right: 22px !important;
}

.Edit-modal-container {
  padding: 0 25px !important;
}

.Edit-Main-Heading {
  font-size: calc(38px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  font-family: "MontserratSemiBold-600" !important;
}

body[dir="rtl"] .Edit-Main-Heading {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.successfull-label {
  font-size: 28px;
  font-weight: 400;
  color: #6172d6;
  text-align: center !important;
  font-family: "MontserratSemiBold";
}

.successfull-label-status-not-updated {
  font-size: 22px;
  font-weight: 400;
  color: #6172d6;
  text-align: center !important;
  font-family: "MontserratSemiBold";
}

body[dir="rtl"] .successfull-label-status-not-updated {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

body[dir="rtl"] .successfull-label {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Ok-Successfull-btn {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
}

body[dir="rtl"] .Ok-Successfull-btn {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Ok-Successfull-btn:hover {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
}

.label.filter.form-label {
  display: none !important;
}

.searchbar-textfield {
  padding: 0 0px 0px 0px;
  position: relative !important;
  margin-top: 6px;
}

.formcontrol-names-fields {
  margin-top: 20px;
  width: 100% !important;
  height: 39px !important;
  border-radius: 4px !important;
}

.formcontrol-names-fields[placeholder] {
  font-size: 12px !important;
  font-family: "MontserratMedium";
}

.formcontrol-names-fields:focus {
  border: 1px solid rgb(16, 16, 16) !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.icon-modal-ResetBtn {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px !important;
  background-color: #ffffff;
  color: #5a5a5a !important;
  margin-bottom: 20px !important;
  margin-right: 10px !important;
  font-family: "MontserratMedium-500";
  font-size: 12px;
}

body[dir="rtl"] .icon-modal-ResetBtn {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.icon-modal-ResetBtn:hover,
.icon-modal-ResetBtn:focus,
.icon-modal-ResetBtn:active {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #e1e1e1 !important;
  background-color: #ffffff !important;
  color: #5a5a5a !important;
  margin-bottom: 20px !important;
  margin-right: 10px !important;
  font-family: "MontserratMedium-500";
  font-size: 12px;
}

.icon-modal-SearchBtn {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
  margin-right: 10px !important;
  font-family: "MontserratMedium-500";
  font-size: 12px;
}

body[dir="rtl"] .icon-modal-SearchBtn {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.icon-modal-SearchBtn:hover,
.icon-modal-SearchBtn:active,
.icon-modal-SearchBtn:focus {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6 !important;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
  margin-right: 10px !important;
  font-family: "MontserratMedium-500";
  font-size: 12px;
}

.ResetBtn-Edit-Dlt {
  width: 158px !important;
  height: 46px !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff !important;
  color: #5a5a5a !important;
  margin-bottom: 20px !important;
  font-family: "MontserratMedium-500";
  font-size: 12px;
}

body[dir="rtl"] .ResetBtn-Edit-Dlt {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.ResetBtn-Edit-Dlt:hover,
.ResetBtn-Edit-Dlt:active,
.ResetBtn-Edit-Dlt:focus {
  width: 158px !important;
  height: 46px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px;
  background-color: #fff !important;
  color: #5a5a5a !important;
  margin-bottom: 20px !important;
}

.ProceedBtn-Edit-Dlt {
  width: 158px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
  font-family: "MontserratMedium-500";
  font-size: 12px;
}

body[dir="rtl"] .ProceedBtn-Edit-Dlt {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.ProceedBtn-Edit-Dlt:hover {
  width: 158px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  font-size: 12px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
}

.formcontrol-fieldfor-filtermodal {
  margin-top: 20px;
  width: 100% !important;
  height: 39px !important;
  border-radius: 4px !important;
}

.formcontrol-fieldfor-filtermodal[placeholder] {
  font-size: 12px !important;
  font-family: "MontserratMedium";
}

body[dir="rtl"] .formcontrol-fieldfor-filtermodal[placeholder] {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.formcontrol-fieldfor-filtermodal:focus {
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.formcontrol-fieldselectfor-filtermodal {
  margin: 5px 0px !important;
  width: 100% !important;
}

body[dir="rtl"] .formcontrol-fieldselectfor-filtermodal {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.formcontrol-Phone-field {
  margin-top: 20px;
  /* margin-left: 20px !important; */
}

.filterModal {
  position: absolute;
  top: -3px;
  right: 30px;
  font-size: 21px;
  cursor: pointer;
}

body[dir="rtl"] .filterModal {
  top: -3px;
  right: auto;
  left: 30px;
  cursor: pointer;
}

.deleteModal-message {
  font-size: 19px;
  font-weight: 600;
  text-align: center !important;
}

body[dir="rtl"] .deleteModal-message {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.name-error-Message {
  margin: 0;
  height: 7px;
  color: #f16b6b;
  visibility: visible !important;
}

.name-errorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 7px;
  color: #f16b6b !important;
}

.email-link-table {
  color: blue !important;
}

/* .filter-icon-EditUser {
  position: "absolute" !important;
  top: "18px" !important;
  right: "30px" !important;
  font-size: "21px" !important;
} */
.userName {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
}

.userEmail {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
}

.userOrganization {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
  margin: 0 !important;
}

body[dir="rtl"] .userOrganization {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.userDesgination {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
  margin: 0 !important;
}

body[dir="rtl"] .userDesgination {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.editmodalFooterContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
  max-height: 120px !important;
}

.editUserModal {
  padding: 0 !important;
}

.errorMessage-Edit {
  margin: 2px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
}

body[dir="rtl"] .errorMessage-Edit {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.errorMessage-Edit_hidden {
  visibility: hidden;
  margin: 0;
  height: 13px;
  color: #f16b6b;
}

body[dir="rtl"] .errorMessage-Edit_hidden {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.react-flag-Edit {
  height: 30px !important;
  padding: auto !important;
  margin-top: 20px !important;
}

.react-flag-Edit button {
  cursor: pointer !important;
  max-width: 80px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 8px 1px !important;
  font-family: inherit !important;
  font-size: 8px !important;
  color: #4d4d4d !important;
  border: thin solid rgba(77, 77, 77, 0.3);
  border-radius: 4px !important;
  background: transparent;
}

.react-flag-Edit input {
  cursor: pointer !important;
  padding: 5px 8px !important;
  margin: 4px 5px !important;
  font-size: 10px !important;
  white-space: nowrap !important;
}

.react-flag-Edit button:after {
  border-top: 3px solid #4d4d4d;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 0;
  margin-left: -3px;
  margin-right: 3px;
}

body[dir="rtl"] .react-flag-Edit button:after {
  border-top: 3px solid #4d4d4d;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 0;
  margin-left: 3px;
  margin-right: 3px;
}

.react-flag-Edit button[aria-expanded="true"]:after {
  border-top: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #4d4d4d;
  margin-left: -3px;
}

body[dir="rtl"] .react-flag-Edit button[aria-expanded="true"]:after {
  border-top: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #4d4d4d;
  margin-left: 3px;
}

.formcontrol-Email-fields {
  margin-top: 20px;
  width: 100% !important;
  height: 33px !important;
  border-radius: 2px !important;
  border: none !important;
  background-color: transparent !important;
  margin-left: -10px !important;
}

.Edit-title-col-Name-Bold {
  color: #505050;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "MontserratSemiBold";
  /* font-weight: 600; */
}

body[dir="rtl"] .Edit-title-col-Name-Bold {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

a.edit-user-email {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  width: 150px !important;
  display: block !important;
}