.Title_desc {
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 310px !important;
}

.RatioClass {
  color: #505050 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}

.meetingTitle {
  font-weight: 600 !important;
  color: #6172d6;
  font-size: 12px !important;
}

.meetingTitle_view {
  font-weight: 600 !important;
  color: #6172d6;
  font-size: 14px !important;
  cursor: pointer !important;
  overflow: hidden !important;
  display: inline-block !important;
  width: 200px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

/* .newMeetingProgressbar {
  background: #6172d6 !important;
  margin: 3px !important;
  border-radius: 5px !important;
} */
.meeting_date {
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
}

.publish_meeting_btn {
  background: #6172d6 !important;
  border: 1px solid #e1e1e1 !important;
  padding: 8px 20px;
  border-radius: 4px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  white-space: nowrap;
}

.publish_meeting_btn_View_poll {
  background: #4adede !important;
  border: 1px solid #e1e1e1 !important;
  width: 145px !important;
  height: 36px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.DefineTableFixedheight {
  height: 60vh !important;
}

.meeting-expanded-row {
  margin-left: 22px !important;
}

.align-organizer-col {
  display: flex !important;
  justify-content: center !important;
}
