.Title_desc {
  white-space: nowrap !important;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px !important;
}

.RatioClass {
  color: #505050 !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 12px !important;
}
