.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    z-index: 9999999999999999999999999999999999999;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}