.View-Committee-heading {
  font-size: 30px !important;
  font-weight: 600;
  color: #6172d6 !important;
}

body[dir="rtl"] .View-Committee-heading {
  font-weight: 600;
}

.View-group-paper {
  min-height: 79vh !important;
  width: 100% !important;
  padding: 30px 40px 20px 40px !important;
  height: 100%;
  position: relative;
}

.View-Group-details_active,
.View-Group-details_active:disabled {
  font-size: 16px !important;
  border: 1px solid #5f78d6 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  font-weight: 600;
  color: #fff !important;
}

.View-Group-details,
.View-Group-details:disabled {
  font-size: 16px !important;
  border: 1px solid #808080;
  border-radius: 4px !important;
  font-weight: 600;
  background: #fff !important;
  color: #545454;
}

.View-Group-details:hover,
.View-Group-details:active,
.View-Group-details:focus,
.View-Group-details:focus-visible {
  font-size: 16px !important;
  border: 1px solid #5f78d6 !important;
  border-radius: 4px !important;
  background: #5f78d6 !important;
  font-weight: 600;
  color: #fff !important;
}

.closeBtn-view-Group {
  font-size: 16px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 12px 30px !important;
  font-weight: 600;
  background: #fff !important;
  color: #5a5a5a !important;
}

.closeBtn-view-Group:is(:active, :hover, :focus, :focus-visible, :visited) {
  font-size: 16px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 12px 30px !important;
  font-weight: 600;
  background: #fff !important;
  color: #5a5a5a !important;
}
