.Create_polls_Button {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-family: "MontserratMedium-500";
  display: flex;
  align-items: center !important;
  gap: 5px;
  border: none;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff;
}

.Create_polls_Button:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-family: "MontserratMedium-500" !important;
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
  border: none !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
}

.Vote_Button_Polls {
  width: 64px !important;
  height: 23px !important;
  border-radius: 4px !important;
  border: none !important;
  font-size: 8px !important;
  color: #6172d6 !important;
  background: #ecefff !important;
  font-family: "MontserratSemiBold";
}

.Vote_Button_Polls:is(:hover, :active, :focus, :focus-visible) {
  width: 64px !important;
  height: 23px !important;
  border-radius: 4px !important;
  border: none !important;
  font-size: 8px !important;
  color: #6172d6 !important;
  background: #ecefff !important;
  font-family: "MontserratSemiBold" !important;
}

.Not_Vote_Button_Polls {
  width: 64px !important;
  height: 23px !important;
  border-radius: 4px !important;
  border: none !important;
  font-size: 8px !important;
  color: #fff !important;
  background: #81db86 !important;
  font-family: "MontserratSemiBold" !important;
}

.Not_Vote_Button_Polls:is(:hover, :active, :focus, :focus-visible) {
  width: 64px !important;
  height: 23px !important;
  border-radius: 4px !important;
  border: none !important;
  font-size: 8px !important;
  color: #fff !important;
  background: #81db86 !important;
  font-family: "MontserratSemiBold" !important;
}

.DateClass {
  color: #2197d7 !important;
  font-family: "MontserratSemiBold";
  font-size: 12px !important;
  display: inline-block !important;
  width: 80% !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.EmptyState_heading {
  color: #6172d6 !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 30px !important;
}

.EmptyState_subHeading {
  color: #5a5a5a !important;
  font-family: "Montserrat";
  font-size: 16px !important;
}

.Cancel_Button_Polls_meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  border: 1px solid#E1E1E1;
  color: #5a5a5a;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Cancel_Button_Polls_meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid#E1E1E1 !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Button_Polls_meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Button_Polls_meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Button_Polls_meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Button_Polls_meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Button_Polls_meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Button_Polls_meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.MaintainingHeight {
  height: 55vh !important;
}
