.videoCallGroupScreen-minmizeVideoCall {
    position: absolute;
    left: 90px;
    width: 55%;
    height: 50px;
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    bottom: 0;
    border: 1px solid #b4b4b4;
    border-radius: 4px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.videoCallGroupScreen-minmizeVideoCall .title-heading {
    font-size: 13px !important;
    font-weight: 600;
    color: #fff !important;
    margin-left: 15px !important;
}