@font-face {
  font-family: "MontserratSemiBold";
  src: url("./../../assets/fonts-new/montserrat-600-webfont.woff"),
    url("./../../assets/fonts-new/montserrat-600-webfont.woff2");
}

.Poll_Container {
  width: 90% !important;
  height: 80vh !important;
  margin: 0 auto !important;
}

.Poll_Container__heading {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "MontserratSemiBold";
}

.new_Poll_Button {
  padding: 12px 36px !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  font-size: 12px !important;
  border: none;
  border-radius: 4px !important;
}

.polling_searchinput {
  display: inline-block;
  position: absolute !important;
  right: 0 !important;
  width: auto;
  top: 5px;
  margin-right: 25px;
}