@font-face {
  font-family: "MontserratSemiBold";
  src: url("./../../assets/fonts-new/montserrat-600-webfont.woff"),
    url("./../../assets/fonts-new/montserrat-600-webfont.woff2");
}

.Poll_Container {
  width: 90% !important;
  height: 80vh !important;
  margin: 0 auto !important;
}

.Poll_Container__heading {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "MontserratSemiBold";
}

.new_Poll_Button {
  padding: 12px 36px !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  font-size: 12px !important;
  border: none;
  border-radius: 4px !important;
}

.polling_searchinput {
  display: inline-block;
  position: absolute !important;
  right: 0 !important;
  width: auto;
  top: 5px;
  margin-right: 25px;
}

.SearhBar_Polls {
  width: 502px !important;
  height: 183px !important;
  background: #ffffff !important;
  position: absolute;
  right: 0;
  z-index: 1 !important;
  top: 39px !important;
  border: 1px solid #e1e1e1 !important;
}

.Cross_Icon_Styling {
  cursor: pointer;
}

.Search_Button_polls_SearchModal {
  padding: 12px 30px !important;
  background: #5a5a5a;
  color: #fff;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: none !important;
}

.Search_Button_polls_SearchModal:hover,
.Search_Button_polls_SearchModal:focus-visible,
.Search_Button_polls_SearchModal:focus,
.Search_Button_polls_SearchModal:active {
  padding: 12px 30px !important;
  background: #5a5a5a !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: none !important;
}

.Reset_Button_polls_SearchModal {
  padding: 12px 30px !important;
  background: #fff;
  color: #5a5a5a;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
}

.Reset_Button_polls_SearchModal:hover,
.Reset_Button_polls_SearchModal:active,
.Reset_Button_polls_SearchModal:focus,
.Reset_Button_polls_SearchModal:focus-visible {
  padding: 12px 30px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
}

.Table_title {
  cursor: pointer !important;
}
