.Poll_Container {
  width: 98% !important;
  height: 91vh !important;
  margin: 0 auto !important;
  overflow: hidden !important;
}

.Poll_Container__heading {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "MontserratSemiBold";
}

.new_Poll_Button {
  height: 31px;
  padding: 7px 36px !important;
  font-size: calc(14px - 20%);
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold";
  border: none !important;
}

.polling_searchinput {
  display: inline-block;
  position: absolute !important;
  right: 0 !important;
  width: auto;
  top: 5px;
  margin-right: 25px;
}

.SearhBar_Polls {
  width: 502px !important;
  height: 183px !important;
  background: #ffffff !important;
  position: absolute;
  right: 0;
  z-index: 1 !important;
  top: 39px !important;
  border: 1px solid #e1e1e1 !important;
}

.Cross_Icon_Styling {
  cursor: pointer;
}

.Search_Button_polls_SearchModal {
  padding: 12px 30px !important;
  background: #6172d6;
  color: #fff;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: none !important;
}

.Search_Button_polls_SearchModal:hover,
.Search_Button_polls_SearchModal:focus-visible,
.Search_Button_polls_SearchModal:focus,
.Search_Button_polls_SearchModal:active {
  padding: 12px 30px !important;
  background: #6172d6 !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: none !important;
}

.Reset_Button_polls_SearchModal {
  padding: 12px 30px !important;
  background: #fff;
  color: #5a5a5a;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
}

.Reset_Button_polls_SearchModal:hover,
.Reset_Button_polls_SearchModal:active,
.Reset_Button_polls_SearchModal:focus,
.Reset_Button_polls_SearchModal:focus-visible {
  padding: 12px 30px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
}

.Table_title {
  cursor: pointer !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.GlobalSearchFieldICon {
  cursor: pointer !important;
}

body[dir="rtl"] .polling_searchinput {
  position: absolute !important;
  right: 88% !important;
  cursor: pointer !important;
}

.Vote_button_poll {
  padding: 6px 12px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  background: #81db86 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold";
  border: none !important;
}

.Vote_button_poll:hover,
.Vote_button_poll:active,
.Vote_button_poll:focus,
.Vote_button_poll:focus-visible {
  padding: 6px 12px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  background: #81db86 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold" !important;
  border: none !important;
}

.Voted_after {
  padding: 6px 12px !important;
  background: #ecefff !important;
  font-size: 12px !important;
  color: #6172d6 !important;
  border-radius: 4px !important;
  border: none !important;
  font-family: "MontserratSemiBold" !important;
}

.Voted_after:focus-visible,
.Voted_after:focus,
.Voted_after:active,
.Voted_after:hover {
  padding: 6px 12px !important;
  background: #ecefff !important;
  font-size: 12px !important;
  color: #6172d6 !important;
  border-radius: 4px !important;
  border: none !important;
  font-family: "MontserratSemiBold" !important;
}

.Search_Bar_icon_class {
  cursor: pointer;
}

.voteBtn {
  background-color: #81db86 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  width: 80px !important;
  /* height: 42px !important; */
  /* padding: 12px 30px; */
  font-family: "MontserratSemiBold" !important;
}
.voteBtn:is(:hover, :active, :focus, :focus-visible, :visited) {
  background-color: #81db86 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  width: 80px !important;
  /* height: 42px !important; */
  /* padding: 12px 30px; */
  font-family: "MontserratSemiBold" !important;
}

.votedBtn {
  background-color: #ecefff !important;
  border: none !important;
  color: #6172d6 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  width: 80px !important;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 30px !important;
  font-family: "MontserratSemiBold" !important;
}
.votedBtn:is(:hover, :active, :focus, :focus-visible, :visited) {
  background-color: #ecefff !important;
  border: none !important;
  color: #6172d6 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  width: 80px !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 30px !important;
  font-family: "MontserratSemiBold" !important;
}

.Not-voted {
  font-size: 12px !important;
  margin-top: 12px !important;
}

.Background-nonvoted-Button {
  max-width: 109px !important;
  border-radius: 4px !important;
  display: flex !important;
  justify-content: center !important;
  height: 42px !important;
  color: #6172d6 !important;
  background-color: #ecefff !important;
}

.PaginationStyle-polling {
  background-color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  width: auto !important;
  padding: 12px 40px !important;
  margin: 20px 0 40px 0;
  height: auto !important;
  box-shadow: 0px 0px 5px #ccc !important;
  border-radius: 4px !important;
}

.PaginationStyle-polling:is(:focus-visible) {
  outline: none !important;
}

body[dir="rtl"] .PaginationStyle-polling {
  width: auto !important;
  padding: 12px 10px !important;
}

.Ellipses_Class {
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  cursor: pointer !important;
  color: #2197d7 !important;
  width: 100%;
  display: inline-block;
}

.PaginationStyle-Meeting {
  background-color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  width: auto !important;
  padding: 12px 40px !important;
  margin: 20px 0 40px 0;
  height: auto !important;
  box-shadow: 0px 0px 5px #ccc !important;
  border-radius: 4px !important;
}

.PaginationStyle-Meeting:is(:focus-visible) {
  outline: none !important;
}

body[dir="rtl"] .PaginationStyle-Meeting {
  width: auto !important;
  padding: 12px 10px !important;
}

.PaginationStyle-Committee {
  background-color: #fff !important;
  width: auto !important;
  display: flex !important;
  justify-content: center !important;
  padding: 12px 40px !important;
  height: 54px !important;
  box-shadow: 0px 0px 5px #ccc !important;
  border-radius: 4px !important;
  /* bottom: 10px !important; */
}

body[dir="rtl"] .PaginationStyle-Committee {
  width: auto !important;
  padding: 8px 10px !important;
}

.Poll_emptyState {
  min-height: 75vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  border: 1px solid #e1e1e1 !important;
  margin-bottom: 10px;
}

.No_Poll_Heading {
  margin-top: 50px !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 30px !important;
  color: #5a5a5a !important;
}

.No_Poll_Text {
  font-family: "MontserratSemiBold" !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
}
