@font-face {
    font-family: "MontserratSemiBold";
    src        : url(../../../../assets/fonts-new/MONTSERRAT-600.TTF);
}

@font-face {
    font-family: "MontserratMedium";
    src        : url(../../../../assets/fonts-new/MONTSERRAT-500.TTF);
}

.EmailVerifyOTPbox {
    display        : flex;
    justify-content: center;
    /* align-items : center; */
    flex-direction : column;
    width          : 380px !important;
    padding        : 0 45px;
}

.signIn_heading {
    font-size  : 1.8rem;
    user-select: none;
    color      : #6172D6;
    font-family: "MontserratSemiBold";
}

.signIn_heading_line {
    font-family: "MontserratMedium";
}

.Next_button_EmailVerify {
    width        : 280px;
    border-radius: 1px;
}

.subscribNow_button_EmailVerify {
    width           : 280px;
    /* height       : 1; */
    text-transform  : uppercase;
    border          : none;
    border-radius   : 4px;
    letter-spacing  : 1px;
    font-weight     : 600;
    background-color: #6172D6;
}

.subscribNow_button_EmailVerify:hover {
    width           : 280px;
    /* height       : 1; */
    text-transform  : uppercase;
    border          : none;
    border-radius   : 4px;
    letter-spacing  : 1px;
    font-weight     : 600;
    background-color: #6172D6;
}

.errorMessage-OTP {
    margin    : 0 0 10px 0;
    height    : 13px;
    color     : #F16B6B;
    visibility: visible;
}

.errorMessage-OTP_hidden {
    visibility: hidden;
    margin    : 0 0 10px 0;
    height    : 13px;
    color     : #F16B6B;
}

/* Auth Icon and style of heading which we are using in all auth pages */
/* Start */
.Auth_Icon {
    position : absolute;
    right    : -115px;
    bottom   : -130px;
    transform: rotate(52deg);
    z-index  : 99999;
}

.Login_page_text {
    display       : flex;
    margin-top    : 11%;
    flex-direction: column;
    margin-left   : 40px;
}

.Login_page_text h1 {
    font-size  : 48px;
    font-weight: 800;
    margin     : 0 0 15px 0;
}

.OTP_auth_paper {
    margin-left: 60px;
    padding    : 30px 0;
}

.heading-1 {
    color: #6172D6;
}

.heading-2 {
    color: #4ADEDE;
}

/* End */
.resendCode_btn {
    margin-right   : 5px;
    background     : none !important;
    color          : #000;
    margin         : 0;
    user-select    : none;
    border         : none !important;
    padding        : 0;
    text-decoration: underline !important;
}

.resendCode_bt:hover {
    margin-right   : 5px;
    background     : none !important;
    color          : #000;
    margin         : 0;
    user-select    : none;
    border         : none !important;
    padding        : 0;
    text-decoration: underline !important;
}

.resendCode_btn:disabled {
    opacity: 30%;
    color  : #000;
}

.resendCode_btn span {
    user-select: none;
}

.resendCode_btn:hover {
    color          : #000 !important;
    background     : none !important;
    border         : none !important;
    text-decoration: none;
}

.OTPCounter {
    user-select: none !important;
}

.GoBackBtn {
    color          : #000 !important;
    text-decoration: underline !important;
}

.OTPInput {
    border-radius: 4px !important;
}