.Create_Task_Button {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  display: flex;
  align-items: center !important;
  gap: 5px;
  border: none;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff;
}

.Create_Task_Button:hover,
.Create_Task_Button:active,
.Create_Task_Button:focus,
.Create_Task_Button:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  display: flex;
  gap: 5px;
  border-radius: 4px !important;
  font-weight: 500 !important;
  border: none !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
}

.CloneMeetingButton {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  border: none !important;
  background: #fff;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
}

.CloneMeetingButton:hover,
.CloneMeetingButton:active,
.CloneMeetingButton:focus,
.CloneMeetingButton:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  border: none !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a !important;
}

.SaveButtonActions {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  border: none !important;
  background: #6172d6;
  color: #fff !important;
}

.SaveButtonActions:hover,
.SaveButtonActions:active,
.SaveButtonActions:focus,
.SaveButtonActions:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  border: none !important;
  background: #6172d6 !important;
  color: #fff !important;
}

.ActionsClass {
  font-size: 12px !important;
  color: #2197d7 !important;
  font-weight: 600 !important;
  display: inline-block !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 180px !important;
  white-space: nowrap;
}

.Meeting_Title {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #5a5a5a;
  display: inline-block !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 180px !important;
  white-space: nowrap;
}

.Empty-State_Heading {
  font-weight: 600 !important;
  color: #5a5a5a !important;
  font-size: 30px !important;
}

.EmptyState_SubHeading {
  font-family: "Montserrat" !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
}

.HeightDefined {
  height: 55vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Action-Date-title_value {
  font-family: "MontserratSemiBold-600" !important;
  color: #6172d6 !important;
  font-size: 12px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  user-select: none !important;
}

.Action-Date-title {
  font-family: "MontserratSemiBold-600" !important;
  color: #5a5a5a !important;
  font-size: 12px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  user-select: none !important;
  margin-top: 5px;
}

.action-delete-cursor {
  cursor: pointer !important;
}

.PaginationStyle-Action-Page {
  background-color: #fff !important;
  width: auto !important;
  display: flex !important;
  justify-content: center !important;
  padding: 12px 40px !important;
  height: 54px !important;
  box-shadow: 0px 0px 5px #ccc !important;
  border-radius: 4px !important;
  position: absolute;
  bottom: 65px;
  align-items: center;
}
.Action_title {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  display: inline-block !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: pointer !important;
  color: #6172d6 !important;
  white-space: nowrap;
  user-select: none !important;
  width: 200px;
}
