.Heading_View {
  color: #6172d6;
  font-weight: 600 !important;
  font-size: 30px !important;
  display: inline-block !important;
  width: 97% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.Details {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #5a5a5a !important;
}

.Meeting_Styles {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #6172d6;
}

.Meeting-Details {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #5a5a5a !important;
  display: inline-block !important;
  width: 70% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.Partipant_name {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #5a5a5a !important;
}

.box_For_File {
  width: 248px !important;
  height: 54.4px !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  padding: 0px 10px !important;
  z-index: 1;
}

.FileName {
  font-size: 16px !important;
  color: #5a5a5a !important;
  font-family: "Montserrat";
  display: inline-block !important;
  width: 150px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  z-index: 1;
}

.CrossIconClass {
  cursor: pointer !important;
  z-index: 1 !important;
}
