.Box_Minutes {
  width: 100% !important;
  height: auto !important;
  min-height: 92px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative !important;
  margin-left: 12px !important;
}
.Box_Minutes_SubAgenda_Edit {
  width: 100% !important;
  height: auto !important;
  min-height: 92px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative !important;
  margin-left: 12px !important;
}

.Title_File {
  font-weight: 600 !important;
  font-size: 20px !important;
  color: #5a5a5a !important;
}

.Show_more_Styles {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
  text-decoration: underline;
  cursor: pointer !important;
}

.Date_Minutes_And_time {
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #5f78d6 !important;
}

.Profile_minutes {
  border-radius: 50% !important;
}

.Uploaded_heading {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.Name {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5a5a5a !important;
}

.Heading_View_Minutes {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.SubAgendaSection {
  width: 100% !important;
}

.SubAgendaSubTitleHeaeding {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.RedCrossIconClass {
  position: absolute;
  right: 0px !important;
  top: 0px !important;
}

.RedCrossClass {
  position: absolute !important;
  right: -6px;
  top: -4px;
  cursor: pointer !important;
}

.Add-note-QuillRow {
  position: relative;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.quill-height-addNote {
  border-top: 1px solid lightgrey;
  height: 18vh !important;
  border-radius: 3px !important;
  position: relative;
}

.quill-height-addNote .ql-toolbar.ql-snow {
  color: #a2a2a2 !important;
}

.RedCrossForEdit {
  position: absolute !important;
  right: 7px !important;
  top: -7px !important;
}

.Cancel_button_Edit_Agenda_Minutes {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Cancel_button_Edit_Agenda_Minutes:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Save_button_Edit_Agenda_Minutes {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #fff !important;
  background: #5f78d6 !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Save_button_Edit_Agenda_Minutes:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #fff !important;
  background: #5f78d6 !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Scroller_Edit_Ageda_Main {
  height: 53vh !important;
  overflow-x: hidden !important;
}

.Scroller_Edit_Ageda_Main::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_Edit_Ageda_Main::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.OverAll_Padding {
  padding: 0px 40px !important;
}

.OverAll_padding_SubAgenda {
  padding: 0px 30px !important;
}

.Scroller_SubAgenda {
  height: 30vh !important;
  overflow-x: hidden !important;
}

.Scroller_SubAgenda_WhenNO_SubAgenda {
  height: 0vh !important;
}

.Scroller_SubAgenda::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_SubAgenda::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.RedCrossClassSubAgenda {
  position: absolute !important;
  right: -7px !important;
  top: -5px !important;
}
