.MuiSelect-outlined.MuiSelect-outlined {
    width: 115px !important;
    height: 12px !important;
}

.MuiSelect-selectMenu {
    min-height: 100px !important;
}

.MuiOutlinedInput-input {
    padding: 0.5px 9px !important;
}

.MuiMenu-list {
    left: 0 !important;
}

.MuiPopover-root {
    inset: 40px !important;
}

.dropdpown_field_input {
    position: relative !important;
}

.menuItems {
    position: relative !important;
    left: 0 !important;
    /* margin-top: 80px !important; */
}

.menuItems ul {
    list-style: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdpown_field_input {
    top: 0 !important;
    left: 0 !important;
    position: relative !important;
}

/* .MuiPaper-root {
    top: 190px !important;
    left: 470px !important;
} */