.AuditTrialHeading {
  font-weight: 600 !important;
  font-size: 30px !important;
  color: #6172d6 !important;
}

.AuditTrial_Box {
  min-height: 40vh !important;
  width: 100% !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px !important;
  padding: 30px 30px 30px 30px;
  border-radius: 8px !important;
  border: 1px solid #e1e1e1 !important;
  --Paper-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: var(--Paper-shadow);
  display: inline-block !important;
  background: #fff !important;
}

.ViewActions {
  font-weight: 400 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 5px 12px !important;
  background: #fff !important;
  color: #000 !important;
}

.ViewActions:is(:hover, :active, :focus, :focus-visible) {
  font-weight: 400 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 5px 12px !important;
  color: #000 !important;
  background: #fff !important;
}

.NameStylesTable {
  font-weight: 400 !important;
  font-size: 12px !important;
}

.report_search_Box {
  position: relative;
}

.searchbox_icon_userhistoryLogin {
  position: absolute !important;
  right: 10px;
  top: 10px;
  left: auto;
  cursor: pointer;
}
body[dir="rtl"] .searchbox_icon_userhistoryLogin {
  left: 10px;
  right: auto;
}
