/* .Minustes_Buttons_Import {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-family: "MontserratSemiBold" !important;
}

.Minustes_Buttons_Import:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-family: "MontserratSemiBold" !important;
}

.Box_For_Options {
  width: 404px !important;
  height: 305px !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px !important;
}

.Box_For_Options:is(:hover, :focus, :focus-visible, :active) {
  transform: scale(1.04);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #5a5a5a !important;
}

.Upload_Btn_Styles {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Upload_Btn_Styles:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Box_Minutes {
  width: 617px !important;
  height: 92px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative !important;
  margin-left: 12px !important;
  margin-top: 15px !important;
}

.Title_File {
  font-family: "MontserratSemiBold" !important;
  font-size: 20px !important;
  color: #5a5a5a !important;
  display: inline-block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 200px !important;
}

.Date_Minutes_And_time {
  font-family: "MontserratSemiBold" !important;
  font-size: 12px !important;
  color: #5f78d6 !important;
}

.Uploaded_heading {
  font-family: "MontserratSemiBold" !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.Profile_minutes {
  border-radius: 50% !important;
}

.Name {
  font-family: "MontserratSemiBold" !important;
  font-size: 16px !important;
  color: #5a5a5a !important;
}

.RedCrossClass {
  position: absolute !important;
  right: -6px;
  top: -4px;
  cursor: pointer !important;
}

.ant-upload-text-Meetings {
  color: #bbbbbb !important;
  font-size: 22px !important;
  margin: 0;
  padding: 0;
  font-family: "MontserratSemiBold" !important;
}

.Choose_file_style-Meeting {
  color: #bbbbbb !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
}

.Cancel_Minutes_upload_section {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-family: "MontserratSemiBold" !important;
}

.Cancel_Minutes_upload_section:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  color: #5a5a5a !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Btn_After_save {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Btn_After_save:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Save_Minutes_upload_section {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Cancel_Minutes_upload_section:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.InviteToContributeButton {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
  gap: 10px !important;
}

.Cancel_Minutes_upload_section:is(:hover, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
  gap: 10px !important;
}

.Scroller {
  height: 22vh !important;
  overflow-x: hidden !important;
  margin-top: 15px !important;
}

.Scroller::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Scroller_On_Save {
  height: 30vh !important;
  overflow-x: hidden !important;
  margin-top: 5px !important;
}

.Scroller_On_Save::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_On_Save::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.AgendaIconStyles {
  margin-top: 8px !important;
} */

.Add-note-QuillRow {
  position: relative;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.modal-Note-Title-Input :focus {
  border: 1px solid #e1e1e1 !important;
}

body[dir="rtl"] .modal-Note-Title-Input {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.quill-height-addNote {
  border-top: 1px solid lightgrey;
  height: 18vh !important;
  border-radius: 3px !important;
  position: relative;
}

.quill-height-addNote .ql-toolbar.ql-snow {
  color: #a2a2a2 !important;
}

.ant-upload-text {
  font-size: 12px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold";
}

body[dir="rtl"] .ant-upload-text {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Choose_file_style {
  font-size: 12px !important;
  color: #6172d6 !important;
  font-family: "MontserratSemiBold";
  margin-left: 3px !important;
}

.Leftpolygon {
  background: none;
  border: none;
  display: flex !important;
  align-items: center !important;
}

body[dir="rtl"] .Leftpolygon {
  transform: rotate(180deg) !important;
}

.Leftpolygon:hover,
.Leftpolygon:active,
.Leftpolygon:focus,
.Leftpolygon:focus-visible {
  background: none !important;
  border: none !important;
}

.Attachments_Heading {
  font-size: 20px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6 !important;
}

.Outer_Box {
  height: auto !important;
  border: 1px solid #e1e1e1 !important;
  margin-bottom: 10px !important;
  border-radius: 4px !important;
  width: 100% !important;
}

.filesStyles {
  width: 100% !important;
  display: flex !important;
  gap: 35px !important;
}

.backGround_name_Icon {
  background: #fff;
}

.IconTextClass {
  display: flex;
  text-align: center !important;
  align-items: center !important;
  gap: 7px !important;
}

.IconPDF {
  margin-left: 10px !important;
}

.FileName {
  font-size: 10px !important;
  color: #5a5a5a !important;
  font-family: "MontserratRegular";
  display: inline-block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 100px !important;
}

.Crossicon_Class {
  cursor: pointer !important;
  position: absolute !important;
  top: -7px !important;
  right: -4px !important;
}

.Outer_Border-Line {
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 10px 10px !important;
  margin-top: 8px !important;
}

.Button_General {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Button_General_nonActive {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Button_General:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Previous_Button {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Previous_Button:is(:active, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.RedCrossClass {
  position: absolute !important;
  right: -8px;
  top: -9px;
  cursor: pointer !important;
}

.Name {
  font-family: "MontserratSemiBold" !important;
  font-size: 16px !important;
  color: #5a5a5a !important;
}

.Uploaded_heading {
  font-family: "MontserratSemiBold" !important;
  font-size: 16px !important;
  color: #5f78d6 !important;
}

.Line_heigh {
  margin-top: 7px !important;
  line-height: 15px !important;
}

.Profile_minutes {
  border-radius: 50% !important;
}

.Date_Minutes_And_time {
  font-family: "MontserratSemiBold" !important;
  font-size: 12px !important;
  color: #5f78d6 !important;
}

.Box_Minutes {
  width: 100% !important;
  height: auto !important;
  min-height: 92px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: relative !important;
}

.ScrollerMinutes {
  height: 25vh !important;
  overflow-x: hidden !important;
}

.ScrollerMinutes::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.ScrollerMinutes::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Sizing_Saved_Minutes {
  padding: 0px 10px !important;
}

.Title_File {
  font-family: "MontserratSemiBold" !important;
  font-size: 20px !important;
  color: #5a5a5a !important;
  display: flex !important;
  gap: 10px !important;
}

.Show_more {
  color: #5f78d6 !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
  cursor: pointer !important;
}

.Cancel_button_Minutes {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Cancel_button_Minutes:is(:active, :focus, :focus-visible, :active) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}
.Previous_button_Minutes {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}
.Next_button_Minutes {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}
