.Addnote-heading {
  color: #5a5a5a !important;
  font-size: 23px !important;
  font-weight: 600 !important;
}

.star-addnote {
  position: relative;
  right: 10px !important;
  top: 6px !important;
}

.date-addnote {
  position: relative;
  font-size: 11px;
  top: -10px !important;
}

.cancel-Add-notes {
  background: white !important;
  border: 1px solid #5a5a5a !important;
  width: 109px !important;
  height: 40px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600";
}

.save-Add-notes {
  background: #5a5a5a !important;
  border: 1px solid #5a5a5a !important;
  width: 109px !important;
  height: 40px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-family: "MontserratSemiBold-600";
}

.textField {
  border: 1px solid #000000 !important;
}

.create-note-modal-text {
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center !important;
}

.modal-Add-attachment-heading {
  font-size: 13px !important;
  font-weight: 600;
  margin-top: 80px !important;
}

.cancel-create-modal-btn {
  position: relative;
  left: 150px !important;
  bottom: 10px;
  background: white !important;
  border: 1px solid #5a5a5a !important;
  width: 109px !important;
  height: 40px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold-600";
}

.proceed-create-modal-btn {
  position: relative;
  right: 70px !important;
  bottom: 10px;
  background: #5a5a5a !important;
  border: 1px solid #5a5a5a !important;
  width: 109px !important;
  height: 40px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-family: "MontserratSemiBold-600";
}

.quill-height {
  position: relative;
  border-top: 1px solid lightgrey;
  height: 18vh !important;
}



.header-AddNotesModal-close-btn {
  position: relative;
  left: 15px;
  top: 8px;
  font-size: 11px;
}

.errorNotesMessage {
  margin: 4px;
  height: 7px;
  color: #f16b6b;
  visibility: visible !important;
}

.errorNotesMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 7px;
  color: #f16b6b !important;
}

.errorNotesDescription-Message {
  position: relative;
  top: 53px !important;
  margin: 4px;
  height: 7px;
  color: #f16b6b;
  visibility: visible !important;
}

.errorNotesDescription-Message_hidden {
  visibility: hidden;
  margin: 0;
  height: 20px;
  color: #f16b6b !important;
}

.Notes-upload-input {
  position: relative;
  top: 40px;
  right: 90px;

}

.modal-title-textfield {
  position: relative !important;
  top: -10px !important;
}

.attached-title {
 /* margin-top: 51px !important; */
}
