.group-btn {
    position: absolute;
    height: 40px !important;
    width: 140px;
    bottom: 3%;
    right: 3%;
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-family: 'MontserratRegular';
}


.group-btn-gray {
    position: absolute;
    height: 40px !important;
    width: 140px;
    bottom: 3%;
    right: 3%;
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-family: 'MontserratRegular';
    filter: grayscale(1);
}

button.group-btn.btn.btn-primary span {
    margin-left: 10px;
}

button.group-btn-gray.btn.btn-primary span {
    margin-left: 10px;
}