.SearchIconClass {
  display: inline-block;
  position: absolute !important;
  right: 13px !important;
  width: auto;
  top: 7px;
}
.SearchBoxAuthority {
  width: 100% !important;
  height: auto !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: absolute !important;
  background: #fff !important;
  right: 0 !important;
  min-height: 242px !important;
  z-index: 99 !important;
  top: 43px;
  padding: 10px 16px 13px 16px;
}

.ResetButtonSearchBox {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #fff !important;
  color: #5a5a5a !important;
}

.ResetButtonSearchBox:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #fff !important;
  color: #5a5a5a !important;
}

body[dir="rtl"] .ResetButtonSearchBox {
  font-weight: 600 !important;
}
.SearchButtonSearchBox {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #6172d6 !important;
  color: #fff !important;
}

.SearchButtonSearchBox:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #6172d6 !important;
  color: #fff !important;
}
.Search_Bar_icon_class {
  cursor: pointer;
}
.datepicker_input {
  margin-top: 3px;
  padding: 0px 10px !important;
  border-radius: 4px !important;
  border: 1px solid #ced4da;
  max-width: 100% !important;
  min-width: 100% !important;

  height: 38px !important;
  font-weight: 500;
  font-size: 12px !important;
  font-weight: 600 !important;
  cursor: pointer;
  outline: none !important;
}
.dateModal {
  width: 100%;
  height: 36px;
  font-family: Montserrat;
  font-size: 12px;
}

/* Default */
.selectBoxStyle {
  color: #5a5a5a;
  font-size: 12px solid !important;
}
