.forgotPassowrdBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 380px !important;
    padding: 20px 30px;
}

.forgotPassowrd_heading {
    font-size: 1.3rem;
    user-select: none;
}

.Next_button_EmailVerify {
    width: 280px;
    border-radius: 1px;
}

.subscribNow_button_EmailVerify {
    width: 280px;
    border-radius: 1px;
}

.errorMessage {
    margin: 0;
    height: 7px;
    color: #F16B6B;
    visibility: visible !important;
  font-weight: 600 !important;

}

.errorMessage_hidden {
    visibility: hidden;
    margin: 0;
    height: 7px;
    color: #F16B6B !important;
}

.languageSelector {
    position: absolute;
    right: 100px;
    z-index: 99999 !important;
    margin-top: 50px !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: flex-end;

}

body[dir="rtl"] .languageSelector {
    position: absolute;
    right: -100px;
    z-index: 99999 !important;
    margin-top: 50px !important;
    margin-right: 0 !important;
    display: flex;
    justify-content: flex-end;
}