.RecentAcitivy_newDashboard {
  height: auto;
  max-height: 40vh !important;
  min-height: 40vh !important;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.RecentActivity_Title {
  font-weight: 700;
  font-size: 20px;
  color: #5a5a5a;
}
