@font-face {
    font-family: "MontserratSemiBold";
    src        : url(../../../assets/fonts-new/MONTSERRAT-600.TTF);
}

@font-face {
    font-family: "MontserratBold";
    src        : url(../../../assets/fonts-new/MONTSERRAT-700.TTF);
}

@font-face {
    font-family: "MontserratExtraBold";
    src        : url(../../../assets/fonts-new/MONTSERRAT-800.TTF);
}

@font-face {
    font-family: "MontserratMedium";
    src        : url(../../../assets/fonts-new/MONTSERRAT-500.TTF);
}


.MontserratExtraBold {
    font-family: "MontserratExtraBold";
}

.MontserratMedium {
    font-family: "MontserratMedium";
}

.paymentActivityTitle {
    font-family: "MontserratSemiBold";
    color      : #6172D6;
}

.PaymentActivitySubtitle {
    font-family: "MontserratBold";
    color      : #5a5a5a;
    font-size  : 16px;
}

.number-color {
    color      : #5a5a5a;
    font-family: 'MontserratBold';
}