.MontserratExtraBold {
  font-family: "MontserratExtraBold";
}

body[dir="rtl"] .MontserratExtraBold {
  font-family: "IBMPlexSansArabic-Bold" !important;
}

.MontserratMedium {
  font-family: "MontserratMedium";
}
body[dir="rtl"] .MontserratMedium {
  font-family: "IBMPlexSansArabic-Medium" !important;
}
body[dir="rtl"] .paymentActivityTitle {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}
.paymentActivityTitle {
  font-size: calc(33px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  font-family: "MontserratSemiBold-600" !important;
  padding: 0;

  margin-right: 10px;
}

.PaymentActivitySubtitle {
  font-family: "MontserratBold";
  color: #5a5a5a;
  font-size: 16px;
}
body[dir="rtl"] .PaymentActivitySubtitle {
  font-family: "IBMPlexSansArabic-Bold" !important;
}
.number-color {
  color: #5a5a5a;
  font-family: "MontserratBold";
  margin-left: 10px;
}

body[dir="rtl"] .number-color {
  font-family: "IBMPlexSansArabic-Bold" !important;
}
