.forgot-box {
  padding: 30px !important;
  width: 450px !important;
  /* height: 617px !important; */
}

.paperpadding {
  padding: 0 30px !important;
}

.underline {
  font-weight: 400 !important;
  color: #2197D7 !important;
  text-decoration: underline !important;
}

button.SignInForgot {
    font-size: 18px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    padding: 0.35rem 3.4rem !important;
    background-color: #2197d7 !important;
    border-color: #2197d7 !important;
    border-radius: 3px !important;
  }

  .labellightClass{
    color: #086AB2 !important;
  }
  .forgot_passwordnextBtn {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }