@font-face {
  font-family: "MontserratSemiBold";
  src: url("../../../../assets/fonts-new/montserrat-600-webfont.woff2"),
    url("../../../../assets/fonts-new/montserrat-600-webfont.woff2");
}

.signup_organization_title {
  color: #6172d6;
  font-weight: 400;
  margin: 0 0 25px 0;
  font-family: "MontserratSemiBold";
  font-size: calc(32px - 20%);
}

.signup_admin_title {
  color: #6172d6;
  font-weight: 400;
  margin: 60px 0 25px 0;
  font-family: "MontserratSemiBold";
  font-size: calc(32px - 20%);
}

.signUp_Container {
  background-color: #fff !important;
}

.SignUp_form {
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 800px;
  background-color: #f6f9fc;
  border: 1px solid #000;
}

.signup_select {
  border-radius: 1px;
  border: 1px solid #ccc;
  height: 34px;
}

.signUp_NextBtn {
  width: 90px;
  margin: 0;
  /* padding      : 0; */
  background-color: #6172d6 !important;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "MontserratSemiBold";
  font-size: calc(17px - 20%);
}

.signUp_NextBtn:hover {
  width: 90px;
  margin: 0;
  /* padding      : 0; */
  background-color: #6172d6 !important;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
}

.signUp_goBack {
  color: #000;
  margin: 0;
}

.signUp_goBack + a {
  color: #000;
  text-decoration: underline;
}

.signUp_NextBtn:hover {
  background-color: #076db7;
}

/* left section */
.signUp_LeftSection {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.signUpform_bg {
  padding: 30px 40px;
  background-color: #f6f9fc;
  border: 1px solid #707070;
  border-radius: 4px;
}

.sigup_form_leftSection {
  position: absolute;
  top: 40px;
  right: -90px;
  z-index: 9999999;
}

/* right section  */

.signUp_rightSection {
  background: linear-gradient(to top, #49dbdb 0%, #6172d6 100%);
  min-height: 100vmin !important;
  overflow: hidden !important;
  position: relative;
}

.rightsection_roundLogo {
  position: absolute;
  top: -120px;
  right: -150px;
  /* overflow: hidden; */
}

.errorMessage {
  margin: 4px;
  height: 7px;
  color: #f16b6b;
  visibility: visible !important;
}

.errorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 7px;
  color: #f16b6b !important;
}

.emailCheckbox span,
.companynamecheckbox span {
  width: 35px;
  border-radius: 5px;
  height: 35px;
}

.companynamecheckbox span {
  border: none !important;
}

.emailCheckbox .ant-checkbox-inner {
  background-color: #707070;
}

.emailCheckbox span {
  margin: 8px 0 0 0;
}

.emailCheckbox .ant-checkbox-wrapper {
  margin-top: 8px !important;
}

.emailCheckbox .ant-checkbox-wrapper.checked {
  background-color: #49dbdb;
}

.emailCheckbox span:focus {
  border: none !important;
}

.dropdown-countrylist {
  max-height: 18vh !important;
}

.react-tel-input .country-list {
  background: #ffffff !important;
}

.checkOrganization {
  position: relative;
}

.checkEmail {
  position: relative;
}

.checkOrganiationSpinner {
  position: relative;
  width: 30px;
  height: 30px;
  /* margin: 4px; */
}

.isCompanyNameUnique {
  position: relative;
  width: 30px;
  height: 30px;

  color: green;
}

.isEmailUnique {
  position: relative;
  right: 10px;
  width: 30px;
  height: 30px;
  bottom: 0px;
  color: green;
}

.checkEmailSpinner {
  position: relative;
  right: 10px;
  width: 30px;
  height: 30px;

  bottom: 0px;
}

.react-flag-Signup {
  height: 30px !important;
  padding: auto !important;
  margin-top: 0px !important;
}

.react-flag-Signup button {
  cursor: pointer !important;
  width: 100% !important;
  /* display        : flex !important; */
  /* margin-left    : 12px; */
  /* justify-content: space-between !important; */
  /* align-items    : center !important; */
  padding: 4px 5px !important;
  font-family: inherit !important;
  font-size: 7px !important;
  color: #4d4d4d !important;
  border: thin solid rgba(77, 77, 77, 0.3);
  border-radius: 2px !important;
  background: transparent;
}

.react-flag-Signup input {
  cursor: pointer !important;
  padding: 5px 8px !important;
  margin: 4px 5px !important;
  font-size: 10px !important;
  white-space: nowrap !important;
}

.react-flag-Signup button:after {
  border-top: 3px solid #4d4d4d;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 0;
  margin-left: -3px;
}

.react-flag-Signup button[aria-expanded="true"]:after {
  border-top: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #4d4d4d;
  margin-left: -3px;
}

.react-flag-Signup ul {
  max-height: 130px !important;
}

.Form-PhoneInput-field {
  width: 100% !important;
  border-radius: 4px !important;
  height: 33px;
  font-size: 13px !important;
}

.Form-PhoneInput-field:focus {
  border: 1px solid #ced4da;
  box-shadow: none !important;
}

.Signup-Organization-language {
  position: absolute;
  overflow: hidden !important;
  top: 5px;
  right: 120px;
  padding: 8px 40px !important;
  z-index: 9999;
  /* background-color: #fff !important; */
  border-color: rgb(64, 64, 64) !important;
  box-shadow: none !important;
}

.Signup-Organization-language:focus,
.Signup-Organization-language:focus-within,
.Signup-Organization-language:focus-visible {
  border-color: rgb(133, 133, 133) !important;
  box-shadow: none !important;
  outline: none !important;
}
.countrydropdown  select{
  font-size: 13px !important;
  color: #5a5a5a;
}