@font-face {
  font-family: "MontserratSemiBold";
  src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
}
.signup_organization_title {
  color: #6172d6;
  font-weight: 400;
  margin: 0 0 25px 0;
  font-family: "MontserratSemiBold";
}

.signup_admin_title {
  color: #6172d6;
  font-weight: 400;
  margin: 60px 0 25px 0;
  font-family: "MontserratSemiBold";
}

.signUp_Container {
  background-color: #fff !important;
}

.SignUp_form {
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 800px;
  background-color: #f6f9fc;
  border: 1px solid #000;
}

.signup_select {
  border-radius: 1px;
  border: 1px solid #ccc;
  height: 34px;
}

.signUp_NextBtn {
  width: 90px;
  margin: 0;
  /* padding: 0; */
  background-color: #6172D6 !important;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
}

.signUp_NextBtn:hover {
  width: 90px;
  margin: 0;
  /* padding: 0; */
  background-color: #6172D6 !important;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
}

.signUp_goBack {
  color: #000;
  margin: 0;
}

.signUp_goBack+a {
  color: #000;
  text-decoration: underline;
}

.signUp_NextBtn:hover {
  background-color: #076db7;
}

/* left section */
.signUp_LeftSection {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.signUpform_bg {
  padding: 30px 40px;
  background-color: #f6f9fc;
  border: 1px solid #707070;
  border-radius: 4px;
}

.sigup_form_leftSection {
  position: absolute;
  top: 40px;
  right: -90px;
  z-index: 9999999;
}

/* right section  */

.signUp_rightSection {
  background: linear-gradient(to top, #49dbdb 0%, #6172d6 100%);
  min-height: 100vmin !important;
  overflow: hidden !important;
  position: relative;
}

.rightsection_roundLogo {
  position: absolute;
  top: -120px;
  right: -150px;
  /* overflow: hidden; */
}

.errorMessage {
  margin: 4px;
  height: 7px;
  color: #f16b6b;
  visibility: visible !important;
}

.errorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 7px;
  color: #f16b6b !important;
}

.emailCheckbox span,
.companynamecheckbox span {
  width: 35px;
  border-radius: 5px;
  height: 35px;
}

.companynamecheckbox span {
  border: none !important;
}

.emailCheckbox .ant-checkbox-inner {
  background-color: #707070;
}

.emailCheckbox span {
  margin: 8px 0 0 0;
}

.emailCheckbox .ant-checkbox-wrapper {
  margin-top: 8px !important;
}

.emailCheckbox .ant-checkbox-wrapper.checked {
  background-color: #49dbdb;
}

.emailCheckbox span:focus {
  border: none !important;
}

.dropdown-countrylist {
  max-height: 18vh !important;
}

.react-tel-input .country-list {
  background: #ffffff !important;
}

.checkOrganization {
  position: relative;
}

.checkEmail {
  position: relative;
}

.checkOrganiationSpinner {
  position: relative;
  width: 30px;
  height: 30px;
  /* margin: 4px; */
}

.isCompanyNameUnique {
  position: relative;
  width: 30px;
  height: 30px;

  color: green;
}

.isEmailUnique {
  position: relative;
  right: 10px;
  width: 30px;
  height: 30px;
  bottom: 0px;
  color: green;
}

.checkEmailSpinner {
  position: relative;
  right: 10px;
  width: 30px;
  height: 30px;

  bottom: 0px;
}