.File_name {
  font-size: 20px !important;
  color: #6172d6 !important;
  font-family: "MontserratSemiBold";
}

.Row_Details_styles {
  font-size: 12px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold";
}
