.dataroombreadCrumbs {
    color: #6127d6 !important;
    list-style: none !important;
    font-weight: 600;
}
.dataroombreadCrumbs  ol {
    list-style: none !important;
    display: flex !important;
    padding-left: 0px !important;
    margin-bottom: 0 !important;
    cursor: pointer;
}
.ant-popover.overClass .ant-popover-content {
    border-radius: 4px !important;
    border: 1px solid #e1e1e1;
}