@font-face {
  font-family: "MontserratSemiBold";
  src: url("./../../assets/fonts-new/montserrat-600-webfont.woff"),
    url("./../../assets/fonts-new/montserrat-600-webfont.woff2");
}

.DataRoom_container {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
}

.Data_room_heading {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Data_room_new_btn {
  width: 137px !important;
  height: 39px !important;
  background: #5a5a5a;
  font-size: 12px !important;
  border: none;
}

.Search_Icon {
  position: absolute !important;
  right: 213px !important;
  cursor: pointer !important;
  top: 26px !important;
  z-index: 1 !important;
}

.Data_room_paper {
  height: 708px !important;
  width: 1429px !important;
  width: 100% !important;
  height: auto !important;
  padding: 30px 30px !important;
}

.allDocuments_btn {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff;
  border: none !important;
  font-family: "MontserratSemiBold";
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a;
}

.allDocuments_btn_active {
  padding: 6px 12px !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #fff;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
}

.allDocuments_btn:hover,
.allDocuments_btn:focus,
.allDocuments_btn:active,
.allDocuments_btn:focus-visible {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a !important;
}


.myDocument_btn_active {
  padding: 6px 12px !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #fff;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
}

.myDocument_btn {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff;
  border: none !important;
  font-family: "MontserratSemiBold";
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a;
}

.myDocument_btn:hover,
.myDocument_btn:focus,
.myDocument_btn:active,
.myDocument_btn:focus-visible {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a !important;
}

.Shared_with_me_btn_active {
  padding: 6px 12px !important;
  font-size: 12px !important;
  color: #fff;
  font-family: "MontserratSemiBold";
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
}

.Shared_with_me_btn {
  padding: 6px 12px !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  background: #fff;
  border: none !important;
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a;
}

.Shared_with_me_btn:hover,
.Shared_with_me_btn:active,
.Shared_with_me_btn:focus,
.Shared_with_me_btn:focus-visible {
  padding: 6px 12px !important;
  font-size: 12px !important;
  background: #fff !important;
  font-family: "MontserratSemiBold";
  border: none !important;
  border: 1px solid #e1e1e1 !important;
  color: #5a5a5a !important;
}

.profile_picture {
  border-radius: 30px !important;
}

.Name_particiapnt {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #a2a2a2;
}

.Lastmodified_date {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #a2a2a2;
}

.File_size_Style {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #a2a2a2;
}

.name_of_life {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #a2a2a2;
}

.DropDown {
  width: 137px !important;
  height: 107px !important;
  background: #fff;
  border-radius: 4px !important;
  z-index: 1;
  position: absolute;
  top: 56px !important;
  border: 1px solid #e1e1e1;
  left: 270px !important;
}

.New_folder {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Folder_Upload {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
  margin-top: 2px !important;
  margin-left: 4px !important;
}

.Messege_nofiles {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Tag_line_nofiles {
  font-size: 20px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Messege_nofiles_shared {
  font-size: 20px !important;
  font-family: "MontserratSemiBold";
  color: #bbbbbb;
}

.Folder_Icon {
  z-index: 1;
}

.Search_icon {
  position: absolute !important;
  z-index: 1;
  bottom: 100px !important;
  right: 630px;
}

.paper_Icon {
  position: absolute !important;
  /* z-index: 1; */
  top: 150px !important;
  right: 640px;
}

.spark_icon {
  position: absolute;
  left: 660px;
}

.Drop_Down_searchBar {
  width: 100% !important;
  height: 127px !important;
  padding: 10px 10px !important;
  background: #fff;
  border: 1px solid #e1e1e1;
  z-index: 1;
  position: absolute;
  top: 39px !important;
  right: 0 !important;
}

body[dir="rtl"] .Drop_Down_searchBar {
  right: 49.2% !important;
}

.DropDown_name {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Show_more_options {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
  border-top: 1px solid #e1e1e1;
}

.Search_option_text_span {
  font-size: 12px;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Search_result_Heading {
  font-size: 16px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

.Clear_All_btn {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Drop_Down_searchBar_Options {
  width: 611px !important;
  height: auto;
  padding: 10px 10px !important;
  background: #fff;
  border: 1px solid #e1e1e1;
  z-index: 1;
  position: absolute;
  top: 39px;
  right: 0;
}

body[dir="rtl"] .Drop_Down_searchBar_Options {
  right: 49.2% !important;
}

.CrossButton {
  background: none;
  border: none;
}

.CrossButton:hover,
.CrossButton:active,
.CrossButton:focus,
.CrossButton:focus-visible {
  background: none !important;
  border: none !important;
}

.cancell_Search_button_Dataroom {
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 12px 30px !important;
  font-size: 12px;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.cancell_Search_button_Dataroom:hover,
.cancell_Search_button_Dataroom:active,
.cancell_Search_button_Dataroom:focus,
.cancell_Search_button_Dataroom:focus-visible {
  background: #fff !important;
  border: 1px solid #e1e1e1 !important;
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
  color: #5a5a5a !important;
}

.Search_Search_button_Dataroom {
  background: #6172d6;
  border: none;
  padding: 12px 30px !important;
  font-size: 12px;
  font-family: "MontserratSemiBold";
  color: #fff;
}

.Search_Search_button_Dataroom:hover,
.Search_Search_button_Dataroom:active,
.Search_Search_button_Dataroom:focus,
.Search_Search_button_Dataroom:focus-visible {
  background: #6172d6 !important;
  border: none !important;
  padding: 12px 30px !important;
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
  color: #fff !important;
}

body[dir="rtl"] .Search_Icon {
  position: absolute !important;
  cursor: pointer !important;
  right: 1370px !important;
}

/* body[dir="rtl"] .Drop_Down_searchBar {} */

.grid_view_btn {
  height: 39px !important;
  width: 39px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1;
  /* border-right: none !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.grid_view_btn:is(:hover, :visited, :active, :focus, :focus-visible, :active) {
  height: 39px !important;
  width: 39px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1;
  border-color: #e1e1e1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  outline: none !important;
}


.grid_view_btn_active {
  height: 39px !important;
  width: 39px !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-right-radius: 0px !important; */
  /* border-bottom-right-radius: 0px !important; */
}

.List_view_btn {
  height: 39px !important;
  width: 39px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1;
  border-color: #e1e1e1 !important;
  /* border-left: none !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.List_view_btn:is(:hover, :visited, :active, :focus, :focus-visible, :active) {
  height: 39px !important;
  width: 39px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.List_view_btn_active {
  height: 39px !important;
  width: 39px !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 0px !important; */
  /* border-bottom-left-radius: 0px !important; */
}



.new_folder {
  font-size: 10px !important;
  margin-left: 3px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Folder_style {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.HoverStyle {
  width: 25px !important;
  height: 25px !important;
  border-radius: 20px !important;
  padding: 5px !important;
}

.Deletehover {
  width: 25px !important;
  height: 25px !important;
  background: #f1f1f1 !important;
  border-radius: 20px !important;
  padding: 5px 5px !important;
  box-shadow: 0px 0px 0px 5px solid #f1f1f1;
}

.Back_ground_For_uploader {
  width: 425px !important;
  height: 124px !important;
  background: #fff;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border: #e1e1e1;
  position: absolute !important;
  z-index: 1 !important;
  bottom: 0px !important;
  border-radius: 4px !important;
  right: 90px !important;
  border: 1px solid #e1e1e1 !important;
}

.Blue_Strip {
  width: 425px !important;
  height: 43px !important;
  border-radius: 4px !important;
  background: #6172d6;
}

.name_of_life_in_Bar {
  font-size: 12px !important;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";
}

.Progress_bar {
  font-size: 12px !important;
  color: #fff !important;
}

.Scroller_bar_of_BarUploder {
  height: 13vh !important;
  overflow-x: hidden !important;
}

.Scroller_bar_of_BarUploder::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_bar_of_BarUploder::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Uploading {
  font-size: 12px !important;
  color: #fff;
  font-family: "MontserratSemiBold";
}

.Delete_notification_bar {
  width: 134px !important;
  height: 33px !important;
  background: #5a5a5a;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 5% !important;
  z-index: 1;
}

.Folder_removed_heading {
  font-size: 12px !important;
  color: #f6f6f6;
  font-family: "MontserratSemiBold";
}

.Drop_Down_container {
  width: 145px !important;
  height: auto;
  padding: 7px 15px !important;
  background: #ffffff !important;
  border: 1px solid #e1e1e1;
  z-index: 1;
  border-radius: 4px !important;
  position: absolute;
  right: 9%;
  top: 57%;
  line-height: 7px !important;
}

.hr-Line_tag {
  width: 105px !important;
  border: 1px solid #a2a2a2;
  background: #fff !important;
  margin-left: 20px !important;
  margin-top: 7px !important;
}

.Options_name_threedotdropdown {
  font-size: 12px !important;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";
  margin-left: 7px !important;
}

.backgeound_Rename_notification {
  width: 480px !important;
  height: 45px !important;
  background: #5a5a5a;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 5%;
}

.Tag_line_rename_notfication {
  font-size: 16px !important;
  font-family: "MontserratSemiBold";
  color: #f6f6f6 !important;
}

.background_action_unDone {
  width: 195px !important;
  height: 45px !important;
  background: #5a5a5a;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 1;
}

.Action_undone_notification {
  font-size: 16px !important;
  font-family: "MontserratSemiBold";
  color: #f6f6f6;
}

.Option_Document_button {
  font-size: 12px !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
}

.Custome_range_options {
  width: 191px !important;
  height: 237px;
  border: 1px solid #e1e1e1;
  background: #fff;
  position: absolute;
  z-index: 1;
}

.DropDownSelct {
  width: 100px;
  height: 39px !important;
}

.Drop_down_Documents {
  width: 191px !important;
  height: 237px !important;
  border: 1px solid #e1e1e1;
  background: #fff;
  position: absolute !important;
  z-index: 1;
  right: 39.2%;
  top: 36.8%;
}

body[dir="rtl"] .Drop_down_Documents {
  right: 49%;
}

.cancell_button_expandDropdown {
  width: 68px !important;
  height: 20px !important;
  font-family: "MontserratSemiBold";
  font-size: 8px !important;
  color: #5a5a5a;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.cancell_button_expandDropdown:hover,
.cancell_button_expandDropdown:active,
.cancell_button_expandDropdown:focus,
.cancell_button_expandDropdown:focus-visible {
  width: 68px !important;
  height: 20px !important;
  font-size: 8px !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold" !important;
  background: #fff !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

.Apply_button_expandDropdown {
  width: 64px !important;
  height: 20px !important;
  font-size: 8px !important;
  background: #6172d6;
  color: #fff;
  border: none;
  border-radius: 4px !important;
}

.Apply_button_expandDropdown:hover,
.Apply_button_expandDropdown:active,
.Apply_button_expandDropdown:focus,
.Apply_button_expandDropdown:focus-visible {
  width: 64px !important;
  height: 20px !important;
  font-size: 8px !important;
  background: #6172d6;
  font-family: "MontserratSemiBold" !important;
  color: #fff;
  border: none;
  border-radius: 4px !important;
}

.Clear_button {
  width: 62px !important;
  height: 20px !important;
  font-size: 8px !important;
  border: 1px solid #e1e1e1;
  font-family: "MontserratSemiBold" !important;
  border-radius: 4px !important;
  background: #fff;
  color: #5a5a5a;
}

.Clear_button:hover,
.Clear_button:active,
.Clear_button:focus,
.Clear_button:focus-visible {
  width: 62px !important;
  height: 20px !important;
  font-size: 8px !important;
  border: 1px solid #e1e1e1 !important;
  font-family: "MontserratSemiBold" !important;
  border-radius: 4px !important;
  background: #fff !important;
  color: #5a5a5a !important;
}

.DragDropIconDataRoom {
  background: none !important;
  border: none !important;
}

.dropdown_menu_dataroom {
  width: 137px !important;
}

.dataFolderRow {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  height: 22px !important;
  cursor: pointer;
}

.dataroom_location {
  white-space: nowrap !important;
}

.Data_room_btn {
  margin-left: 29px !important;
  align-items: center !important;
}

body[dir="rtl"] .Data_room_btn {
  margin-right: 20px !important;
}

.font_size {
  font-size: calc(14px - 20%) !important;
}

.dataroom_searchinput {
  display: inline-block;
  position: absolute !important;
  right: 0 !important;
  width: auto;
  top: 7px;
  margin-right: 10px;
}