.Update-Group-paper {
  height: auto !important;
  width: 100% !important;
  padding: 60px 60px 30px 60px !important;
  margin-bottom: 20px;
}

.details-class {
  font-size: 20px !important;
  color: #6172d6 !important;
}

body[dir="rtl"] .details-class {
  font-weight: 600;
}

.scroll-bar-creategroup {
  height: 30vh !important;
  overflow-x: hidden !important;
}

.scroll-bar-creategroup::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.scroll-bar-creategroup::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Create-group-Head-Heading {
  font-size: 18px !important;
  color: #6172d6 !important;
}

body[dir="rtl"] .Create-group-Head-Heading {
  font-weight: 600;
}

.group-head-info {
  line-height: 15px !important;
}

.name-create-group {
  color: #5a5a5a;
  font-size: 12px !important;
}

body[dir="rtl"] .name-create-group {
  font-weight: 600;
}

.Designation-create-group {
  color: #5a5a5a;
  font-size: 10px !important;
}

body[dir="rtl"] .Designation-create-group {
  font-weight: 600;
}

.email-create-group {
  color: #5a5a5a;
  color: #6172d6;
  text-decoration: underline !important;
  font-size: 10px !important;
}

body[dir="rtl"] .email-create-group {
  font-weight: 400;
}

body[dir="rtl"] .no-member {
  font-weight: 600;
}

.members-create-group-page {
  font-size: 18px !important;
  color: #6172d6 !important;
}

body[dir="rtl"] .members-create-group-page {
  font-weight: 600;
}

.Addmembers-class {
  font-size: 18px !important;
  color: #6172d6 !important;
}

body[dir="rtl"] .Addmembers-class {
  font-weight: 600;
}

.Create-UpgradeGroup-btn {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6;
  color: #fff;
  font-weight: 600;
  border-radius: 4px !important;
  border: none !important;
}

body[dir="rtl"] .Create-UpgradeGroup-btn {
  font-weight: 600;
}

.Create-UpgradeGroup-btn:is(:hover, :active, :focus, :focus-visible, :visited) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 4px !important;
  border: none !important;
}

.ADD-Group-btn {
  font-size: 12px !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff;
  font-weight: 600;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  padding: 12px 30px !important;
  height: 39px !important;
}

body[dir="rtl"] .ADD-Group-btn {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
  font-weight: 600;
}

.ADD-Group-btn:hover,
.ADD-Group-btn:active,
.ADD-Group-btn:focus,
.ADD-Group-btn:focus-visible {
  font-size: 12px !important;
  background: linear-gradient(to left #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  padding: 12px 30px !important;
  height: 39px !important;
}

.scrollbar-addmember-creategroup {
  height: 14vh !important;
  overflow-x: hidden !important;
  max-width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
}

.scrollbar-addmember-creategroup::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.scrollbar-addmember-creategroup::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.group-head-info-Add-Members {
  margin-left: 3px !important;
  line-height: 15px !important;
}

.Cancell-UpgradeGroup-btn {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #ffffff;
  color: #5a5a5a;
  font-weight: 600;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

body[dir="rtl"] .Cancell-UpgradeGroup-btn {
  font-weight: 600;
}

.Cancell-UpgradeGroup-btn:hover,
.Cancell-UpgradeGroup-btn:active,
.Cancell-UpgradeGroup-btn:focus,
.Cancell-UpgradeGroup-btn:focus-visible,
.Cancell-UpgradeGroup-btn:visited {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #ffffff !important;
  color: #5a5a5a !important;
  font-weight: 600;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

.Create-Group-Heading {
  font-size: 30px !important;
  color: #6172d6 !important;
}

body[dir="rtl"] .Create-Group-Heading {
  font-weight: 600;
}

/* .Column-Update-Group-Style {
  margin-top: -4px !important;
} */

.Label_Of_CheckBox {
  font-size: 12px !important;
  color: #5a5a5a;
  margin-top: 13px !important;
  margin-left: 4px !important;
}

body[dir="rtl"] .Label_Of_CheckBox {
  margin-right: 10px !important;
}

.Checkbox {
  display: flex !important;
  justify-content: start;
  margin-left: -10px !important;
}

body[dir="rtl"] .Checkbox {
  margin-right: -20px !important;
}

.errorMessage {
  margin: 4px;
  height: 7px;
  color: #f16b6b;
  visibility: visible !important;
}

body[dir="rtl"] .errorMessage {
  font-weight: 600;
}

.errorMessage_hidden {
  visibility: hidden;
  margin: 0;
  height: 7px;
  color: #f16b6b !important;
}

body[dir="rtl"] .errorMessage_hidden {
  font-weight: 600;
}

.ant-upload-text {
  font-size: 12px !important;
  color: #5a5a5a !important;
  font-weight: 600;
}

body[dir="rtl"] .ant-upload-text {
  font-weight: 600;
}

.Choose_file_style {
  font-size: 12px !important;
  color: #6172d6 !important;
  font-weight: 600;
  margin-left: 3px !important;
}

.Leftpolygon {
  background: none;
  border: none;
  display: flex !important;
  align-items: center !important;
}

body[dir="rtl"] .Leftpolygon {
  transform: rotate(180deg) !important;
}

.Leftpolygon:hover,
.Leftpolygon:active,
.Leftpolygon:focus,
.Leftpolygon:focus-visible {
  background: none !important;
  border: none !important;
}

.Attachments_Heading {
  font-size: 20px !important;
  font-weight: 600;
  color: #6172d6 !important;
}

.Outer_Box {
  height: auto !important;
  border: 1px solid #e1e1e1 !important;
  margin-bottom: 10px !important;
  border-radius: 4px !important;
  width: 100% !important;
}

.filesStyles {
  width: 100% !important;
  display: flex !important;
  gap: 35px !important;
}

.backGround_name_Icon {
  background: #fff;
}

.IconTextClass {
  display: flex;
  text-align: center !important;
  align-items: center !important;
  gap: 7px !important;
}

.IconPDF {
  margin-left: 10px !important;
}

.FileName {
  font-size: 10px !important;
  color: #5a5a5a !important;
  font-weight: 400;
  display: inline-block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  width: 100px !important;
}

.Crossicon_Class {
  cursor: pointer !important;
  position: absolute !important;
  top: -7px !important;
  right: -4px !important;
}

.Outer_Border-Line {
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 10px 10px !important;
  margin-top: 8px !important;
}
