.search-Icon {
  margin: 0 0 0 5px;
  transition: all 0.5s;
}

.bell-Icon {
  margin: 15px 10px 0 20px;
  transition: all 0.5s;
  position: relative;
}

.mx-2 {
  margin-left: 10px;
}

.dropdown-menu-list-item {
  padding: 0px 15px;
}

.user-dropdown {
  height: 45px;
}

.user-dropdown .dropdown-toggle {
  background: #ffffff;
  border: 1px solid #e1e1e1 !important;
  padding: 16px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  gap: 10px;
  cursor: pointer;
}

.dropdown-toggle {
  background: #ffffff;
  border: 1px solid #e1e1e1 !important;
  padding: 16px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.show .dropdown {
  border: none !important;
}

.dropdown-toggle:hover {
  background: #ffffff;
  border: 1px solid #e1e1e1 !important;
}

.user-dropdown .dropdown-toggle .header-icon {
  margin: 0 4px 0 0;
}

.user-dropdown .dropdown-menu.active {
  display: block;
}

.user-dropdown .dropdown-menu.show {
  width: 100%;
  margin-top: 0px;
  border-radius: 0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.user-dropdown .dropdown-menu-list-item {
  margin-bottom: 20px;
  position: relative;
}

.user-dropdown .dropdown-menu-list-item a {
  padding: 5px 0 3px 0;
  display: block;
}

.user-dropdown .dropdown-menu-list-item:after {
  position: relative !important;
  bottom: -10px;
  width: 85%;
  height: 1px;
  background: #e1e1e1;
  content: "";
  display: block;
}

.nav-item {
  /* margin-bottom: 15px; */
  text-align: none;
  list-style: none;
}

/* .header-icon {
    transform: translate(-5px, 15px);
  } */

.user-dropdown .dropdown-toggle .user-name {
  margin: 0 5px;
}

/* .user-name {
      transform: translate(5px , 0px);
  } */
.dropright .dropdown-menu.show {
  right: 0px;
  left: inherit;
  display: block;
}

.dropmidle .dropdown-menu {
  transform: translate(-55%, 30px) !important;
  display: none;
}

.dropmidle .dropdown-menu.show {
  display: block;
  margin-top: 5px;
}

.dropdown-item {
  white-space: nowrap !important;
  font-size: 0.8rem;
  /* margin  : 0 0 0 0; */
}

.dropdown-item:hover {
  background: none;
}

/* .dropmidle .notification-dropdown-menu {
  transform: translate(-43%, 24px);
} */
.notification-dropdown .notification-dropdown-menu {
  min-width: 320px;
  max-width: 320px;
  max-height: 70vh;
  overflow: auto;
}

.notification-dropdown > [data-bs-toggle="dropdown"].show:before {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #e1e1e1;
  content: "";
  display: block;
  position: absolute;
  top: 53px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.icon-list-item {
  width: 20px;
  height: 20px;
  background: #e1e1e1;
  border-radius: 50%;
  /* overflow  : hidden; */
}

.desc-notification-user {
  width: 50px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #9a9a9a; */
  border-radius: 50%;
}

/* .desc-item-text {
    font-size: 0.8rem !important;
  
  } */
.desc-item-time {
  text-align: right;
  color: #9a9a9a;
  margin: 0 10px 0 0;
}

.icon-notification-list-item {
  width: 50px;
  height: 50px;
  background: #cccc;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.desc-notification-list-item {
  padding: 0 10px;
  width: 100% !important;
  height: auto;
}

.notification-dropdown-menu-item {
  color: #505050;
}

.notification-dropdowntoggle {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px !important;
  color: #000;
}

.notification-dropdowntoggle:hover {
  border: none !important;
}

.notification-dropdowntoggle::after {
  border: none;
}

.profilebtn-dropdown {
  max-width: 240px;
}

.user-name {
  margin: 0;
  padding: 0;
  max-width: 140px;
  text-overflow: ellipsis !important;
  overflow: hidden;
}

.dropdown-toggle {
  margin: 0;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  color: #000;
}

.dropdown-toggle:focus {
  border: none;
  --bs-btn-focus-box-shadow: none;
}

.dropdown_menu {
  width: 100% !important;
}

.dropdown-toggle {
  background-color: transparent !important;
  color: #000 !important;
}

.notification-dropdown_menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 320px;
  max-width: 320px;
  margin: 0;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  inset: 0px auto auto 0px;
  transform: translate(-106px, 255px) !important;
  overflow-x: hidden;
  max-height: 70vh;
}

.notification-day {
  margin: 0;
  font-weight: 700;
  font-size: 0.9rem;
  color: #000;
}

.header-heading {
  font-size: 1.1rem;
  /* width : 280px; */
}

.icon-class {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.notification-dropdown_menu {
  inset: 0px 0px auto 0px !important;
}

.notification-icon {
  font-size: 5rem;
  color: #2097d6;
}

/* change color  from blue to this */
.notification-text .ant-result-subtitle {
  font-size: 1.2rem !important;
  color: #2097d6;
}

.header-container {
  z-index: 1 !important;
}

.language-dropdown {
  background: transparent;
  border: 1px solid #e1e1e1 !important;
  padding: 16px;
  /* border-top-right-radius: 6px; */
  /* border-top-left-radius : 6px; */
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 10px;
  margin-right: 14px;
}

.language-dropdown:focus-visible,
.language-dropdown:active,
.language-dropdown:focus {
  background: transparent;
  border: 1px solid #e1e1e1 !important;
  padding: 16px;
  /* border-top-right-radius: 6px; */
  /* border-top-left-radius : 6px; */
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 10px;
  margin-right: 14px;
}

.dropdown-btn .dropdown-toggle.btn.btn-primary {
  height: 26px !important;
  border: none !important;
}

.dropdown-btn .dropdown-toggle::after {
  display: none;
}

.title-className {
  padding: 6px 20px;
  font-size: 12px !important;
  font-family: 'MontserratMedium-500';
  font-weight: 600;
  color: #505050 !important;
  border-bottom: 1px solid #e1e1e1 !important;
}

.title-language-className {
  padding: 8px 8px;
  font-size: 11px !important;
  text-align: center !important;
}
