.backtosignInButton {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.Successtitle {
  font-size: 35px;
  text-align: center;
  margin: 15px 0px;
  color: #036ab2 !important;
}

.verfication-Text {
  font-size: 16px !important;
  font-weight: 400 !important;
  text-align: center !important;
  margin-left: 20px !important;
  color: #000000 !important;
}

.Back-to-signIn-btn {
  width: 182px !important;
  height: 50px !important;
  text-align: center !important;
  background-color: #2197D7 !important;
  border-color: #2197D7 !important;
  color: #ffffff !important;
  margin-top: 20px;
  margin-bottom: 100px !important;
  /* margin: 10px 0; */
  border-radius: 4px !important;
}

.AccountVerification{
    background: #ffffff;
    width: 420px !important;
    padding: 20px 35px !important;
}

.Account-created-logo{
    /* margin-left: 2px !important; */
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    margin-left: 32px;
    margin-top: 15px !important;
}
