.CustomerInfo_div {
  max-height: 500px !important;
  /* overflow-y: auto !important;
  overflow-x   : hidden !important; */
}

.papercolor {
  margin-top: 20px !important;
  margin-left: 90px;
  padding-bottom: 40px;
  color: #fff;
  border: #ccc 1px solid !important;
}

/* .countrydropdown {
  margin-top: 40px !important;
  width: 100% !important;
  height: 33px !important;
  border: 1px solid !important;
  border-radius: 2px !important;
  border-color: #e1e1e1 !important;
  color: black !important;
} */

.btnUpdate {
  padding: 5px 40px;
  border: none;
  border-radius: 2px;
  background-color: #6172d6;
  color: #fff;
}

.btnUpdate:hover {
  background-color: #6172d6;
  color: #fff;
  border-radius: 2px;
  border: none !important;
}

.btnRevert {
  padding: 5px 40px;
  border: none;
  border-radius: 2px;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.btnRevert:hover {
  background: #fff;
  color: rgb(8, 8, 8) !important;
  border: 1px solid #ccc;
}

.textFieldBorder {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #ffffff;
}

.CompanyTitle {
  margin-left: 20px;
  margin-top: 23px !important;
  font-size: 14px !important;
  font-family: "MontserratMedium-500";
  color: #5a5a5a;
}

.customerheading {
  font-size: calc(38px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  font-family: "MontserratSemiBold-600" !important;
  margin-bottom: 5px !important;
}

.lineOnBottom {
  border-bottom: 1px solid rgb(242, 242, 242) !important;
  border-spacing: 5px !important;
}

.Customer-Information-Scroller-container {
  height: 50vh !important;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #888;
} */

/* .editLink { */
/* margin-top: 25px !important;
  margin-left: 10px; */

/* } */
.editLink {
  color: #6172d6;
  margin-left: 20px;
}

.modalUpdatemodal {
  margin: 0 30px !important;
  max-height: 75% !important;
  height: 75% !important;
  min-height: 75% !important;
}

.modalUpdateted {
  border-bottom: none;
  border-top: none;
  padding: 10px 20px;
  height: 5%;
  max-height: 5%;
  min-height: 5%;
  margin-top: 15px !important;
}

.modalUpdateted-2 {
  /* align-items: center !important; */
  /* width      : 450px !important; */
  margin-top: 30px !important;
}

.modalCancelBtn {
  padding: 5px 30px;
  border: #171d2d 1px solid;
  color: #171d2d;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px !important;
}

.modalCancelBtn:hover {
  padding: 5px 30px;
  border: #171d2d 1px solid;
  color: #171d2d;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px !important;
}

.modalProceedBtn {
  padding: 5px 30px;
  border: none;
  border-radius: 4px;
  background-color: #6172d6;
  margin-bottom: 30px !important;
}

.modalProceedBtn:hover {
  padding: 5px 30px;
  border: none;
  border-radius: 4px;
  background-color: #6172d6;
  margin-bottom: 30px !important;
}

.modalUpdateText {
  text-align: center !important;
  font-size: 17px !important;
}

.formcontrol-Name-field {
  /* margin-top: 20px; */
  width: 100% !important;
  height: 33px !important;
  border-radius: 2px !important;
}

.formcontrol-Address1-field {
  width: 100% !important;
  height: 33px !important;
  border-radius: 2px !important;
}

.customerINformation {
  min-height: 60vh;
  overflow-y: auto;
}

.customerINformation::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-block: 25px;
}

.customerINformation::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
}

.react-flag-Info {
  height: 30px !important;
  padding: auto !important;
  margin-top: 4px !important;
}

.react-flag-Info button {
  cursor: pointer !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 5px 3px !important;
  font-family: inherit !important;
  font-size: 8px !important;
  color: #4d4d4d !important;
  border: thin solid rgba(77, 77, 77, 0.3);
  border-radius: 2px !important;
  background: transparent;
}

.react-flag-Info input {
  cursor: pointer !important;
  padding: 5px 8px !important;
  margin: 4px 5px !important;
  font-size: 10px !important;
  white-space: nowrap !important;
}

.react-flag-Info button:after {
  border-top: 3px solid #4d4d4d;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 0;
  margin-left: -3px;
}

.react-flag-Info button[aria-expanded="true"]:after {
  border-top: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #4d4d4d;
  margin-left: -3px;
}

.customerInfoModal {
  display: block !important;
}
