.CustomerInfo_div {
  max-height   : 500px !important;
  /* overflow-y: auto !important;
  overflow-x   : hidden !important; */
}

.papercolor {
  margin-top    : 20px !important;
  margin-left   : 90px;
  padding-bottom: 40px;
  color         : #fff;
  border        : #ccc 1px solid !important;
}

/* .countrydropdown {
  margin-top: 40px !important;
  width: 100% !important;
  height: 33px !important;
  border: 1px solid !important;
  border-radius: 2px !important;
  border-color: #e1e1e1 !important;
  color: black !important;
} */

.btnUpdate {
  padding         : 5px 40px;
  border          : none;
  border-radius   : 2px;
  background-color: #6172d6;
  color           : #fff;
}

.btnUpdate:hover {
  background-color: #6172d6;
  color           : #fff;
  border-radius   : 2px;
  border          : none !important;
}

.btnRevert {
  padding      : 5px 40px;
  border       : none;
  border-radius: 2px;
  background   : #fff;
  color        : #000;
  border       : 1px solid #ccc;
}

.btnRevert:hover {
  background: #fff;
  color     : rgb(8, 8, 8) !important;
  border    : 1px solid #ccc;
}

.textFieldBorder {
  border-top-style   : hidden;
  border-right-style : hidden;
  border-left-style  : hidden;
  border-bottom-style: groove;
  background-color   : #ffffff;
}

.CompanyTitle {
  margin-left: 20px;
  font-weight: 600 !important;
  font-size  : 15px !important;
  margin-top : 30px !important;
}

.customerheading {
  font-weight  : 800 !important;
  font-size    : 2.2rem !important;
  margin-bottom: 5px !important;
  color        : #6172d6;
}

.lineOnBottom {
  border-bottom : 1px solid rgb(242, 242, 242) !important;
  border-spacing: 5px !important;
}

.Customer-Information-Scroller-container {
  height: 50vh !important;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #888;
} */

/* .editLink { */
/* margin-top: 25px !important;
  margin-left: 10px; */

/* } */
.editLink {
  color      : #6172d6;
  margin-left: 20px;
}

.modalUpdatemodal {
  margin    : 0 30px !important;
  max-height: 75% !important;
  height    : 75% !important;
  min-height: 75% !important;
}

.modalUpdateted {
  border-bottom: none;
  border-top   : none;
  padding      : 10px 20px;
  height       : 5%;
  max-height   : 5%;
  min-height   : 5%;
  margin-top   : 15px !important;
}

.modalUpdateted-2 {
  /* align-items: center !important; */
  /* width      : 450px !important; */
  margin-top: 30px !important;
}

.modalCancelBtn {
  padding         : 5px 30px;
  border          : #171d2d 1px solid;
  color           : #171d2d;
  border-radius   : 4px;
  background-color: #fff;
  margin-bottom   : 30px !important;
}

.modalCancelBtn:hover {
  padding         : 5px 30px;
  border          : #171d2d 1px solid;
  color           : #171d2d;
  border-radius   : 4px;
  background-color: #fff;
  margin-bottom   : 30px !important;
}

.modalProceedBtn {
  padding         : 5px 30px;
  border          : none;
  border-radius   : 4px;
  background-color: #6172d6;
  margin-bottom   : 30px !important;
}

.modalProceedBtn:hover {
  padding         : 5px 30px;
  border          : none;
  border-radius   : 4px;
  background-color: #6172d6;
  margin-bottom   : 30px !important;
}

.modalUpdateText {
  text-align: center !important;
  font-size : 17px !important;
}

.formcontrol-Name-field {
  /* margin-top: 20px; */
  width        : 100% !important;
  height       : 33px !important;
  border-radius: 2px !important;
}

.formcontrol-Address1-field {
  width        : 100% !important;
  height       : 33px !important;
  border-radius: 2px !important;
}

.customerINformation {
  min-height: 60vh;
  overflow-y: auto;
}

.customerINformation::-webkit-scrollbar {
  width           : 0.5rem;
  border-radius   : 20px;
  border          : 1px solid #ddd;
  background-color: #fff;
  margin-block    : 25px;
}

.customerINformation::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background   : #ccc;
}

.customerInfoModal {
  display: block !important;
}