.todolist-title-col {
  cursor: pointer;
  color: #000;
  margin: 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.gray {
  color: gray;
}

.green {
  color: green;
}

.todolist-create-btn {
  width: 220px !important;
}

.todolist-create-btn button {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 2px !important;
  border: none !important;
}

.todolist-search-row {
  margin-left: -25px !important;
  margin-top: 5px !important;
}

/* .todo-heading {
    width: 130px !important;
} */

.ToDo tr.ant-table-row.ant-table-row-level-0 td.ant-table-cell {
  padding: 6px 6px !important;
}

/* for todo pagination focus color */

.ToDo .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #e9e9e9 !important;
  font-size: 12px;
  font-weight: bold;
  /* display: contents !important; */
}

/* .Status-Todo .rc-virtual-list-holder-inner {
  width: 100px !important;
  overflow: hidden !important;
  display:flex !important;
  text-align: center !important; 
  grid-template-columns: 150px 150px;
} */


.Status-Todo .ant-select-dropdown.ant-select-dropdown-placement-bottomLeft {
  width: 100px !important;
  min-width: 100px !important;
}

/* .ant-tooltip-inner {
    display: none !important;
    opacity: 0 !important;
} */
.ant-tooltip.ant-tooltip-placement-top {
  display: none !important;
}

.ant-table-filter-column {
  display: inline-flex !important;
}

.ant-radio-input {
  opacity: 1 !important;
}

.filter-chevron-icon-todolist {
  color: #1890ff !important;
  float: left !important;
}

.ant-table-column-title {
  z-index: 0 !important;
}

.todolistContainer.container {
  height: 90vh;
}
.ant-table-wrapper.ToDo table thead tr th:nth-child(3) {
  padding: 0 0 0 0;
}
.ant-table-wrapper.ToDo table thead tr th:nth-child(4) {
  text-align: center !important;
  /* padding: 0 0 0 80px; */
}
.ant-table-wrapper.ToDo table tbody tr td:nth-child(4) {
  text-align: center !important;
}
.ant-table-wrapper.ToDo table tbody tr td:nth-child(5) {
  text-align: left !important;
}

.todolist-heading-size {
  font-size: 23px !important;
  color: #5f78d6 !important;
  font-weight: 600 !important;
  margin-top: 2px !important;
}

/* for todolist table */
.NoTaskTodo .ant-result-title {
  color: #e4e4e4;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .row-scroll-todolist {
    position: relative !important;
    overflow: auto !important;
    padding: 20px !important;
  }
}

@media screen and (max-width: 1200px) {
  .todolist-heading-size {
    font-size: 15px !important;
    color: #5f78d6 !important;
    font-weight: 600 !important;
    margin-top: 2px !important;
  }

  .todolist-create-btn button {
    font-size: 13px !important;
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border-radius: 2px !important;
    border: none !important;
  }
}
