@font-face {
    font-family: "MontserratSemiBold";
    src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "MontserratBold";
    src: url(../../../../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "MontserratMedium";
    src: url(../../../../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "MontserratRegular";
    src: url(../../../../assets/fonts/Montserrat-Regular.ttf);
}

.selected_package_details {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.selected_package_Container {
    background-color: #fff;
    margin: 0;
}

.PayInvoiceButton {
    width: 100%;
    border-radius: 4px;
    margin: 0;
    padding: 0 auto;
    background: #6172D6;
    border: none;
    font-family: "MontserratSemiBold";
}

.PayInvoiceButton:hover,
.PayInvoiceButton:active,
.PayInvoiceButton:focus,
.PayInvoiceButton:focus-visible,
.PayInvoiceButton:visited,
.PayInvoiceButton:target {
    width: 100% !important;
    border-radius: 4px !important;
    margin: 0 !important;
    padding: 0 auto !important;
    background: #6172D6 !important;
    border: none !important;

}

.viewInvocieButton {
    background: none;
    border: 1px solid #E1E1E1;
    color: #000;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 5px 10px;
    font-family: "MontserratSemiBold";

}

.viewInvocieButton:hover,
.viewInvocieButton:active,
.viewInvocieButton:focus,
.viewInvocieButton:focus-visible,
.viewInvocieButton:visited,
.viewInvocieButton:target {
    background: none !important; 
    border: 1px solid #E1E1E1 !important;
    color: #000 !important;
    width: 100% !important;
    border-radius: 4px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all .5s !important;
    display: flex !important;
    justify-content: space-between !important;
    font-size: 13px !important;
    padding: 5px 10px !important;
    font-family: "MontserratSemiBold" !important;
}
.pdfIconstyle{
    width: 25px;
    height: 25px;
}

.DownloadInvoiceButton {
    background: none;
    border: 1px solid #E1E1E1;
    color: #000;
    width: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    padding: 5px 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    font-family: "MontserratSemiBold";
}

.DownloadInvoiceButton:hover,
.DownloadInvoiceButton:active,
.DownloadInvoiceButton:focus,
.DownloadInvoiceButton:focus-visible,
.DownloadInvoiceButton:visited,
.DownloadInvoiceButton:target  {
    background: none !important;
    border: 1px solid #E1E1E1 !important;
    color: #000 !important;
    width: 100% !important;
    border-radius: 4px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all .2s !important;
    padding: 5px 10px !important;
    display: flex !important;
    justify-content: space-between !important;
    font-size: 13px !important;
    font-family: "MontserratSemiBold" !important;
}

.PayOutstanding_Heading {
    color: #6172D6;
    font-family: "MontserratSemiBold";
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.PackageHeadingClassName {
    font-family: "MontserratBold";
    margin: 10px 0 30px 0;
    font-size: 16px;
}

.selected_package_details_p1 {
    font-family: "MontserratMedium";
    font-size: 13px;
}

.selected_package_details_p2 {
    font-family: "MontserratRegular";
    font-size: 12px;
}