.selected_package_details {
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

.selected_package_Container {
  background-color: #fff;
  margin: 0;
}

.PayInvoiceButton {
  width: 100%;
  border-radius: 4px;
  margin: 0;
  padding: 0 auto;
  background: #6172d6;
  border: none;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

body[dir="rtl"] .PayInvoiceButton {
  font-family: "IBMPlexSansArabic-Medium" !important;
}
.PayInvoiceButton:hover,
.PayInvoiceButton:active,
.PayInvoiceButton:focus,
.PayInvoiceButton:focus-visible,
.PayInvoiceButton:visited,
.PayInvoiceButton:target {
  width: 100% !important;
  border-radius: 4px !important;
  margin: 0 !important;
  padding: 0 auto !important;
  background: #6172d6 !important;
  border: none !important;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

.viewInvocieButton {
  background: none;
  border: 1px solid #e1e1e1;
  color: #000;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

body[dir="rtl"] .viewInvocieButton {
  font-family: "IBMPlexSansArabic-Medium" !important;
}
.viewInvocieButton:hover,
.viewInvocieButton:active,
.viewInvocieButton:focus,
.viewInvocieButton:focus-visible,
.viewInvocieButton:visited,
.viewInvocieButton:target {
  background: none !important;
  border: 1px solid #e1e1e1 !important;
  color: #000 !important;
  width: 100% !important;
  border-radius: 4px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: all 0.5s !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 5px 10px !important;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

.pdfIconstyle {
  width: 25px;
  height: 25px;
}

.DownloadInvoiceButton {
  background: none;
  border: 1px solid #e1e1e1;
  color: #000;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  padding: 5px 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

body[dir="rtl"] .DownloadInvoiceButton {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.DownloadInvoiceButton:hover,
.DownloadInvoiceButton:active,
.DownloadInvoiceButton:focus,
.DownloadInvoiceButton:focus-visible,
.DownloadInvoiceButton:visited,
.DownloadInvoiceButton:target {
  background: none !important;
  border: 1px solid #e1e1e1 !important;
  color: #000 !important;
  width: 100% !important;
  border-radius: 4px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: all 0.2s !important;
  padding: 5px 10px !important;
  display: flex !important;
  justify-content: space-between !important;
  font-family: "MontserratMedium" !important;
  font-size: 12px !important;
}

.PayOutstanding_Heading {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: calc(38px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  font-family: "MontserratSemiBold-600" !important;
}
body[dir="rtl"] .PayOutstanding_Heading {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}
.PackageHeadingClassName {
  font-family: "MontserratBold";
  margin: 10px 0 30px 0;
  font-size: 16px;
}
body[dir="rtl"] .PackageHeadingClassName {
  font-family: "IBMPlexSansArabic-Bold" !important;
}
.selected_package_details_p1 {
  font-family: "MontserratMedium";
  font-size: 13px;
}
body[dir="rtl"] .selected_package_details_p1 {
  font-family: "IBMPlexSansArabic-Medium" !important;
}
.selected_package_details_p2 {
  font-family: "MontserratRegular";
  font-size: 12px;
}

body[dir="rtl"] .selected_package_details_p2 {
  font-family: "IBMPlexSansArabic-Regular" !important;
}
