.ChromeExperience_Wrapper {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* top align */
}

.Chrome_Backdrop {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none; /* background not clickable */
}

.ChromeExperience_Box {
  position: relative;
  min-width: 380px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  pointer-events: auto; /* box clickable if needed */
}
.ChromeExperience_Box_Cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.Chrome_Heading {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #6172d6;
}

.Chrome_Tagline {
  margin: 15px 0;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #5a5a5a;
  line-height: 15px;
}
.Closebtn {
  margin-top: 10px;
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fb9494 !important;
  color: #fff;
  font-weight: 600 !important;
  border-radius: 4px !important;
  border: none !important;
}
.Closebtn:is(:hover, :focus, :active, :focus-visible, :visited) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fb9494;
  color: #fff;
  font-weight: 600 !important;
  border-radius: 4px !important;
  border: none !important;
}
