/* .headtag{
    margin-left: 90px  !important;
    padding: auto !important;
} */

.tablecolumnrow {
  margin-top: 20px !important;
  position: relative !important;
  /* transition: opacity 0.3s; */
  overflow: auto !important;
  padding: 20px !important;
  background: #fff !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.btnEditReset {
  width: 120px !important;
  height: 34px !important;
  border: none;
  border-radius: 2px;
  background-color: #076db7;
}

.selectbox-Edit-organizationrole {
  margin-top: 15px !important;
  width: 100% !important;
}

.Edit-label-heading {
  /* margin-top: -15px; */
  font-weight: 600;
  font-size: 35px !important;
}

.Edit-Name-label {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 600;
}

.Edit-Update-Btn {
  margin: 20px 0;
  width: 140px !important;
  height: 33px !important;
  border: none;
  border-radius: 0px;
  background-color: rgb(117, 117, 117);
}

.Edit-Update-Btn:hover {
  background-color: rgb(117, 117, 117);
}

.Edit-modal-container {
  padding: 10px !important;
}

.Edit-Main-Heading {
  font-size: calc(38px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  margin-left: -11px !important;
}

body[dir="rtl"] .Edit-Main-Heading {
  margin-left: auto;
  margin-right: -10px;
  font-weight: 600 !important;
}

.successfull-label {
  font-size: 25px;
  font-weight: 600;
  text-align: center !important;
}

.Ok-Successfull-btn {
  width: 90px !important;
  height: 35px !important;
  border: 1px solid #000000;
  border-radius: 0px;
  background-color: #fff !important;
  color: black !important;
  margin-bottom: 20px !important;
}

.Ok-Successfull-btn:hover {
  background-color: #000000 !important;
  color: #fff !important;
  border: none !important;
}

.label.filter.form-label {
  display: none !important;
}

.searchbar-textfield {
  padding: 0 0px 0px 0px;
  position: relative !important;
  margin-top: 8px;
}

.formcontrol-names-fields {
  margin-top: 20px;
  width: 100% !important;
  height: 33px !important;
  border-radius: 2px !important;
}

.icon-modal-ResetBtn {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  background-color: #fff !important;
  color: black !important;
  font-weight: 500 !important;
  font-size: 12px;
  margin-bottom: 20px !important;
}
body[dir="rtl"] .icon-modal-ResetBtn {
  font-weight: 500 !important;
}
.icon-modal-ResetBtn:hover,
.icon-modal-ResetBtn:active,
.icon-modal-ResetBtn:focus {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  background-color: #fff !important;
  color: black !important;
  font-weight: 500 !important;
  font-size: 12px;
  margin-bottom: 20px !important;
}

.icon-modal-SearchBtn {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6 !important;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-right: 15px;
  font-weight: 500 !important;
  font-size: 12px;
}

body[dir="rtl"] .icon-modal-SearchBtn {
  font-weight: 500 !important;
}

.icon-modal-SearchBtn:hover,
.icon-modal-SearchBtn:focus,
.icon-modal-SearchBtn:active {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6 !important;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-right: 15px;
  font-weight: 500 !important;
  font-size: 12px;
}

body[dir="rtl"] .icon-modal-SearchBtn {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-right: 0px !important;
  margin-left: 15px !important;
}

body[dir="rtl"] .icon-modal-SearchBtn:hover {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-right: 0px !important;
  margin-left: 15px !important;
}

.icon-modal-SearchBtn:hover {
  width: 115px !important;
  height: 46px !important;
  border: 1px solid #6172d6;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  margin-right: 15px;
}

.formcontrol-fieldfor-filtermodal {
  margin-top: 10px;
  width: 100% !important;
  height: 39px !important;
  border-radius: 2px !important;
  border-color: #e1e1e1 !important;
  /* margin-bottom: -8px; */
}

.formcontrol-fieldfor-filtermodal:focus {
  border: 1px solid #e1e1e1 !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.formcontrol-fieldselectfor-filtermodal {
  margin: 5px 0px !important;
  width: 100% !important;
  border-color: #e1e1e1 !important;
}
body[dir="rtl"] .formcontrol-fieldselectfor-filtermodal {
  font-weight: 600 !important;
  color: #5a5a5a !important;
}
.formcontrol-Phone-field {
  margin-top: 20px;
  /* margin-left: 20px !important; */
}

.filterModal {
  position: absolute;
  top: -3px;
  right: 30px;
  font-size: 21px;
  cursor: pointer;
}

body[dir="rtl"] .filterModal {
  top: -3px;
  right: auto;
  left: 30px;
  cursor: pointer;
}

.AddUser-btn {
  width: 155px !important;
  height: 34px !important;
  margin-right: -13px !important;
  border: none !important;
  border-radius: 4px;
  background: linear-gradient(to left, #4adede 0%, #6172d6 100%);
  color: #ffff !important;
  font-weight: 600 !important;
  font-size: 12px;
  margin-top: 5px;
}

.AddUser-btn:hover {
  width: 155px !important;
  height: 34px !important;
  margin-right: -13px !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background: linear-gradient(to left, #4adede 0%, #6172d6 100%);
  color: #ffff !important;
  font-weight: 600 !important;
  font-size: 12px;
  margin-top: 5px;
}

body[dir="rtl"] .AddUser-btn {
  background: linear-gradient(to right, #4adede 0%, #6172d6 100%);
  width: 155px !important;
  height: 34px !important;
  margin-right: 0 !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #ffff !important;
  font-weight: 600 !important;
  font-size: 12px;
  margin-top: 5px;
  margin-left: -12px;
}

body[dir="rtl"] .AddUser-btn:hover {
  width: 155px !important;
  height: 34px !important;
  margin-right: 0 !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #ffff !important;
  font-weight: 600 !important;
  font-size: 12px;
  margin-left: -12px;
}

/* .filter-icon-EditUser {
    position: "absolute" !important;
    top: "18px" !important;
    right: "30px" !important;
    font-size: "21px" !important;
  } */
.userName {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
}
body[dir="rtl"] .userName {
  font-weight: 400 !important;
}
.userEmail {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
  margin: 0;
}

.userOrganization {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
  margin: 0;
}
body[dir="rtl"] .userOrganization {
  font-weight: 400 !important;
}
.userDesgination {
  width: 120px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden;
  margin: 0;
}
body[dir="rtl"] .userDesgination {
  font-weight: 400 !important;
}
.errorMessage-AllUser {
  margin: 2px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
  font-weight: 600 !important;

}

.errorMessage-AllUser_hidden {
  visibility: hidden;
  margin: 0;
  height: 13px;
  color: #f16b6b;
}

.User-title-col {
  color: #505050;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600 !important;
}

body[dir="rtl"] .User-title-col {
  font-weight: 600 !important;
}
