@font-face {
  font-family: "MontserratBold";
  src        : url(../../../../assets/fonts/Montserrat-Bold.ttf);
}

.Ok-Successfull-btn {
  width           : 119px !important;
  height          : 46px !important;
  border-radius   : 2px;
  background-color: #5F78D6 !important;
  color           : #fff !important;
  border          : none;
  margin-bottom   : 20px !important;
}

.deleteModal-message {
  margin         : 20px 0;
  font-size      : 14px !important;
  display        : flex;
  justify-content: center;
  font-family    : "MontserratMedium";
}

.allowModalIcon {
  color        : #F16B6B;
  border       : none !important;
  border-radius: 0px !important;
}

.PaymentActivitySubtitle {
  font-family: "MontserratBold";
  color      : #5a5a5a;
  font-size  : 16px;
}