.Ok-Successfull-btn {
  width: 90px !important;
  height: 35px !important;
  border: 1px solid #5f78d6;
  border-radius: 3px;
  background-color: #5f78d6 !important;
  color: #fff !important;
  margin-bottom: 20px !important;
}
