.Auth_Icon1SendEmailVerificationCodeThree {
  position: absolute;
  left: 33%;
  top: 15%;
  z-index: 9;
}

.circle-imageVerifcationCodeThree {
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
}
.VerificationCodeThree {
  overflow: hidden;
}

.MainHeadingVerificationCodeThree {
  margin-left: 1rem;
  font-weight: bold;
  color: #5a5a5a;
  margin-top: 2rem;
}
.SubHeadingVerificationCodeThree {
  font-weight: bold;
  color: #5a5a5a;
  margin-top: -1rem;
  font-size: 12px;
  margin-left: 1rem;
  width: 290px;
}

/* ya css classes change karni hy  */

.EmailVerifyBoxVerificationCodeThree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px !important;
  padding: 0 20px;
}

.Next_button_EmailVerifyVerificationCodeThree {
  width: 100%;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.Next_button_EmailVerifyVerificationCodeThree:focus-visible {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.loginbox_auth_paperForVerificationCodeThree {
  padding: 30px 45px;
  margin-top: 3rem;
  border: 1px solid #e1e1e1;
}

.forogt_email_link_verification_Code_Three {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "MontserratRegular";
}

.forogt_email_link_verification_Code_Three {
  color: #171d2d !important;
}

.EmailBoxverifcationCodeThree {
  margin-top: 2rem;
}

.Auth_Icon1SendEmailVerificationCodeThree {
  position: absolute;
  left: 33%;
  top: 15%;
  z-index: 9;
}

.circle-imageVerifcationCodeThree {
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
}

.Verification-CodeThree-language {
  position: absolute;
  overflow: hidden !important;
  top: 50px;
  right: 150px;
  padding: 8px 40px !important;
  z-index: 9999;
  /* background-color: #fff !important; */
  border-color: rgb(64, 64, 64) !important;
  box-shadow: none !important;
}

.Verification-CodeThree-language,
.Verification-CodeThree-language:focus-within,
.Verification-CodeThree-language:focus-visible {
  border-color: rgb(133, 133, 133) !important;
  box-shadow: none !important;
  outline: none !important;
}

.MainHeadingVerificationCodeThree {
  margin-left: 1rem;
  font-weight: bold;
  color: #5A5A5A;
  margin-top: 2rem;
}

.SubHeadingVerificationCodeThree {
  font-weight: bold;
  color: #5A5A5A;
  margin-top: -1rem;
  font-size: 12px;
  margin-left: 1rem;
  width: 290px;
}

/* ya css classes change karni hy  */

.EmailVerifyBoxVerificationCodeThree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px !important;
  padding: 0 20px;
}

.Next_button_EmailVerifyVerificationCodeThree {
  width: 100%;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.Next_button_EmailVerifyVerificationCodeThree:focus-visible {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.loginbox_auth_paperForVerificationCodeThree {
  padding: 30px 45px;
  margin-top: 3rem;
  border: 1px solid #E1E1E1;
}

.forogt_email_link_verification_Code_Three {
  display: flex;
  justify-content: center;
  /* text-decoration: underline; */
  font-family: "MontserratRegular";
}
.forogt_email_link_verification_Code_Three a {
  color: #5A5A5A;
  border-bottom: 1px solid #707070;
}

/* .forogt_email_link_verification_Code_Three {
  color: #171d2d !important;
} */

.EmailBoxverifcationCodeThree {

  margin-top: 2rem;
}



.Auth_Icon1SendEmailVerificationCodeThree {
  position: absolute;
  left: 33%;
  top: 15%;
  z-index: 9;
}

.circle-imageVerifcationCodeThree {
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
}
.device-title {
  font-family: "MontserratSemiBold-600";
  font-size: 20px;
  color: "#5A5A5A";
}
.otp_value {
  font-family: "MontserratSemiBold-600";
  font-size: 24px;
  color: #6172D6;
}

