.Auth_Icon1SendEmailVerificationCodeThree {
  position: absolute;
  left: 33%;
  top: 15%;
  z-index: 9;
}

.circle-imageVerifcationCodeThree {
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
}
.VerificationCodeThree {
  overflow: hidden;
}

.SubHeadingVerificationCodeThree {
  font-weight: bold;
  color: #5a5a5a;
  font-size: 12px;
}

.Next_button_EmailVerify_For_openyourrealmextra {
  width: 100%;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.Next_button_EmailVerify_For_openyourrealmextra:disabled {
  filter: grayscale(0.5);
}

.Next_button_EmailVerify_For_openyourrealmextra:focus-visible {
  width: 100%;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.forogt_email_link_for_openrealmextra {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "MontserratRegular";
}

.forogt_email_link_for_openrealmextra {
  color: #5a5a5a !important;
}

.EmailBoxverifcationCodeThree {
  margin-top: 2rem;
}

.Auth_Icon1SendEmailVerificationCodeThree {
  position: absolute;
  left: 33%;
  top: 15%;
  z-index: 9;
}

.circle-imageVerifcationCodeThree {
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
}

.Verification-CodeThree-language {
  position: absolute;
  overflow: hidden !important;
  top: 50px;
  right: 150px;
  padding: 8px 40px !important;
  z-index: 9999;
  /* background-color: #fff !important; */
  border-color: rgb(64, 64, 64) !important;
  box-shadow: none !important;
}

.Verification-CodeThree-language,
.Verification-CodeThree-language:focus-within,
.Verification-CodeThree-language:focus-visible {
  border-color: rgb(133, 133, 133) !important;
  box-shadow: none !important;
  outline: none !important;
}

.SubHeadingVerificationCodeThree {
  font-weight: bold;
  color: #5a5a5a;
  margin-top: -1rem;
  font-size: 12px;
}

/* ya css classes change karni hy  */

.EmailVerifyBox_for_openyourrealmextra {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.Next_button_EmailVerify_For_openyourrealmextra {
  width: 100%;
  /* width: 368px !important; */
  /* height: 50px !important; */
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}
body[dir="rtl"] .Next_button_EmailVerify_For_openyourrealmextra {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}
.Next_button_EmailVerify_For_openyourrealmextra:focus-visible {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.loginbox_auth_paper_for_openyourrealmextra {
  padding: 40px 30px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 469px !important;
  width: 330px !important;
}

.forogt_email_link_for_openrealmextra {
  display: flex;
  justify-content: center;
  font-family: "MontserratRegular";
}
body[dir="rtl"] .forogt_email_link_for_openrealmextra {
  font-family: "IBMPlexSansArabic-Regular";
}
.forogt_email_link_for_openrealmextra a {
  color: #5a5a5a;
}

.EmailBoxverifcationCodeThree {
  margin-top: 2rem;
}

.Auth_Icon1SendEmailVerificationCodeThree {
  position: absolute;
  left: 33%;
  top: 15%;
  z-index: 9;
}

.circle-imageVerifcationCodeThree {
  position: absolute;
  right: -250px;
  bottom: -220px;
  transform: rotate(-66deg);
}
.device-title {
  font-family: "MontserratSemiBold-600";
  font-size: 20px;
  color: "#5A5A5A";
}
.otp_value {
  font-family: "MontserratSemiBold-600";
  font-size: 24px;
  color: #6172d6;
}
.select-language-signin_2FAverificationdevieotp {
  position: absolute;
  overflow: hidden !important;
  top: 30px;
  right: 150px;
  padding: 0 50px !important;
  z-index: 9999;
  height: 2.9em !important;
  border: 1px solid #e1e1e1 !important;
  box-shadow: none !important;
  font-family: "MontserratSemiBold-600" !important;
  border-radius: 4px;
  outline: none !important;
}

.language_options {
  -webkit-appearance: none !important;
  -mox-appearance: none !important;
  appearance: none !important;
  padding: 20px;
}
body[dir="rtl"] .select-language-signin_2FAverificationdevieotp {
  right: 80%;
}

.select-language-signin_2FAverificationdevieotp:focus,
.select-language-signin_2FAverificationdevieotp:focus-within,
.select-language-signin_2FAverificationdevieotp:focus-visible {
  border: 1px solid #e1e1e1 !important;
  box-shadow: none !important;
  outline: none !important;
}

.languageIcon_2FAverificationdevieotp {
  z-index: 99999 !important;
  position: absolute;
  right: 295px;
  top: 37px;
  width: 25px;
  height: 25px;
}

body[dir="rtl"] .languageIcon_2FAverificationdevieotp {
  right: 80.6%;
  top: 37px;
}
.mobile_image {
  position: absolute;
  top: 19%;
  right: -80px;
  z-index: 1;
}
body[dir="rtl"] .mobile_image {
  position: absolute;
  top: 19%;
  right: 260px;
  z-index: 1;
}

.mobile_image_two {
  /* position: absolute;
  top: 19%;
  right: -80px; */
  z-index: 1;
}
body[dir="rtl"] .mobile_image_two {
  /* position: absolute; */
  /* top: 19%;
  right: 260px; */
  z-index: 1;
}
.MainHeading_For_TwoFactorOpenRealmextra {
  font-size: 30px !important;
  color: #5a5a5a;
  width: 100% !important;
  font-family: "MontserratSemiBold";
}

.MainHeading_InnerHeading {
  color: #5a5a5a;
  font-family: "MontserratBold";
  font-size: 30px !important;
  margin-left: 5px !important;
}

body[dir="rtl"] .MainHeading_InnerHeading {
}

.Un_Ordered_List {
  /* margin-left:/ 20px !important; */
}

.List_Components-verification {
  font-size: 16px !important;
  font-family: "MontserratRegular";
  color: #5a5a5a;
}

body[dir="rtl"] .List_Components-verification {
  font-family: "IBMPlexSansArabic-Regular";
}

.anchor_tag_text {
  font-family: "MontserratSemiBold";
  color: #6172d6;
  margin-left: 3px !important;
}

.anchor_tag_text1 {
  font-family: "MontserratSemiBold";
  color: #6172d6;
  margin-left: 3px !important;
}

body[dir="rtl"] .anchor_tag_text1 {
  font-family: "IBMPlexSansArabic-SemiBold";
  margin-right: 3px !important;
}

body[dir="rtl"] .anchor_tag_text {
  font-family: "IBMPlexSansArabic-SemiBold";
}
.space {
  margin-left: 5px !important;
}

body[dir="rtl"] .Un_Ordered_List {
  padding-right: 1rem !important;
}

.OTPCounter_for_openrealmextra {
  height: 19px !important;
  width: 184px !important;
}

body[dir="rtl"] .OTPCounter_for_openrealmextra {
  font-family: "IBMPlexSansArabic-Regular" !important;
}
.text-cemter-ur {
  text-align: center;
  width: 100% !important;
}

.Heading-Style {
  text-align: center;
  font-family: "MontserratSemiBold";
  color: #5a5a5a;
  font-size: 24px !important;
  padding: 0;
  margin: 0;
}

body[dir="rtl"] .Heading-Style {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.roundspinner-image {
  /* background-image: url("../../../../../assets/images/3.png"); */
  background-repeat: no-repeat;
  background-position: right -622px top 330px !important;
}
body[dir="rtl"] .roundspinner-image {
  /* background-image: url("../../../../../assets/images/3.png"); */
  background-position: left -632px top 330px !important;
  /* -webkit-transform: rotate(120deg); */
}
.deviceName {
  font-family: "MontserratBold";
  color: #5a5a5a;
  margin-left: 6px !important;
}

body[dir="rtl"] .deviceName {
  font-family: "IBMPlexSansArabic-Bold";
  margin-right: 6px !important;
}

.class-mobile {
  position: relative;
  margin: 2px 2px;
}

.Verification_Code_Three_Auth_Icon {
  position: absolute;
  right: -250px;
  bottom: -205px;
  transform: rotate(280deg);
}

body[dir="rtl"] .Verification_Code_Three_Auth_Icon {
  position: absolute;
  right: 100px;
  bottom: -205px;
  transform: rotate(135deg);
}
