.EmailVerifyBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 380px !important;
  padding: 20px 20px;
}

.signIn_heading {
  font-size: 1.8rem;
  user-select: none;
  color: #6172d6;
  font-weight: 600;
}

.Next_button_EmailVerify {
  width: 280px;
  border-radius: 1px;
}

.subscribNow_button_EmailVerify {
  width: 280px;
  border-radius: 1px;
}

.Auth_Icon {
  position: absolute;
  right: -110px;
  bottom: -125px;
  z-index: 99999;
  width: 600px;
  height: 600px;
  transform: rotate(7deg);
}

/* .signInError {
    background-color: #fff !important;
    color: #000 !important;
} */
.Login_page_text {
  display: flex;
  margin-top: 11%;
  flex-direction: column;
  margin-left: 40px;
}

.Login_page_text h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0 0 15px 0;
}

.loginbox_auth {
  margin-left: 60px;
}

.heading-1 {
  color: #6172d6;
}

.heading-2 {
  color: #4adede;
}

.forogt_email_link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.forogt_email_link a {
  color: #171d2d !important;
}
.signup-text-inloginpage {
  display: flex;
  justify-content: center;
  color: #000;
}
.errorMessage-inLogin {
  margin: 2px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
}
.errorMessage-inLogin_hidden {
  visibility: hidden;
  margin: 0;
  height: 13px;
  color: #f16b6b;
}
