/* change color blue to this */
.badge-icon {
  background-color: #2097d6 !important;

  width: 18px;
  height: 18px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
}

.MeetingView .modal-content {
  height: 620px !important;
  width: 700px !important;
  border-radius: 4px !important;
}

.MeetingViewTitleTextField.col-lg-12.col-md-12.col-12 input {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 25px !important;
}

.minutes-view {
  overflow-y: auto;
  max-height: 200px;
}

.minutes-box {
  max-height: 280px;
  /* / overflow-y: auto; / */
}

button.dataRoom {
  width: 130px !important;
}

.modalMeetingViewBody {
  max-height: 75% !important;
  height: 75% !important;
  min-height: 75% !important;
  padding: 0 35px;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.meeting-view-file-icon {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  cursor: pointer !important;
  width: 90px !important;
}

.meeting-view-attendee-organizer-tab {
  color: #6172d6 !important;
  margin-top: 10px !important;
  font-size: 20px !important;
  margin-bottom: 10px !important;
}

.meeting-view-attendee-organizer-list {
  max-height: 100px !important;
  overflow-y: auto !important;
}

.meeting-view-attendee-card-icon {
  font-size: 40px !important;
  color: #00e900;
  margin-left: -15px;
  margin-top: 15px;
}

.meeting-view-attendee-participant-tab {
  color: #6172d6 !important;
  margin-top: 5px !important;
  font-size: 20px !important;
  margin-bottom: 10px !important;
}

.meeting-view-attendee-participant-list {
  height: 200px !important;
  overflow-y: auto !important;
}

.meeting-view-minutes-tab {
  margin-top: 75px !important;
}

.meeting-view-minutes-title {
  font-weight: 600 !important;
  color: #2097d8 !important;
}

.meeting-view-dataroom-attachment {
  margin-top: 10px;
  width: 120px;
  margin-bottom: 10px;
  cursor: pointer;
}

.modalMeetingViewHeader {
  margin-top: 15px !important;
}

.CreateMeetingInput {
  margin-top: -5px !important;
}

.agenda-Upper-btn {
  padding: 0px !important;
  margin-left: 4px !important;
}

.attendees-upper-btn {
  padding: 0px !important;
  margin-left: 18px !important;
}

.minutes-upper-btn {
  width: 115px;
}

.attachment-upper-btn {
  padding: 0px !important;
  margin-left: 24px !important;
}

.start-meeting-button {
  background-color: #6172d6 !important;
  border-color: #6172d6 !important;
  width: 130px !important;
  height: 46px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  border: 1px solid #e1e1e1 !important;
  font-weight: 500 !important;
}

.end-meeting-btn {
  background-color: #e1e1e1 !important;
  border: 1px solid #e1e1e1 !important;
  color: #171d2d !important;
  opacity: 45%;
  width: 130px !important;
  height: 46px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin-left: 20px !important;
}

.textAreaDivView textarea {
  border: none !important;
}

.isDetailBtn {
  width: 120px !important;
}

.AgendaShowBtn {
  width: 120px !important;
}

.DetaiShowBtn {
  width: 105px !important;
}

.AttendeeShowBtn {
  width: 120px !important;
}

.DataRoomShowBtn {
  width: 130px !important;
  margin-left: 5px !important;
}

.MinuteMeetingBtn {
  width: 110px !important;
  margin-left: -8px;
}

button.DetailUpperBtn {
  width: 105px !important;
}

button.AgendaUpper {
  width: 105px !important;
}

button.AttendeeUpper {
  width: 110px !important;
}

.isDetail-View-top-btn {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 3px 20px !important;
  font-size: 14px !important;
  height: 33px !important;
}

body[dir="rtl"] .isDetail-View-top-btn {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.isDetail-View-top-btn-Outline {
  color: #666666 !important;
  border-color: #ccc !important;
  padding: 3px 20px !important;
  border-radius: 4px !important;
  background: #fff !important;
  font-size: 14px !important;
  height: 33px !important;
}

.isAgenda-View-top-btn {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 3px 20px !important;
  font-size: 14px !important;
  margin-left: -15px;
  height: 33px !important;
}

body[dir="rtl"] .isAgenda-View-top-btn {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.isAgenda-View-top-btn-Outline {
  color: #666666 !important;
  border-color: #ccc !important;
  padding: 3px 20px !important;
  border-radius: 4px !important;
  background: #fff !important;
  font-size: 14px !important;
  margin-left: -15px;
  height: 33px !important;
}

.isAttendee-View-top-btn {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 3px 20px !important;
  font-size: 14px !important;
  margin-left: -15px;
  height: 33px !important;
}

body[dir="rtl"] .isAttendee-View-top-btn {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.isAttendee-View-top-btn-Outline {
  color: #666666 !important;
  border-color: #ccc !important;
  padding: 3px 20px !important;
  border-radius: 4px !important;
  background: #fff !important;
  font-size: 14px !important;
  margin-left: -15px;
  height: 33px !important;
}

.isMinutes-View-top-btn {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 3px 20px !important;
  font-size: 14px !important;
  margin-left: -10px;
  height: 33px !important;
}

body[dir="rtl"] .isMinutes-View-top-btn {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.isMinutes-View-top-btn-Outline {
  color: #505050 !important;
  border-color: #e1e1e1 !important;
  padding: 3px 20px !important;
  border-radius: 4px !important;
  background: #fff !important;
  font-size: 14px !important;
  margin-left: -5px;
  height: 33px !important;
}

.isDataRoom-View-top-btn {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border: none !important;
  border-radius: 4px !important;
  padding: 3px 6px 4px 7px !important;
  font-size: 14px !important;
  margin-left: -10px;
  height: 33px !important;
}

body[dir="rtl"] .isDataRoom-View-top-btn {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.isDataRoom-View-top-btn-Outline {
  color: #505050 !important;
  border-color: #e1e1e1 !important;
  padding: 3px 6px 4px 7px !important;
  border-radius: 4px !important;
  background: #fff !important;
  font-size: 14px !important;
  margin-left: -10px;
  height: 33px !important;
}

@media screen and (max-width: 1000px) {
  .isDetail-View-top-btn {
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 3px 10px !important;
    font-size: 12px !important;
    height: 30px !important;
  }

  .isDetail-View-top-btn-Outline {
    color: #666666 !important;
    border-color: #ccc !important;
    padding: 3px 10px !important;
    border-radius: 3px !important;
    background: #fff !important;
    font-size: 12px !important;
    height: 30px !important;
  }

  .isAgenda-View-top-btn {
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 3px 10px !important;
    font-size: 12px !important;
    height: 30px !important;
    margin-left: 15px !important;
  }

  .isAgenda-View-top-btn-Outline {
    color: #666666 !important;
    border-color: #ccc !important;
    padding: 3px 10px !important;
    border-radius: 3px !important;
    background: #fff !important;
    font-size: 12px !important;
    height: 30px !important;
    margin-left: 15px !important;
  }

  .isAttendee-View-top-btn {
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 3px 10px !important;
    font-size: 12px !important;
    height: 30px !important;
    margin-left: 20px !important;
  }

  .isAttendee-View-top-btn-Outline {
    color: #666666 !important;
    border-color: #ccc !important;
    padding: 3px 10px !important;
    border-radius: 3px !important;
    background: #fff !important;
    font-size: 12px !important;
    height: 30px !important;
    margin-left: 20px !important;
  }

  .isMinutes-View-top-btn {
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 3px 10px !important;
    font-size: 12px !important;
    margin-left: 30px !important;
    margin-right: -10px;
    height: 30px !important;
  }

  .isMinutes-View-top-btn-Outline {
    color: #666666 !important;
    border-color: #ccc !important;
    padding: 3px 10px !important;
    border-radius: 3px !important;
    background: #fff !important;
    font-size: 12px !important;
    margin-left: 30px !important;
    margin-right: -10px;
    width: 80px !important;
    height: 30px !important;
  }

  .isDataRoom-View-top-btn {
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    border: none !important;
    border-radius: 3px !important;
    padding: 3px 6px 4px 7px !important;
    font-size: 12px !important;
    width: 85px !important;
    margin-left: 30px;
    height: 30px !important;
  }

  .isDataRoom-View-top-btn-Outline {
    color: #666666 !important;
    border-color: #ccc !important;
    padding: 3px 6px 4px 7px !important;
    border-radius: 3px !important;
    background: #fff !important;
    font-size: 12px !important;
    margin-left: 30px;
    width: 85px !important;
    height: 30px !important;
  }

  .isDetailBtn {
    width: 60px !important;
  }

  .AgendaShowBtn {
    width: 80px !important;
  }

  .AttendeeShowBtn {
    width: 80px !important;
  }

  .MinuteMeetingBtn {
    width: 80px !important;
  }

  .DataRoomShowBtn {
    width: 130px !important;
    margin-left: 5px !important;
  }
}

.MeetingViewLocationTextField input {
  font-weight: 600;
  color: #505050;
  font-size: 17px !important;
  border: none !important;
}

.MeetingViewTitleTextField input[type="text"] {
  font-size: 20px !important;
  margin: 15px 0px 0px 0px;
  border: none !important;
}

.textAreaDivView textarea {
  border: none !important;
  height: 200px;
  overflow: auto;
}

.textAreaDivView textarea::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.textAreaDivView textarea::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2 !important;
}

.viewModalTitle {
  border: none;
  font-size: 16px !important;
  font-weight: 600;
  color: #5f78d6 !important;
  overflow: hidden !important;
  word-wrap: break-word !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  margin: 0 10px;
}
