.General_Setting-Main-Heading {
  font-size: 30px !important;
  color: #6172d6 !important;
  font-weight: 700 !important;
}
body[dir="rtl"] .General_Setting-Main-Heading {
  font-weight: 600 !important;
}
.Options_headings_active {
  font-size: 20px !important;
  color: #5a5a5a !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 100% !important;
}

.Options_headings {
  color: #5a5a5a;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  letter-spacing: 0%;
}

.general-setting-row {
  height: calc(75vh - 65px);
  width: 2px !important;
}
