  .Update-Group-Heading{
      font-size: 23px !important;
  }
  
  
    
    .isAgenda-Schedule-top-btn-Outline {
      color: #5A5A5A !important;
      border-color: #e1e1e1 !important;
      padding: 3px 20px !important;
      border-radius: 4px !important;
      background: #fff !important;
      font-size: calc(16px - 15%);
      height: 33px !important;
      font-family: "MontserratSemiBold-600";
    }
  
  
  
    input#MeetingReminderID::placeholder {
      font-family: "MontserratSemiBold-600";
    }
    
    .UpdateGroup-Modal-btn{
      width: 100%;
      height: 36px;
      font-size: calc(14px - 20%);
      background: #5A5A5A;
      color: #fff;
      font-weight: 600;
      border-radius: 4px !important;
      border: 1px solid #e1e1e1 !important;
    }

    