.nameparticipant {
  font-size: 12px !important;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";
}

.participant_designation {
  font-size: 10px !important;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";
}

.Space_limit {
  line-height: 15px !important;
  margin-left: -9px !important;
}
.profile_image_shareFolder_modal {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
}
