.form-control2 {
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 13px !important;
  height: 30px !important;
}

.updateNotes_titleInput {
  border-radius: 4px !important;
  padding: 12px 16px !important;
  border: 1px solid #e1e1e1 !important;
  font-size: 13px !important;
  height: 39px !important;
}

.form-control2:focus {
  box-shadow: none !important;
}

.relativePosition {
  position: relative !important;
}

.PasswordIcon {
  display: block !important;
  width: 1% !important;
  font-size: 20px !important;
  color: #198754 !important;
  position: absolute !important;
  right: 20px !important;
  top: 23px !important;
}

.form-control3 {
  border-radius: 4px !important;
  border-color: #ccc !important;
  font-size: 13px !important;
}

.form-control3:focus {
  box-shadow: none !important;
}

.todoviewmodalcomments {
  border: 1px solid #e1e1e1 !important;
  overflow-y: auto !important;
  height: 40px;
}

.todoviewmodalcomments:focus,
.todoviewmodalcomments:focus-visible {
  box-shadow: none !important;
  border: 1px solid #e1e1e1 !important;
}

.createtodo-description {
  border: 1px solid #e1e1e1 !important;
  height: 180px !important;
  resize: none;
  border-radius: 4px;
  overflow-y: auto;
}

.createtodo-description::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.createtodo-description::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.createtodo-description:focus,
.createtodo-description:focus-visible {
  box-shadow: none !important;
}

.createtodo-title {
  border: 1px solid #e1e1e1 !important;
}

.assigneeFindInCreateToDo {
  border: 1px solid #e1e1e1 !important;
}

.taskassignee {
  border: 1px solid #e1e1e1 !important;
}

.MeetingViewText {
  border: none !important;
}

.modalAddNoteTitleInput {
  margin: 0;
  height: 39px !important;
  padding: 12px 16px !important;
  border: 1px solid #e1e1e1 !important;
}

.modalAddNoteTitleInput::placeholder {
  color: #a2a2a2 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

.modalAddNoteTitleInput:focus,
.modalAddNoteTitleInput:focus-visible,
.modalAddNoteTitleInput:hover,
.modalAddNoteTitleInput:active {
  border: 1px solid #e1e1e1 !important;
}

.text-area-close-resolution {
  resize: none !important;
  height: 130.99px !important;
}

.sharefoldersearchInput {
  height: 38px !important;
}

.dataRoomSearchInput {
  width: 611px;
  position: relative !important;
}

.PollingSearchInput {
  width: 502px;
  position: relative !important;
  height: 39px !important;
}

.Search_Modal_Fields {
  height: 39px !important;
}

.PollingCreateModal {
  margin: 0;
  height: 39px !important;
  padding: 12px 16px !important;
  border: 1px solid #e1e1e1 !important;
  position: relative;
}

.PollingCreateModal2 {
  height: 39px !important;
  padding: 12px 16px !important;
  border: 1px solid #e1e1e1 !important;
  position: relative;
}

.search_voterInput {
  margin: 0 !important;
}

.text-area-create-resolution {
  height: 110px !important;
  resize: none;
}

.text-area-sharefolder {
  height: 110px !important;
  resize: none;
}
.createTodo_timePicker {
  height: 39px !important;
}
.quick_meeting_time {
  font-size: 12px !important;
  height: 39px !important;
}
