.searchbar-textfield {
  padding: 0 0px 0px 0px;
  position: relative !important;
  margin-top: 6px;
}

.Edit-Main-Heading {
  font-size: calc(38px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
  font-family: "MontserratSemiBold-600" !important;
}

body[dir="rtl"] .Edit-Main-Heading {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.tablecolumnrow {
  margin-top: 15px !important;
  position: relative !important;
  overflow: auto !important;
  padding: 20px !important;
  background: #fff !important;
  border-radius: 4px;
  border: 1px solid #e1e1e1 !important;
}

.AddUsersButton {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
}

.AddUsersButton:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
}

body[dir="rtl"] .AddUsersButton {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.SearchIconClass {
  display: inline-block;
  position: absolute !important;
  right: 0 !important;
  width: auto;
  top: 5px;
  margin-right: 25px;
}

body[dir="rtl"] .SearchIconClass {
  position: absolute !important;
  right: 88% !important;
  cursor: pointer !important;
}

.Search_Bar_icon_class {
  cursor: pointer;
}

.RedSrtip {
  width: 100% !important;
  background: #ffe8e8 !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  align-items: center !important;
}

.RedStripContent {
  font-family: "MontserratBold-700" !important;
  font-size: 12px !important;
  color: #f16b6b !important;
  display: flex !important;
  align-items: center !important;
}

body[dir="rtl"] .RedStripContent {
  font-family: "IBMPlexSansArabic-Bold" !important;
}

.NameStylesTable {
  font-family: "MontserratBold-700" !important;
  font-size: 12px !important;
  color: #505050 !important;
}

body[dir="rtl"] .NameStylesTable {
  font-family: "IBMPlexSansArabic-Bold" !important;
}

.DesignationStyles {
  font-family: "MontserratRegular" !important;
  font-size: 12px !important;
  color: #505050 !important;
}

body[dir="rtl"] .DesignationStyles {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.SearchBoxManageUsers {
  width: 100% !important;
  height: auto !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  position: absolute !important;
  background: #fff !important;
  right: 0 !important;
  min-height: 242px !important;
  z-index: 1 !important;
}

.NameCreateAddtional {
  font-family: "MontserratSemiBold-600" !important;
  font-style: normal;
  color: #6172d6 !important;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}

body[dir="rtl"] .NameCreateAddtional {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.AdminAlsoClass {
  font-family: "MontserratMedium";
  font-size: 12px !important;
  color: #5a5a5a !important;
  margin-top: 3px !important;
}

body[dir="rtl"] .AdminAlsoClass {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.ResetButtonSearchBox {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: #fff !important;
  color: #5a5a5a !important;
}

.ResetButtonSearchBox:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: #fff !important;
  color: #5a5a5a !important;
}

body[dir="rtl"] .ResetButtonSearchBox {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.SearchButtonSearchBox {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: #6172d6 !important;
  color: #fff !important;
}

.SearchButtonSearchBox:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold-600" !important;
  background: #6172d6 !important;
  color: #fff !important;
}

body[dir="rtl"] .SearchButtonSearchBox {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.fadeIn {
  opacity: 1;
  display: block;
  transition: opacity 5s ease-in-out;
}

.fadeOut {
  opacity: 0;
  display: none;
  transition: opacity 5s ease-in-out;
}

.SearchablesItems {
  padding: 5px 20px !important;
  border-radius: 4px !important;
  background: #6172d6;
  display: flex;
  text-align: center !important;
  gap: 35px !important;
}

.CrossIcon_Class {
  cursor: pointer !important;
}

.Searches {
  font-size: 12px !important;
  color: #fff !important;
  font-family: "MontserratBold-700" !important;
}

body[dir="rtl"] .Searches {
  font-family: "IBMPlexSansArabic-Bold" !important;
}

.polling_searchinput {
  display: inline-block;
  position: absolute !important;
  right: 0 !important;
  width: auto;
  top: 5px;
  margin-right: 25px;
}

body[dir="rtl"] .polling_searchinput {
  position: absolute !important;
  right: 88% !important;
  cursor: pointer !important;
}
