.videoCallScreen {
  position: absolute;
  /* right: 140px !important; */
  /* display: content !important; */
  left: 65px;
  width: 95%;
  height: 51vh;
  background-color: #fff !important;
  /* top: 262px !important; */
  bottom: 0;
  /* bottom: 125px !important; */
  border: 1px solid #4adede;
  border-radius: 4px !important;
  /* border: 2px solid #ccc; */
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  z-index: 1 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  animation: slideUp 0.5s ease-in-out;
}

/* @keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
.close-icon-active {
  animation: slideDown 0.5s ease-in-out;
}
@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
} */

.title-heading {
  font-size: 20px !important;
  font-weight: 600;
  color: #000 !important;
}

.video-image {
  position: relative;
  right: 20px;
  top: 3px;
}

.mic-image {
  position: relative;
  right: 170px;
  top: -2px;
}

.call-image {
  position: relative;
  right: 327px;
  top: 3px;
}

.close-icon {
  font-size: 20px !important;
}

.dash-icon {
  font-size: 20px;
}

.toprow-width {
  width: 100% !important;
}

.videoCallScreen-maximizeVideoCall {
  position: absolute;
  left: 65px;
  width: 95.2%;
  height: 90vh;
  background-color: #fff !important;
  top: 0px !important;
  border: 1px solid #4adede;
  border-radius: 4px !important;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  z-index: 1 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  /* animation: slideUps 0.5s ease-in-out !important; */
}

/* @keyframes slideUps {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
.close-icon-active {
  animation: slideDown 0.5s ease-in-out;
}
@keyframes slideDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(300px);
  }
} */

.videoCallScreen-minmizeVideoCall {
  position: absolute;
  left: 90px;
  width: 56.3%;
  height: 8vh;
  /* background-color: #fff !important; */
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  /* top: 50px !important; */
  bottom: -3px;
  border: 1px solid #4adede;
  border-radius: 4px !important;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  z-index: 1 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  animation: slideUp 0.5s ease-in-out;
}

.videoCallScreen-minmizeVideoCall .title-heading {
  font-size: 13px !important;
  font-weight: 600;
  color: #fff !important;
}

.minimize-mic-icon {
  position: relative;
  right: 80px !important;
}

.minimize-call-icon {
  position: relative;
  right: 170px !important;
}

.minimize-expand-icon {
  position: relative;
  left: 50px;
  cursor: pointer;
}

.minimize-close-icon {
  position: relative;
  left: 20px;
  cursor: pointer;
}

.close-icon-maximize {
  position: relative;
  font-size: 30px !important;
  cursor: pointer;
  left: 30px;
}

.expand-icon-maximize {
  position: relative;
  left: 105px;
  top: 4px;
  cursor: pointer;
}

.minimize-icon {
  position: relative;
  left: 160px;
  top: 4px;
  cursor: pointer;
}

.image-width-class {
  position: relative;
  left: 70px;
}

.video-side-chat-icons {
  position: relative;
  font-size: 5px !important;
  display: flex;
  left: 120px;
  flex-direction: column !important;
  justify-content: end !important;
}

.video-side-Note-icons {
  position: relative;
  font-size: 10px !important;
  top: 10px;
  display: flex;
  left: 120px;
  flex-direction: column !important;
  justify-content: end !important;
}

.video-side-todo-icons {
  position: relative;
  font-size: 10px !important;
  display: flex;
  top: 20px;
  left: 120px;
  flex-direction: column !important;
  justify-content: end !important;
}

.fullscreen-chat-icon {
  position: relative;
  font-size: 5px !important;
  display: flex;
  left: 120px;
  top: 280px !important;
  flex-direction: column !important;
  justify-content: end !important;
}

.fullscreen-note-icon {
  position: relative;
  font-size: 5px !important;
  display: flex;
  left: 120px;
  top: 290px !important;
  flex-direction: column !important;
  justify-content: end !important;
}

.fullscreen-todo-icon {
  position: relative;
  font-size: 5px !important;
  display: flex;
  left: 120px;
  top: 300px !important;
  flex-direction: column !important;
  justify-content: end !important;
}

.full-screen-image {
  position: relative;
  left: 40px;
  object-fit: cover !important;
}

.full-screen-image-2 {
  position: relative;
  right: 40px;
  object-fit: cover !important;
}

.full-screen-bottom-images {
  display: flex !important;
  justify-content: center !important;
  gap: 30px !important;
  margin-top: 30px;
}

.image-hamburger-opacity {
  opacity: 0.5 !important;
}

.chat-messenger-IsOpen {
  height: 82vh;
  position: fixed;
  bottom: 7px;
  right: 85px;
  width: 325px;
  background: #fff;
  border: 1px solid #6172d6;
  border-radius: 4px;
}

p.level-videoCalling-heading {
  font-size: 12px;
}

.encryption-videoCalling-video-chat p.level-videoCalling-heading {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

span.securityicon-Video-box {
  position: absolute;
  right: 15px;
}

.encryption-videoCalling-video-chat span.securityicon-Video-box {
  position: absolute;
  right: 25px;
  bottom: 10px;
}

.chat-input-video-field {
  vertical-align: middle;
  align-items: flex-end;
  justify-content: center;
  display: flex;
}

.chat-input-video-field input {
  font-size: 14px;
  width: 208px;
}

input.chat-video-input.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.video-chat-icon-inside {
  cursor: pointer;
  position: absolute;
  font-size: 20px !important;
  right: 0px;
}

.video-chat-It-Heading {
  font-size: 10px !important;
  font-weight: 600;
}

.video-chat-group-icon {
  position: absolute;
  top: 5px;
}

.video-crypto-row {
  background-color: #f16b6b !important;
  margin-top: 10px;
  color: #fff !important;
}

.bottom-video-chat-input-div {
  position: absolute;
  bottom: 0px;
  left: 13px;
  border: 1px solid #e1e1e1;
  padding: 5px 5px !important;
  width: 99%;
}

.chat-inside-video-plus-img {
  position: relative;
  right: 20px;
  top: 3px;
}

.chat-video-field input {
  position: relative;
  width: 180px;
  right: 45px;
}

.chat-inside-video-sendIcon-img {
  position: relative;
  right: 10px;
}

.isAgenda-div-changes {
  height: 82vh;
  position: absolute;
  bottom: 7px;
  right: 85px;
  width: 325px;
  background: #fff;
  border: 1px solid #6172d6;
  border-radius: 4px;
}

.Agenda-title-heading {
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
}

.agenda-count {
  position: relative;
  bottom: 10px;
  font-size: 12px;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}

.agenda-pargraph {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  position: relative;
  bottom: 10px;
}

.agenda-plus-icon {
  position: relative;
  bottom: 12px;
  left: 10px;
}

.agenda-Close-icon {
  position: absolute;
  top: 10px;
  font-size: 18px;
  right: 10px;
  cursor: pointer;
}

.isMinutes-div-changes {
  height: 82vh;
  position: absolute;
  bottom: 7px;
  right: 85px;
  width: 325px;
  background: #fff;
  border: 1px solid #6172d6;
  border-radius: 4px;
}

.isMinutes-paragraph {
  font-size: 10px;
  font-weight: 600;
  color: #000;
  position: relative;
  bottom: 10px;
}

.minutes-video-field input {
  position: relative;
  width: 100%;
  top: 130px;
  left: 16px;
}

.minutes-video-sendIcon {
  position: relative;
  top: 125px;
  right: 8px;
}

.image-video-calling-click {
  background-color: #707070 !important;
  width: 100% !important;
  height: 65vh;
}

.image-video-calling-inside-image {
  position: relative;
  align-items: center;
  width: 13% !important;
  top: 60px;
  display: flex;
  justify-content: center !important;
}

.outgoing-call-text {
  font-size: 19px !important;
  color: #fff !important;
  font-weight: 600;
}

.someone-calling-title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 80px !important;
}

.calling-title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px !important;
}

.calling-text {
  font-size: 15px !important;
  color: #fff !important;
}

.button-img {
  background-color: transparent !important;
  border: none !important;
}

.multiple-screens {
  position: relative;
  display: content !important;
  height: 64vh;
  width: 100%;
  background-color: #707070 !important;
  top: 0px !important;
  /* border: 2px solid #ccc; */
  justify-content: center;
  align-items: center;
}
