.Meeting_type_heading {
  color: #5f78d6;
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
}

.Button_not_active {
  height: 39px !important;
  width: 39px !important;
  background: #fff !important;
  border: 1px solid #bbbbbb !important;
  border-radius: 4px !important;
}

.Button_not_active:hover,
.Button_not_active:active,
.Button_not_active:focus,
.Button_not_active:focus-visible {
  height: 39px !important;
  width: 39px !important;
  background: #fff !important;
  border: 1px solid #bbbbbb !important;
  border-radius: 4px !important;
}

.Camera_icon {
  margin-left: -4px !important;
}

.Create_group_chat_heading {
  font-size: 12px !important;
  color: #5a5a5a;
  font-family: "MontserratSemiBold" !important;
}

.Scedule_heading {
  font-size: 12px !important;
  font-family: "MontserratSemiBold" !important;
  color: #5f78d6;
}

.Scroller_meeting {
  height: 12vh !important;
  overflow-x: hidden !important;
}

.Scroller_meeting::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Scroller_meeting::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Cross_icon_class {
  /* position: absolute !important; */
  /* right: 43%; */
  margin: 0;
  padding: 0;
  cursor: pointer !important;
}

.Add_Dates_Btn_Class {
  border: 1px dotted #ccc !important;
  background: #fff !important;
  border-radius: 4px !important;
  height: 39px !important;
  width: 100%;
}

.Add_dates_label {
  font-size: 12px !important;
  color: #5f78d6 !important;
  font-family: "MontserratMedium-500" !important;
}

.Plus_Button_class {
  height: 39px !important;
  width: 39px;
  background: linear-gradient(to bottom, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 4px !important;
  border: none !important;
}

.Plus_Button_class:hover,
.Plus_Button_class:active,
.Plus_Button_class:focus,
.Plus_Button_class:focus-visible {
  height: 39px !important;
  width: 39px !important;
  background: linear-gradient(to bottom, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 4px !important;
  border: none !important;
}

.Frequency_heading {
  font-size: 12px !important;
  color: #5f78d6 !important;
  font-family: "MontserratSemiBold" !important;
}

.Plus_Button_class {
  margin-top: 4px !important;
}

.Notify_heading {
  color: #5a5a5a !important;
  color: 12px !important;
  font-family: "MontserratSemiBold" !important;
}

.reccurring_heading {
  font-size: 12px !important;
  color: #5f78d6 !important;
  font-family: "MontserratSemiBold" !important;
}

.Published {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  border: 1px solid#E1E1E1;
  color: #5a5a5a;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Published:hover,
.Published:active,
.Published:focus,
.Published:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid#E1E1E1 !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Update_Next {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6;
  border: none;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}

.Update_Next:hover,
.Update_Next:active,
.Update_Next:focus,
.Update_Next:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #5f78d6 !important;
  border: none !important;
  border-radius: 4px !important;
  font-family: "MontserratSemiBold" !important;
}
