.PaginationStyle {
    background-color: #fff !important;
    display: flex !important;
    justify-content: center !important;
    width: auto !important;
    padding: 12px 40px !important;
    margin: 20px 0 40px 0;
    height: auto !important;
    box-shadow: 0px 0px 5px #ccc !important;
    border-radius: 4px !important;
}

.PaginationStyle:is(:focus-visible) {
    outline: none !important;
}

body[dir="rtl"] .PaginationStyle {
    width: auto !important;
    padding: 12px 10px !important;
}