.Progress_bar_Loader .ant-progress-text {
  display: none !important;
}
.Progress_bar.ant-progress {
  line-height: 0 !important;
  display: block !important;
}
.Progress_bar_Loader .ant-progress-inner .ant-progress-bg {
  height: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important ;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important ;
}

.Progress_bar_Loader .ant-progress-inner {
  border-radius: 4px !important;
  background: none !important;
}

/* // for auth screens */
.Progress_bar_Loader_auth .ant-progress-text {
  display: none !important;
}

.Progress_bar_Loader_auth .ant-progress-inner .ant-progress-bg {
  height: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important ;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important ;
}
body[dir="rtl"] .Progress_bar_Loader_auth .ant-progress-inner .ant-progress-bg {
  height: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important ;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important ;
}
