.file-icon {
  position: relative;
}
.deleteBtn {
  width: 15px;
  height: 15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 10px;
  background-color: brown;
  margin: 0;
  border-radius: 50%;
}
