@font-face {
  font-family: "MontserratRegular";
  src: url(../../../../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url(../../../../../assets/fonts-new/MONTSERRAT-600.TTF);
}

@font-face {
  font-family: "MontserratMedium-500";
  src: url(../../../../../assets/fonts-new/MONTSERRAT-500.TTF);
}

.EmailVerifyBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 380px !important;
  padding: 0 20px;
}

.signIn_heading {
  font-size: 1.8rem;
  user-select: none;
  color: #6172d6;
  font-family: "MontserratSemiBold";
}

.Next_button_EmailVerify {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  text-transform: uppercase !important;
}

.Next_button_EmailVerify:focus-visible {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

.subscribNow_button_EmailVerify {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  text-transform: uppercase;
}

.subscribNow_button_EmailVerify:focus-visible {
  width: 280px;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
}

/* .subscribNow_button_EmailVerify {
  width: 280px;
  border-radius: 1px;
} */

.Auth_Icon {
  position: absolute;
  right: -115px;
  bottom: -135px;
  transform: rotate(0deg);
  z-index: 99999;
}

/* .signInError {
    background-color: #fff !important;
    color: #000 !important;
} */
.Login_page_text {
  display: flex;
  margin-top: 12%;
  flex-direction: column;
  margin-left: 40px;
  justify-content: flex-start;
  align-items: flex-start;
}

.Login_page_text h1 {
  font-size: 48px;
  font-family: "MontserratSemiBold";
  margin: 0 0 15px 0;
}

.loginbox_auth_paper {
  margin-left: 60px;
  padding: 30px 0;
}

.heading-1 {
  color: #6172d6;
}

.heading-2 {
  color: #4adede;
}

.forogt_email_link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "MontserratRegular";
}

.forogt_email_link a {
  color: #171d2d !important;
}

.signup-text-inloginpage {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: "MontserratRegular" !important;
}

.errorMessage-inLogin {
  margin: 2px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
  font-family: "MontserratMedium-500";
}

.errorMessage-inLogin_hidden {
  visibility: hidden;
  margin: 0;
  height: 13px;
  color: #f16b6b;
}

.select-language-signin {
  position: absolute;
  overflow: hidden !important;
  top: 30px;
  right: 150px;
  padding: 8px 40px !important;
  z-index: 9999;
  /* background-color: #fff !important; */
  border-color: rgb(64, 64, 64) !important;
  box-shadow: none !important;
}

.select-language-signin:focus,
.select-language-signin:focus-within,
.select-language-signin:focus-visible {
  border-color: rgb(133, 133, 133) !important;
  box-shadow: none !important;
  outline: none !important;
}
