.EmailVerifyBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 380px !important;
  height: auto;
  padding: 30px 22px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin: 0px 40px;
}

.signIn_heading {
  font-size: calc(35px - 20%) !important;
  user-select: none;
  color: #6172d6;
  font-family: "MontserratSemiBold";
}

body[dir="rtl"] .signIn_heading {
  font-size: calc(33px - 20%) !important;
  user-select: none;
  color: #6172d6;
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.RememberEmail {
  font-size: calc(16px - 20%) !important;
  border-radius: 4px;
  /* margin-top: 5px; */
}

.Next_button_EmailVerify {
  width: 90%;
  border-radius: 4px;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  text-transform: uppercase !important;
  font-size: calc(18px - 20%) !important;
}

body[dir="rtl"] .Next_button_EmailVerify {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Next_button_EmailVerify:focus-visible {
  width: 90%;
  border-radius: 4px;
  font-size: calc(18px - 20%) !important;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  text-transform: uppercase;
}

.subscribNow_button_EmailVerify {
  width: 90%;
  border-radius: 4px;
  font-size: calc(18px - 20%) !important;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  text-transform: uppercase;
}

body[dir="rtl"] .subscribNow_button_EmailVerify {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.subscribNow_button_EmailVerify:focus-visible {
  width: 90%;
  border-radius: 4px;
  font-size: calc(18px - 20%) !important;
  background-color: #6172d6 !important;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold";
  text-transform: uppercase;
}

/* .subscribNow_button_EmailVerify {
  width: 280px;
  border-radius: 1px;
} */

.Auth_Icon {
  position: fixed;
  right: -115px;
  bottom: -190px;
  transform: rotate(0deg);
  z-index: 0;
}

body[dir="rtl"] .Auth_Icon {
  transform: rotate(0deg) scaleX(-1);
  right: auto !important;
  left: -190px;
}

/* .signInError {
    background-color: #fff !important;
    color: #000 !important;
} */
.Login_page_text {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.Login_page_text h1 {
  font-size: calc(60px - 20%) !important;
  font-family: "MontserratSemiBold";
  margin: 0 !important;
  width: 100%;
  white-space: nowrap;
  z-index: 1;
}

.loginbox_auth_paper {
  margin-left: 60px;
  padding: 30px 25px;
  border-radius: 4px;
  max-width: 380px;
  border: 1px solid #e1e1e1 !important;
}

body[dir="rtl"] .loginbox_auth_paper {
  margin-right: 60px;
  padding: 30px 0;
  border-radius: 4px;
  border: 1px solid #e1e1e1 !important;
}

.inputEmailField {
  border-radius: 4px !important;
  height: 39px !important;
}

body[dir="rtl"] .inputEmailField {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.inputEmailField:focus,
.inputEmailField:focus-visible {
  border: 1px solid #e1e1e1 !important;
  height: 30px;
}

.inputEmailField::placeholder {
  color: #171d2d !important;
  opacity: 50%;
}

.heading-1 {
  color: #6172d6;
}

body[dir="rtl"] .heading-1 {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
  font-size: 70px !important;
  /* letter-spacing: 3xpx; */
}

body[dir="rtl"] .heading-2 {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
  font-size: 60px !important;
}

.heading-2 {
  color: #4adede;
}

.forogt_email_link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "MontserratRegular";
  font-size: calc(16px - 20%) !important;
  margin-bottom: 20px;
}

.forogt_email_link a {
  color: #171d2d !important;
}

.signup-text-inloginpage {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #000;
  font-family: "MontserratRegular" !important;
  font-size: calc(16px - 20%) !important;
}

body[dir="rtl"] .signup-text-inloginpage {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.errorMessage-inLogin {
  margin: 2px;
  height: 13px;
  color: #f16b6b;
  visibility: visible;
  font-family: "MontserratMedium-500";
}

body[dir="rtl"] .errorMessage-inLogin {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.errorMessage-inLogin_hidden {
  visibility: hidden;
  margin: 0;
  height: 13px;
  color: #f16b6b;
}

.select-language-signin {
  position: absolute;
  overflow: hidden !important;
  top: 30px;
  right: 150px;
  padding: 0 50px !important;
  z-index: 9999;
  height: 2.9em !important;
  border: 1px solid #e1e1e1 !important;
  box-shadow: none !important;
  font-family: "MontserratSemiBold-600" !important;
  border-radius: 4px;
  width: 181px !important;
  height: 38px !important;
}

.select-language-signin:focus,
.select-language-signin:focus-within,
.select-language-signin:focus-visible {
  border: 1px solid #e1e1e1 !important;
  box-shadow: none !important;
  outline: none !important;
}

body[dir="rtl"] .select-language-signin {
  position: absolute;
  overflow: hidden !important;
  top: 30px;
  right: 80%;
  padding: 0 50px !important;
  z-index: 9999;
  height: 2.9em !important;
  border: 1px solid #e1e1e1 !important;
  box-shadow: none !important;
  font-family: "IBMPlexSansArabic-Bold" !important;
  border-radius: 4px;
  width: 181px !important;
  height: 38px !important;
}

.languageIcon {
  z-index: 99999 !important;
  position: absolute;
  right: 295px;
  top: 38px;
  width: 25px;
  height: 25px;
}

body[dir="rtl"] .languageIcon {
  z-index: 99999 !important;
  position: absolute;
  right: 80%;
  margin-right: 11px;
  top: 37px;
  width: 25px;
  height: 25px;
}

.Remember_checkbox_styles {
  font-family: "MontserratMedium-500";
  color: #5a5a5a !important;
}

.languageSelector {
  position: absolute;
  right: 100px;
  z-index: 99999 !important;
  margin-top: 30px !important;
  margin-right: 0 !important;
  display: flex;
  justify-content: flex-end;
}

body[dir="rtl"] .languageSelector {
  position: absolute;
  right: -100px;
  z-index: 99999 !important;
  margin-top: 50px !important;
  margin-right: 0 !important;
  display: flex;
  justify-content: flex-end;
}
.freetrail_banner {
  position: relative;
  background-color: #6172d6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px 0;
  margin-top: 20px;
  border-radius: 4px;
}
.freetrail_heading {
  color: #fff !important;
  font-family: "MontserratMedium-500";

  font-size: 16px !important;
}
.Free-Trial_btn {
  color: #5a5a5a;
  background-color: #fff;
  padding: 8px 20px;
  font-family: "MontserratSemiBold-600" !important;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignInEmailBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}
