.mainDivComplianceStanding {
  width: 100%;
  padding: 10px 20px;
  overflow-x: auto; /* prevents breaking on smaller screens */
}

.iconTextWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.iconTextWrapper label {
  font-size: 10px;
  color: #5a5a5a;
  font-family: "Montserrat";
  font-weight: 700;
}

.iconTextWrapper p {
  font-size: 20px;
  color: #5a5a5a;
  font-family: "Montserrat";
  margin: 0;
  font-weight: 600;
}

.dueDateRange {
  font-size: 10px;
  color: #6172d6;
  font-family: "Montserrat";
  font-weight: 700;
}

.complianceDownloadBtn {
  background-color: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 12px;
  color: #5a5a5a;
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 600;
  padding: 10px 30px;
}

.complianceDownloadBtn:hover {
  color: #5a5a5a;
  background-color: transparent;
  border: 1px solid #e1e1e1;
}

.tableWrapper {
  margin-top: 30px;
  background: transparent;
  border-radius: 8px;
  padding: 10px 0;
}

/* HEADER LIKE TABLE */
.tableHeader {
  display: grid;
  grid-template-columns: 5fr 1.5fr 1fr 1fr 1fr 0.5fr 2fr;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 16px;
  border-bottom: 1px solid #a2a2a2;
  color: #6172d6;
  font-family: "Montserrat";
}

/* EACH COLLAPSE ROW HEADER */
.tableRow {
  display: grid;
  grid-template-columns: 5fr 1.5fr 1fr 1fr 1fr 0.5fr 2fr;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat";
  color: #5a5a5a;
}

.nameCol {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  max-width: 300px;
}

.badge {
  background: #ecefff;
  color: #6172d6;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
}

.criticality {
  background: #fff8e1;
  color: #d8a709;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
}

.collapseWrapper :global(.ant-collapse-item) {
  background: #fff;
  border-bottom: 2px solid #e1e1e1;
}

.collapseWrapper :global(.ant-collapse-header) {
  padding: 12px 16px !important;
}

/* Whole collapse container */
.collapseWrapper :global(.ant-collapse) {
  background: #fff; /* your normal bg */
  border: none;
}
.panelContent {
  padding: 16px;
  background: #f6f9fc !important;
}

.MainAccordianTable {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.insideAccordianTable {
  height: 140px;
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;
}

.reportDetailsBar {
  background-color: #ecefff;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #6172d6;
  gap: 5px;
}

.reportDetailsBar span {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
}

.reportDetailButton {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat";
  padding: 2px 10px;
  margin-left: 10px;
  background-color: #6172d6;
  border: none;
  color: #fff;
}

.reportDetailButton:hover {
  background-color: #6172d6;
  border: none;
  color: #fff;
}

.reportTitleRow {
  align-items: center;
  padding: 0px 20px;
}
/* .titleSection label {
  font-size: 8px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #5a5a5a;
}
.titleSection label.ChecklistTitle {
  font-size: 8px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #6172d6;
} */
.titleSection label {
  font-size: 10px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #5a5a5a;
  line-height: 20px;
  letter-spacing: 0%;
}
.titleSection p {
  font-size: 24px;
  /* font-size: 16px; */
  font-weight: 700;
  font-family: "Montserrat";
  color: #6172d6;
  line-height: 20px;
  letter-spacing: 0%;
}
.titleSection label.ChecklistTitle {
  font-size: 10px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #6172d6;
}

.metaRow {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.metaRow span {
  font-size: 10px;
  font-weight: 700;
  color: #6172d6;
  font-family: "Montserrat";
}

.metaRow p {
  font-size: 20px;
  font-weight: 600;
  color: #5a5a5a;
  font-family: "Montserrat";
  margin: 0;
}

.chartCol {
  display: flex;
  justify-content: end;
  gap: 20px;
  background: #ecefff;
  border-radius: 8px;
  padding: 24px 30px;
}

.chartWrapper {
  width: 100%;
  height: 200px;
  position: relative;
  background: transparent;
}

.centerLabel {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: center; /* 🔥 prevents full width stretch */
  pointer-events: none;
}

.centerLabel h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #2d3748;
}

.centerLabel p {
  margin: 0;
  font-size: 12px;
  color: #6b7280;
}

.chartWrapper {
  width: 100%;
}

.chartFlex {
  display: flex;
  align-items: center; /* 🔥 vertical center */
  justify-content: center;
  gap: 20px;
}

.chartBox {
  position: relative;
  width: 200px;
  height: 200px;
}

.centerLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}

.customLegend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}
.customLegend div {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 2%;
  color: #5a5a5a;
}
.legendItem {
  display: flex;

  align-items: center;
  gap: 8px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 2%;
  color: #5a5a5a;
}
.legendText {
  font-weight: 500;
}
.legendDotBlue,
.legendDotYellow,
.legendOrange {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.legendDotBlue {
  background: #5b6bff;
}
.legendDotYellow {
  background: #f2c94c;
}
.legendOrange {
  background: #f16b6b;
}

.ComplianceMainHeading {
  display: flex;
  flex-direction: column; /* ✅ IMPORTANT */
  align-items: flex-start; /* align left */
  gap: 4px;
  padding: 0px 30px;
}

.ComplianceMainHeading label {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: 0%;

  color: #5a5a5a;
}

.ComplianceMainHeading p {
  font-size: 16px !important;
  color: #6172d6 !important;
  font-family: "Montserrat";
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  font-weight: 600;
}
.ComplianceMainHeading p.complianceTitleListDownload {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px !important;
  line-height: 100%;
  letter-spacing: 2%;
  color: #5a5a5a !important;
}

.iconTextWrapperDownload {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  background: #ecefff;
  border-radius: 8px;
  padding: 20px 18px;
  justify-content: center;
}

.iconTextWrapperDownload label {
  font-size: 8px;
  color: #6172d6;
  font-family: "Montserrat";
  font-weight: 700;
}

.iconTextWrapperDownload p,
.ComplianceReportHeadings {
  font-size: 12px;
  color: #5a5a5a;
  font-family: "Montserrat";
  margin: 0;
  font-weight: 600;
}
.ComplianceSection {
  padding: 0px 16px;
}
.checklist_report {
  padding: 0px 30px;
  font-size: 12px;
  color: #5a5a5a;
  font-family: "Montserrat";
  line-height: 100%;
  letter-spacing: 2%;
  font-weight: 600;
  margin-top: 16px;
}

.insideAccordianSubHeading label {
  color: #5a67d8;
  font-size: 10px;
  font-weight: 700;
  font-family: "Montserrat";
}

.nodatafound_subHeading {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #e1e1e1;
}
.NoDataFoundTable {
  height: 140px;
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background: #ffffff;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goBackButton {
  cursor: pointer;
}

.pdfComplianceTitle {
  font-size: 14px;
  font-weight: 500;
  color: #3b3b3b;
  margin-bottom: 8px;
}

.dueDate {
  display: flex;
  gap: 4px;
}

.dueDate label,
p {
  font-size: 12px;
  color: #5a5a5a;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 100%;
}
.TextDownloadWrapper {
  display: flex;
  gap: 30px;
  margin: 1px 0;
}
.TextDownload {
  display: flex;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  background: #ecefff;
  border-radius: 8px;
  padding: 10px 20px;
  justify-content: center;
  height: 130px;
}

.TextDownload label {
  font-size: 10px;
  color: #5a5a5a;
  font-family: "Montserrat";
  font-weight: 700;
  /* line-height: 140%; */
  /* letter-spacing: 2%; */
  text-align: center;
  margin-top: 5px;
}

/* view report */
.panelContent {
  padding: 16px;
  background: #f6f9fc !important;
}
.insideAccordianMain label {
  color: #5a67d8;
  font-size: 10px;
  font-weight: 700;
  font-family: "Montserrat";
}
.insideAccordianMain p {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
}

.insideAccordianSubHeading label {
  color: #5a67d8;
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
}

.insideAccordianSubHeading p {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
}
/* view report */
/* Download Report */
.TextDownload p {
  font-size: 30px;
  color: #6172d6;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 0;
  /* line-height: 140%; */
  letter-spacing: 2%;
  text-align: center;
}
.longTitleHeading {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 1.4;
  margin-bottom: 15px;

  /* 🔥 Important */
  word-break: break-word;
  max-width: 95%;
}
/* Download Report */

/* Download Report */
.panelContentDownload {
  background: #f6f9fc !important;
}
.insideAccordianMainHeading label {
  color: #5a67d8;
  font-size: 8px;
  font-weight: 700;
  font-family: "Montserrat";
  line-height: 20px;
  letter-spacing: 0%;
}

.insideAccordianMainHeading p {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}
/* Download Report */

.complianceTitleList {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2%;
  color: #5a5a5a !important;
}
.complainceTitleHeading {
  font-weight: 700;
  font-size: 8px;
  color: #5a5a5a;
}

.complainceTitle {
  font-weight: 600;
  font-size: 16px;
  color: #6172d6;

  /* 🔥 Important */
  word-break: break-word;
  max-width: 95%;
}
.ChecklistTitleHeading {
  font-weight: 700 !important;
  font-size: 8px !important;
  line-height: 8px !important;
  color: #6172d6 !important;
}

.longTitleHeading {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #5a5a5a !important;

  /* 🔥 Important */
  word-break: break-word !important;
  max-width: 95% !important;
}
.insideAccordianTableDownload {
  padding: 10px 20px 0 20px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;
}
