.Meeting_Side_bar_Tag {
  font-size: 10px !important;
  color: #5a5a5a !important;
  font-weight: 600;
}

.Meeting_Side_bar_Tag:hover {
  color: #fff !important;
}

.Meeting_Side_bar_Tag_active {
  font-size: 9px !important;
  color: #fff !important;
  font-weight: 600;
}
.icon-width {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.icon_expand.nav-link {
  height: 55px !important;
  border-radius: 4px !important;
}

a.icon-active-sidebar_expand.nav-link.active {
  height: 55px !important;
  border-radius: 4px !important;
}

a.m-0.p-0.icon-active-sidebar_expand.nav-link span {
  color: #fff !important;
}

a.icon-active-sidebar_expand.nav-link:hover span {
  color: #505050 !important;
  font-weight: 600;
  font-family: "Montserrat";
}

.pollsHeading {
  margin-top: 1px !important;
}
