.iconGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100 !important;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
  text-decoration: none;
  min-width: 85px;
}
.iconItem:hover {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 4px;
  color: #fff;
  min-width: 85px;
}
.iconItem_active {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 4px;
  color: #fff;
  min-width: 85px;
}

.iconItem_active img {
  height: 25px;
  margin-bottom: 5px;
  filter: brightness(0) invert(1);
}

.iconItem img {
  height: 25px;
  margin-bottom: 5px;
}
.iconItem:hover img {
  height: 25px;
  margin-bottom: 5px;
  filter: brightness(0) invert(1);
}
.iconItem_active p {
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  color: #fff !important;
  white-space: nowrap;

}

.iconItem p {
  margin: 0;
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
}

.iconItem:hover {
  text-decoration: none;
  color: #fff;
}
