.Result_Heading_resolution {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6;
}

body[dir="rtl"] .Result_Heading_resolution {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Result_page_paper {
  height: 710px;
  width: 1429px;
  padding: 55px 55px !important;
}

.results_paper_heading {
  font-size: 20px !important;
  font-family: "MontserratSemiBold";
  color: #6172d6 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body[dir="rtl"] .results_paper_heading {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Total_voters {
  font-size: 16pt !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a !important;
}

body[dir="rtl"] .Total_voters {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.No_of_Votes {
  color: #6172d6 !important;
  margin-left: 3px !important;
}

body[dir="rtl"] .No_of_Votes {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.yellow_border_box {
  width: 282px !important;
  height: 125px !important;
  background-color: #fff !important;
  border: 1px solid #ddb227;
  border-radius: 4px !important;
}

.status_vote_resolution {
  font-size: 30px !important;
  font-family: "MontserratSemiBold";
  color: #ddb227 !important;
}

body[dir="rtl"] .status_vote_resolution {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.voters_heading_result {
  font-size: 16pt !important;
  font-family: "MontserratSemiBold";
  color: #6172d6 !important;
}

body[dir="rtl"] .voters_heading_result {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.name_participant {
  font-size: 12pt !important;
  font-family: "MontserratSemiBold";
  color: #5a5a5a !important;
  /* margin-top: 15px !important; */
}

.email_participant {
  font-size: 10pt !important;
  color: #6172d6 !important;
  font-family: "MontserratSemiBold";
  text-decoration: underline;
}

.Lineheight {
  line-height: 15px !important;
  margin-top: 9px !important;
  margin-left: 10px !important;
}

.Result-Screen_scroller {
  height: 16vh !important;
  overflow-x: hidden !important;
}

.Result-Screen_scroller::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.Result-Screen_scroller::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}

.Close_resolution_Btn_Resultresolution {
  padding: 12px 80px !important;
  font-size: 12px !important;
  background: #6172d6;
  color: #fff;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: none !important;
}

body[dir="rtl"] .Close_resolution_Btn_Resultresolution {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Close_resolution_Btn_Resultresolution:hover,
.Close_resolution_Btn_Resultresolution:focus,
.Close_resolution_Btn_Resultresolution:active,
.Close_resolution_Btn_Resultresolution:focus-visible {
  padding: 12px 80px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: none !important;
}

.Close_resolution_Btn_Resultresolution:disabled {
  padding: 12px 80px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: none !important;
  opacity: 50%;
}

.Close_Btn_Resultresolution {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  color: #5a5a5a;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

body[dir="rtl"] .Close_Btn_Resultresolution {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.Close_Btn_Resultresolution:hover,
.Close_Btn_Resultresolution:focus,
.Close_Btn_Resultresolution:active,
.Close_Btn_Resultresolution:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold";
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}
