.meeting-title {
  cursor: pointer;
  color: #2197d7 !important;
  font-style: normal !important;
  font-size: calc(17px - 20%);
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  font-weight: 600 !important;
}

.meeting-startbutton-width {
  width: 150px !important;
}

.meeting-editbutton {
  cursor: pointer;
  color: #2197d7;
  text-decoration: underline;
  font-style: normal;
}

.meeting-schedulenewmeeting-btn {
  width: auto !important;
}

.meeting-schedulenewmeeting-btn button::before {
  margin: 0 0px 0 0;
  font-size: 24px;
}

.meeting-schedulenewmeeting-btn button {
  font-size: calc(14px - 20%) !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  border: none !important;
  margin-top: 4px;
}

body[dir="rtl"] .meeting-schedulenewmeeting-btn button {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.meeting-schedulenewmeeting-btn button:hover {
  font-size: calc(14px - 20%) !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  border: none !important;
}

body[dir="rtl"] .meeting-schedulenewmeeting-btn button:hover {
  background: linear-gradient(to right, #49dbdb 0%, #6172d6 100%) !important;
}

.meeting-meeting-searchfileds_oldMeeting {
  margin-left: -25px !important;
  margin-top: 5px !important;
}

.meeting-table-row {
  padding: 20px 9px !important;
  position: relative !important;
  background: #fff !important;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 10px !important;
  height: 68vh !important;
}

.meeting-expanded-row {
  margin: 0px;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: calc(14px - 22%) !important;
}

.Meeting-heading {
  font-size: calc(35px - 20%) !important;
  font-weight: 600 !important;
  color: #6172d6 !important;
  margin-top: 9px !important;
  margin-left: 15px !important;
}

.Meeting-schedule-btn {
  background-color: #2197d7 !important;
  border-color: #2197d7 !important;
  border-radius: 4px !important;
}

.End-meeting-btn {
  background: linear-gradient(to left, #4adede 0%, #6172d6 100%) !important;
  border: none !important;
  width: 138px !important;
  font-size: calc(17px - 20%) !important;
  font-weight: 400 !important;
  padding: 2px 0 !important;
  border-radius: 4px !important;
}

body[dir="rtl"] .End-meeting-btn {
  background: linear-gradient(to right, #4adede 0%, #6172d6 100%) !important;
}

.start-meeting-btn {
  background: linear-gradient(to left, #4adede 0%, #6172d6 100%) !important;
  border: none !important;
  width: 138px !important;
  font-size: calc(17px - 20%) !important;
  font-weight: 400 !important;
  padding: 2px 0 !important;
  border-radius: 4px !important;
}

body[dir="rtl"] .start-meeting-btn {
  background: linear-gradient(to right, #4adede 0%, #6172d6 100%) !important;
  border: none !important;
  width: 138px !important;
  font-size: calc(17px - 20%) !important;
  font-weight: 400 !important;
  padding: 2px 0 !important;
}

body[dir="rtl"] .start-meeting-btn {
  background: linear-gradient(to right, #4adede 0%, #6172d6 100%) !important;
}

.ant-table-wrapper.hello table {
  border-collapse: collapse;
  table-layout: fixed !important;
}

.ant-table-wrapper.hello table thead tr th:nth-child(1) {
  padding: 0;
  margin: 0;
  text-align: left;
}

.ant-table-wrapper.hello table thead tr th:nth-child(2) {
  padding: 0;
  font-weight: 400 !important;
}

.ant-table-wrapper.hello table thead tr th:nth-child(3) {
  padding: 0;
  text-align: center !important;
  font-weight: 400 !important;
}

.ant-table-wrapper.hello table thead tr th:nth-child(4) {
  padding: 0 0 0 0px;
  font-weight: 400 !important;
}

.ant-table-wrapper.hello table thead tr th:nth-child(5) {
  text-align: center !important;
  padding: 0 0 0 50px;
  font-weight: 400 !important;
}

.ant-table-wrapper.hello table tbody tr td:nth-child(5) {
  text-align: center !important;
  font-weight: 400 !important;
}

.ant-table-wrapper.hello table tbody tr td:nth-child(2) {
  cursor: pointer;
  color: #2197d7 !important;
  font-style: normal !important;
  font-size: calc(17px - 20%);
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  font-weight: 600 !important;
}

.meeting-table-attachment-icon {
  width: 12px !important;
}

.hello .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #e9e9e9 !important;
  font-size: 12px;
  font-weight: bold;
  display: list-item !important;
}

.hello .rc-virtual-list-holder-inner {
  width: 110px !important;
  overflow: hidden !important;
  display: flex !important;
}

.hello .ant-select-dropdown {
  left: 101px;
  top: -783px;
  min-width: 110px !important;
  width: 110px !important;
}

.filter-chevron-icon-meeting {
  color: #1890ff !important;
  float: left !important;
}

.meetingContainer {
  height: 90vh;
  margin: 0 auto;
  max-width: 86% !important;
}

.meeting-heading {
  font-size: calc(40px - 50%) !important;
  color: #6172d6 !important;
  font-weight: 600 !important;
}

.ScheduleAMeeting {
  width: auto;
  white-space: nowrap;
  height: 31px;
  border-radius: 4px;
  font-size: calc(14px - 20%);
  background: linear-gradient(to left, #4adede 0%, #6172d6 100%) !important;
  color: #fff;
  border: none !important;
  font-weight: 600;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body[dir="rtl"] .ScheduleAMeeting {
  background: linear-gradient(to right, #4adede 0%, #6172d6 100%) !important;
}

.ScheduleAMeeting:hover,
.ScheduleAMeeting:visited,
.ScheduleAMeeting:focus,
.ScheduleAMeeting:focus-within,
.ScheduleAMeeting:target,
.ScheduleAMeeting:active {
  width: auto;
  white-space: nowrap;
  height: 31px;
  border-radius: 4px;
  font-size: calc(14px - 20%);
  background: linear-gradient(to left, #4adede 0%, #6172d6 100%) !important;
  color: #fff !important;
  border: none !important;
  font-weight: 600;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body[dir="rtl"] .ScheduleAMeeting:hover,
body[dir="rtl"] .ScheduleAMeeting:visited,
body[dir="rtl"] .ScheduleAMeeting:focus,
body[dir="rtl"] .ScheduleAMeeting:focus-within,
body[dir="rtl"] .ScheduleAMeeting:target,
body[dir="rtl"] .ScheduleAMeeting:active {
  background: linear-gradient(to right, #4adede 0%, #6172d6 100%) !important;
}

@media screen and (max-width: 1200px) {
  .meeting-heading {
    font-size: 18px !important;
    color: #6172d6 !important;
    font-weight: 600 !important;
    margin-left: 20px !important;
  }

  .meeting-schedulenewmeeting-btn {
    font-size: 10px !important;
  }

  .meeting-schedulenewmeeting-btn button {
    font-size: calc(14px - 20%) !important;
    background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    border: none !important;
  }

  svg.search-Icon.toExpandSearch.Meeting {
    position: relative !important;
    width: 20px;
    height: 30px !important;
    z-index: 1 !important;
    left: 50px;
    cursor: pointer;
  }

  .meeting-table-row {
    margin-left: 17px !important;
    padding: 20px !important;
    position: relative !important;
    overflow: auto !important;
    background: #fff !important;
    margin-bottom: 10px !important;
  }
}

body[dir="rtl"] .meeting-searchfileds {
  margin-right: 35px !important;
  margin-left: 0 !important;
  margin-top: 5px !important;
}

.MuiPaper-root.No-Meeting-Table.MuiPaper-elevation0.MuiPaper-rounded {
  padding: 50px 0px;
}

.No-Meeting-Table .ant-result.ant-result-info {
  padding-bottom: 20px !important;
  padding-top: 5px !important;
}

.No-Meeting-Table .ant-result-icon {
  margin: 0 !important;
}

.No-Meeting-Table .ant-result-subtitle {
  color: #505050;
}

.No-Meeting-Table .ant-result-title {
  text-transform: capitalize;
  font-weight: 600;
  color: #bbbbbb !important;
}

.hello
  .ant-select.ant-pagination-options-size-changer.ant-select-single.ant-select-show-arrow {
  width: 110px;
}

body[dir="rtl"]
  .meeting-schedulenewmeeting-btn.col-lg-3.col-md-3.col-sm-4.col-12 {
  margin-right: -40px;
}

body[dir="rtl"]
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
  .MuiAutocomplete-endAdornment {
  right: auto !important;
  left: 9px !important;
}

body[dir="rtl"] .modalmeeting-participant-scroll {
  height: 161px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 10px;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: #fff !important;
  border-bottom-color: #fff !important;
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-bottom-color: #fff !important;
}

.react-datepicker__navigation-icon {
  font-size: 10px;
}

.react-datepicker__day--keyboard-selected {
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  border-radius: 50% !important;
  font-weight: 600 !important;
}

.react-datepicker__quarter-text--disabled {
  color: #bbbbbb !important;
  font-weight: 600 !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50% !important;
  background: linear-gradient(to left, #49dbdb 0%, #6172d6 100%) !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.react-datepicker__triangle {
  color: #fff !important;
}

.react-datepicker__day {
  font-weight: 600 !important;
}

.react-datepicker__day-name {
  color: #6172d6 !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.react-datepicker__current-month {
  font-size: 1rem !important;
  color: #000 !important;
  font-weight: 500 !important;
}

.react-datepicker__navigation-icon {
  right: 5px !important;
}

button.react-datepicker__navigation.react-datepicker__navigation--previous {
  border-top: 8px solid transparent !important;
  border-left: 12px solid #6172d6 !important;
  border-bottom: 8px solid transparent !important;
  transform: rotate(180deg);
  height: 10px !important;
  width: 10px !important;
  top: 10px;
  left: 8px;
}

span.react-datepicker__navigation-icon.react-datepicker__navigation-icon--previous {
  display: none;
}

button.react-datepicker__navigation.react-datepicker__navigation--next {
  border-top: 8px solid transparent !important;
  border-left: 12px solid #6172d6 !important;
  border-bottom: 8px solid transparent !important;
  height: 10px !important;
  width: 10px !important;
  top: 10px;
  left: auto;
  right: 8px;
}

span.react-datepicker__navigation-icon.react-datepicker__navigation-icon--next {
  display: none;
}

.react-datepicker {
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  padding: 0 5px !important;
}

.react-datepicker__navigation-icon {
  right: 5px !important;
}

.meeting_container {
  width: 90% !important;
  margin: 0 auto !important;
  height: 91vh !important;
}

.pagination-meeting-table {
  width: auto;
}

.PaginationStyle-Meeting {
  background-color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  width: auto !important;
  padding: 12px 40px !important;
  margin: 20px 0 40px 0;
  height: auto !important;
  box-shadow: 0px 0px 5px #ccc !important;
  border-radius: 4px !important;
}

.PaginationStyle-Meeting:is(:focus-visible) {
  outline: none !important;
}

body[dir="rtl"] .PaginationStyle-Meeting {
  width: auto !important;
  padding: 12px 10px !important;
}

.Empty_State_styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center !important;
  flex-direction: column;
}
