.ThankyouHeading {
  color: #6172d6 !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 30px !important;
}

.Subheading {
  color: #5a5a5a !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 16px !important;
}

.RedThankyouHeading {
  color: #f16b6b !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 30px !important;
}

.OrangeThankyouHeading {
  color: #f68732 !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 30px !important;
}

.MeetingTitle {
  color: #6172d6 !important;
  font-family: "MontserratSemiBold" !important;
  font-size: 16px !important;
}
