@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts-new/montserrat-regular-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-regular-webfont.woff2") format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("./assets/fonts-new/montserrat-italic-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-italic-webfont.woff2") format('woff2');
}

@font-face {
  font-family: "MontserratThin-100";
  src: url("./assets/fonts-new/montserrat-100-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-100-webfont.woff2") format('woff2');
  font-weight: 100;
}

/* @font-face {
    font-family: 'MontserratThin-100italic';
    src        : url(./assets/fonts-new/MONTSERRAT-100ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratExtraLight-200";
  src: url("./assets/fonts-new/montserrat-200-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-200-webfont.woff2") format('woff2');
  font-weight: 200;
}

/* @font-face {
    font-family: 'MontserratExtraLight-200italic';
    src        : url(./assets/fonts-new/MONTSERRAT-200ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratLight-300";
  src: url("./assets/fonts-new/montserrat-300-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-300-webfont.woff2") format('woff2');
  font-weight: 300;
}

/* @font-face {
    font-family: 'MontserratLight-300italic';
    src        : url(./assets/fonts-new/MONTSERRAT-300ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratMedium-500";
  src: url("./assets/fonts-new/montserrat-500-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-500-webfont.woff2") format('woff2');
  font-weight: 500;
}

/* @font-face {
    font-family: 'MontserratMedium-500italic';
    src        : url(./assets/fonts-new/MONTSERRAT-500ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratSemiBold-600";
  src: url("./assets/fonts-new/montserrat-600-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-600-webfont.woff2") format('woff2');
  font-weight: 600;
}

/* @font-face {
    font-family: 'MontserratSemiBold-600italic';
    src        : url(./assets/fonts-new/MONTSERRAT-600ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratBold-700";
  src: url("./assets/fonts-new/montserrat-700-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-700-webfont.woff2") format('woff2');
  font-weight: 700;
}

/* @font-face {
    font-family: 'MontserratBold-700italic';
    src        : url(./assets/fonts-new/MONTSERRAT-700ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratExtraBold-800";
  src: url("./assets/fonts-new/montserrat-800-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-800-webfont.woff2") format('woff2');
  font-weight: 800;
}

/* @font-face {
    font-family: 'MontserratExtraBold-800italic';
    src        : url(./assets/fonts-new/MONTSERRAT-800ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratBlack-900";
  src: url("./assets/fonts-new/montserrat-900-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-900-webfont.woff2") format('woff2');
  font-weight: 900;
}

/* @font-face {
    font-family: 'MontserratBlack-900italic';
    src        : url(./assets/fonts-new/MONTSERRAT-900ITALIC.TTF);
} */

@font-face {
  font-family: "MontserratRegular";
  src: url("./assets/fonts-new/montserrat-900-webfont.woff") format('woff'),
    url("./assets/fonts-new/montserrat-regular-webfont.woff2") format('woff2');
  font-weight: 400;
}

.Montserrat {
  font-family: "Montserrat" !important;
}

.Montserrat-Italic {
  font-family: "Montserrat-Italic" !important;
}

.MontserratThin-100 {
  font-family: "MontserratThin-100" !important;
}

.MontserratThin-100italic {
  font-family: "MontserratThin-100italic" !important;
}

.MontserratExtraLight-200italic {
  font-family: "MontserratExtraLight-200italic" !important;
}

.MontserratLight-300 {
  font-family: "MontserratLight-300" !important;
}

.MontserratLight-300italic {
  font-family: "MontserratLight-300italic" !important;
}

.MontserratMedium-500 {
  font-family: "MontserratMedium-500" !important;
}

.MontserratMedium-500italic {
  font-family: "MontserratMedium-500italic" !important;
}

.MontserratSemiBold-600 {
  font-family: "MontserratSemiBold-600" !important;
}

.MontserratSemiBold-600italic {
  font-family: "MontserratSemiBold-600italic" !important;
}

.MontserratBold-700 {
  font-family: "MontserratBold-700" !important;
}

.MontserratBold-700italic {
  font-family: "MontserratBold-700italic" !important;
}

.MontserratExtraBold-800 {
  font-family: "MontserratExtraBold-800" !important;
}

.MontserratExtraBold-800italic {
  font-family: "MontserratExtraBold-800italic" !important;
}

.MontserratBlack-900 {
  font-family: "MontserratBlack-900" !important;
}

.MontserratBlack-900italic {
  font-family: "MontserratBlack-900italic" !important;
}

.MontserratRegular {
  font-family: "MontserratRegular" !important;
}

/* Arabic style fonts */

@font-face {
  font-family: "IBMPlexSansArabic-Bold";
  src: url("./assets/fonts/IBMPlexSansArabic-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-ExtraLight";
  src: url("./assets/fonts/IBMPlexSansArabic-ExtraLight.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Light";
  src: url("./assets/fonts/IBMPlexSansArabic-Light.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Medium";
  src: url("./assets/fonts/IBMPlexSansArabic-Medium.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Regular";
  src: url("./assets/fonts/IBMPlexSansArabic-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-SemiBold";
  src: url("./assets/fonts/IBMPlexSansArabic-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexSansArabic-Thin";
  src: url("./assets/fonts/IBMPlexSansArabic-Thin.ttf");
}

.IBMPlexSansArabic-Bold {
  font-family: "IBMPlexSansArabic-Bold" !important;
}

.IBMPlexSansArabic-ExtraLight {
  font-family: "IBMPlexSansArabic-ExtraLight" !important;
}

.IBMPlexSansArabic-Light {
  font-family: "IBMPlexSansArabic-Light" !important;
}

.IBMPlexSansArabic-Medium {
  font-family: "IBMPlexSansArabic-Medium" !important;
}

.IBMPlexSansArabic-Regular {
  font-family: "IBMPlexSansArabic-Regular" !important;
}

.IBMPlexSansArabic-SemiBold {
  font-family: "IBMPlexSansArabic-SemiBold" !important;
}

.IBMPlexSansArabic-Thin {
  font-family: "IBMPlexSansArabic-Thin" !important;
}
/* body {
    font-family: 'Montserrat';
} */
