.meeting-icon-arrow {
    font-size: 8rem;
    color: #2097d6;
    margin-right: 10px;
    margin-left: 10px;
}
.meeting-btn-arrow {
    font-size: 4rem ;
    color: #2097d6;
}
.meeting-modal-arrow {
    font-size: 8rem ;
    color: #2097d6;
}
.meeting-faq-arrow {
    font-size: 8rem ;
    color: #2097d6;
    margin-right: 10px;
}