.snackbarText {
    font-family: "Montserrat" !important;
}
.alertClass {
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiSnackbar-root.MuiSnackbar-anchorOriginTopRight {
    z-index: 99999999999 !important;
    position: fixed;
    top: 50px;
}
