/* .chat-modal-Heading h1 {
    font-size    : 14px;
    text-align   : center;
    margin-top   : -20px;
    margin-bottom: 15px;
    font-weight  : 600;
}

.chat-options {
    display        : flex;
    justify-content: center;
    align-items    : center;
    vertical-align : middle;
}

.Ok-btn {
    width           : 100px !important;
    height          : 30px !important;
    border          : 1px solid #6172D6;
    border-radius   : 4px;
    background-color: #6172D6 !important;
    color           : #fff !important;
    font-size       : 10px;
    margin-top      : 15px;
} */
