.error {
  /* background-color: #ce0000 !important; */
  text-align      : left !important;
  margin-top      : 5px !important;
  color           : #F16B6B !important;
  width           : 100% !important;
  font-family     : 'MontserratRegular' !important;
}

body[dir="rtl"] .error {
  text-align: right !important;
}