.error {
  text-align: left !important;
  margin-top: 5px !important;
  color: #f16b6b !important;
  width: 100% !important;
  font-weight: 400;
}

body[dir="rtl"] .error {
  text-align: right !important;
}
