.EmailBoxtwofac {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Next_button_EmailVerifyForTwoFac button {
  width: 100% !important;
  border-radius: 4px !important;
  background-color: #6172d6;
  color: #fff !important;
  border: none !important;
  font-family: "MontserratSemiBold-600" !important;
}

.Next_button_EmailVerifyForTwoFac button:disabled {
  filter: grayscale(0.5);
}


.Auth_Icon1_Two_fac {
  position: absolute;
  left: 25%;
  top: 20%;
  z-index: 9;
}

.parent-class-images {
  height: 100%;
  width: 100%;
}

.circle-image_Two_Fac {
  position: absolute;
  right: -230px;
  bottom: -200px;
  transform: rotate(-96deg);
}
body[dir="rtl"] .circle-image_Two_Fac {
  position: absolute;
  right: 350px;
  bottom: -200px;
  transform: rotate(-96deg);
}
.auth_container.container-fluid {
  overflow: hidden;
}

.Two_fac_auth_paper {
  padding: 30px 35px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.forogt_email_link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-family: "MontserratRegular";
}

.forogt_email_link a {
  color: #5A5A5A !important;
}

.EmailLabeltwofacboth {
  margin-left: 10px;
  font-size: 12px;
  margin-top: 0.13rem;
  font-weight: bold;
  color: #5a5a5a;
  font-family: "MontserratSemiBold-600";
}

.EmailLabeltwofacboth_active {
  margin-left: 10px;
  font-size: 12px;
  margin-top: 0.13rem;
  font-weight: bold;
  color: #ccc;
  font-family: "MontserratSemiBold-600";
}

.sendCodeEmail {
  margin-left: 10px;
  font-size: 12px;
  margin-top: 0.13rem;
  font-weight: bold;
  color: #5a5a5a;
  font-family: "MontserratSemiBold-600";
}

.sendCodeEmail_active {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  font-family: "MontserratSemiBold-600";
}

.EmailBoxtwofac {
  margin-top: 2rem;
}

.SelectLinetwofac {
  margin-top: -0.9rem;
  color: #5a5a5a;
  font-family: "MontserratSemiBold-600";
}

.VerifyHeadingtwofac {
  color: #5a5a5a;
  margin-top: 5rem;
  font-size: calc(35px - 20%) !important;
  font-family: "MontserratSemiBold-600";
}

.Twofactor-language {
  position: absolute;
  overflow: hidden !important;
  top: 50px;
  right: 150px;
  padding: 8px 40px !important;
  z-index: 9999;
  border-color: rgb(64, 64, 64) !important;
  box-shadow: none !important;
}

.Twofactor-language,
.Twofactor-language:focus-within,
.Twofactor-language:focus-visible {
  border-color: rgb(133, 133, 133) !important;
  box-shadow: none !important;
  outline: none !important;
}
.diskus-logo {
  width: 255px;
}