.DateClass {
  font-weight: 600 !important;
  font-size: 12px !important;
  display: inline-block !important;
  width: 80% !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.FixedHeight {
  height: 50vh !important;
}

.Cancel_Button_Polls_meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  border: 1px solid#E1E1E1;
  color: #5a5a5a;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Cancel_Button_Polls_meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  border: 1px solid#E1E1E1 !important;
  color: #5a5a5a !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Save_Button_Polls_meeting {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none;
  color: #fff;
  border-radius: 4px !important;
  font-weight: 600 !important;
}

.Save_Button_Polls_meeting:is(:hover, :active, :focus, :focus-visible) {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none !important;
  color: #fff !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
}
