.sidebar-container {
    /* max-width: 60px !important; */
    margin: 0;
    padding: 0;
}

.dashboard-row {
    display: -webkit-box !important;
}

.talk-icons-container {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    margin-right: 10px;
    position: relative;
    top: -3px;
}

.Dashboard-Content {
    margin-left: 60px !important;
}

.Dashboard-Main-Container.container {
    height: 90vh !important;
    padding-right: 100px;
    padding-left: 0;
    margin-left: 90px;
    width: 80% !important;
}