/* button.accordion-button {
  border-bottom: "1px";
} */

.Setting .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #266ffb;
  background-color: #ffffff;
  border-bottom: 1px solid #b9b0b0 !important;
  z-index: 0!important;
  
}
.Setting .accordion-item .accordion-header .accordion-button:hover{
  z-index: 1 !important;
  
}
.Setting .accordion-item .accordion-header .accordion-button:focus{
  z-index: 1 !important;
}

/* .Input_field_form-control2__Pf-St {
  border-radius: 5px !important;
  border-color: #da5e5e !important;
  font-size: 13px !important;
} */

/* .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    border-radius: 5px;
    padding-right: 65px;
    height: 30px;
    margin-top: 10px;
    width: 100%;
  } */

.accordion {
  --bs-accordion-bg: #ffffff;
}
.setting-profile-name-label {
  margin-top: 25px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}
.margin-left--15 {
  margin-left: -15px;
}
.margin-left--30 {
  margin-left: -30px;
}
.countrycode_setting .css-b62m3t-container {
  width: 135px !important;
}
.timezone_setting  .css-b62m3t-container {
  width: 135px !important;
}