.selectWorkingDays_main-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6172d6;
}
.switchDayStyle {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5a5a5a;
}
.switchDayStyle_disabled {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5a5a5a;
  opacity: 0.5;
}
