.Confirm-updateResolution-modal {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6;
  color: #fff;
  font-weight: 600 !important;
  border-radius: 4px !important;
  border: none !important;
}

body[dir="rtl"] .Confirm-updateResolution-modal {
  font-weight: 600 !important;
}

.Confirm-updateResolution-modal:hover,
.Confirm-updateResolution-modal:active,
.Confirm-updateResolution-modal:focus,
.Confirm-updateResolution-modal:focus-visible {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  color: #fff !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  border: none !important;
}

.Discard_button_updateResolution_modal {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff;
  color: #5a5a5a;
  font-weight: 600 !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

body[dir="rtl"] .Discard_button_updateResolution_modal {
  font-weight: 600 !important;
}

.Discard_button_updateResolution_modal:hover,
.Discard_button_updateResolution_modal:focus,
.Discard_button_updateResolution_modal:focus-visible,
.Discard_button_updateResolution_modal:active {
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #fff !important;
  color: #5a5a5a !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  border: 1px solid #e1e1e1 !important;
}

.Heading_For_Update_resolution_Ask {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #5a5a5a !important;
}

body[dir="rtl"] .Heading_For_Update_resolution_Ask {
  font-weight: 600 !important;
}
