.thankyouheading {
  font-size: 20px !important;
  color: #5a5a5a !important;
  font-weight: 600 !important;
}

body[dir="rtl"] .thankyouheading {
  font-weight: 600 !important;
}

.GotoportalButton {
  font-weight: 600 !important;
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none !important;
  border-radius: 4px !important;
  color: #fff !important;
}

.GotoportalButton:is(:active, :focus, :focus-visible, :active) {
  font-weight: 600 !important;
  padding: 12px 30px !important;
  font-size: 12px !important;
  background: #6172d6 !important;
  border: none !important;
  border-radius: 4px !important;
  color: #fff !important;
}

body[dir="rtl"] .GotoportalButton {
  font-weight: 600 !important;
}
