.talk_nav {
    display       : flex;
    align-items   : flex-end;
    flex-direction: column;
    height        : 240px;
    width         : 65px;
    border-radius : 2px;
    position      : fixed;
    right         : 15px;
    bottom        : 15px;
}

.talk_Icon {
    background      : linear-gradient(to left, #49DBDB 0%, #6172D6 100%);
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    height          : 60px;
    position        : absolute;
    bottom          : 0;
    /* border-radius: 5px; */
}

.talk_subIcon {
    background     : #ffff;
    position       : relative;
    display        : flex;
    justify-content: center;
    flex-direction : column;
    align-items    : center;
    width          : 100%;
    height         : 60px;
    display        : flex;
    cursor         : pointer;
    transition     : .5s;
}

.talk_subIcon:hover svg path {
    fill    : #fff;
    overflow: hidden;
    border  : 2px;
}

.talk_subIcon_hidden {
    display   : none;
    transition: .5s;
    border    : none;
}

.talk_nav_hidden {
    margin        : 10px 0 0 0 !important;
    display       : flex;
    align-items   : flex-end;
    flex-direction: column;
    height        : 240px;
    border        : none;
    width         : 60px;
    border-radius : 2px;
    position      : relative;
}

.talk_subIcon:hover {
    background: linear-gradient(to left, #49DBDB 0%, #6172D6 100%);
    transition: .5s;
}

.talk_subIcon.hover img {
    filter: #fff;
}

.talk-count {
    position     : absolute;
    top          : 9px;
    left         : 5px;
    background   : #5F78D6;
    border       : 3px solid #fff;
    color        : #fff;
    border-radius: 100%;
    width        : 22px;
    text-align   : center;
    font-size    : 10px;
}

.talk-count.total {
    top      : -10px;
    left     : -10px;
    font-size: 13px;
    width    : 26px;
}

@media screen and (max-width: 1250px) {
    .talk_nav {
        display       : flex;
        align-items   : flex-end;
        flex-direction: column;
        height        : 240px;
        width         : 45px;
        border-radius : 2px;
        position      : fixed;
        right         : 15px;
        bottom        : 15px;
    }

    .talk_nav .border.w-100.rounded {
        margin-top: 13px;
    }

    .talk_Icon {
        height: 45px;
    }

    .talk_Icon svg {
        width: 23px;
    }

    .talk_subIcon svg {
        width: 28px;
    }
}