.complianceTasksBox {
  width: 100%;
  min-height: 460px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
  padding: 5px 10px;
}
.complianceTasksBox:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;
  width: 100%;
  margin-top: 12px;
}
.cardHeading {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat";
  color: #5a5a5a;
  text-align: left;
  margin: 0;
}

.ViewAllTaskButton {
  padding: 10px 0px !important;
  margin-top: 10px;
  font-size: 12px !important;
  width: 100%;
  border: 1px solid #e1e1e1 !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  background: #6172d6 !important;
  color: #fff !important;
}

.CardInsideHeight {
  min-height: 357px;
}
